ul.benefits-overview {
  @include make-block-grid(2,3,3,3);
  margin-top: 40px;

  >li {
    @extend .text-center;
    @include px_and_rem_directive(20px, 'margin-top');
    @include px_and_rem_directive(20px, 'margin-bottom');

    @media (min-width: $grid-float-breakpoint) {
      @include px_and_rem_directive(30px, 'margin-top');
    }
  } 

  svg {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
    path, rect { fill: inherit; }
  }

  use {
    fill: $text-color;
  }

  a {
    display: block;
    color: $text-color;
    &:hover {
      use { fill: $green; }
      p { color: $green; }
    }

    &:hover, &:focus { text-decoration: none; }
  }
}

