ul.customers {
  @include make-block-grid(2,3,4,4);
  margin-top: 40px;
  
  >li {
    @extend .text-center;
   @include px_and_rem_directive(20px, 'margin-bottom');

    div {
      background-position-x: 50%;
      height: 40px;
      /*zoom: 0.2;*/
      /*-moz-transform:scale(0.2);*/
      /*-moz-transform-origin: 0 0;*/
    }
  }
}


$percentage: 66.66666666;
.customers-logo_apg { @include resize-sprite($customers-sprites, logo_apg, $percentage); } 
.customers-logo_audi{ @include resize-sprite($customers-sprites, logo_audi, $percentage); } 
.customers-logo_betty_bossi { @include resize-sprite($customers-sprites, logo_betty_bossi, $percentage); } 
.customers-logo_carlsberg { @include resize-sprite($customers-sprites, logo_carlsberg, $percentage); } 

.customers-logo_harper_collins { @include resize-sprite($customers-sprites, logo_harper_collins, $percentage); } 
.customers-logo_kurier { @include resize-sprite($customers-sprites,
logo_kurier, $percentage); } 
.customers-logo_otavamedia { @include resize-sprite($customers-sprites,
logo_otavamedia, $percentage); } 
.customers-logo_teliasonera { @include resize-sprite($customers-sprites,
logo_teliasonera, $percentage); } 
