// Certain styles regarding navigation are defined in bootstrap-variables
$navbar-font-size:  1rem;

#site_navbar {

  &.is-fixed {
    background-color: $green;
    margin-top: 0;
  }
}

.navbar-brand {
  margin-left: 16px;
  margin-top: 9px;
  padding: 0;
  width: 154px;
  height: 32px;
}

@media (min-width: $grid-float-breakpoint) {
  .navbar-brand {
    margin-left: 0;
  }
  .navbar > .container .navbar-brand, .navbar >
  section.white:not(.header) + section.white:after .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: 0;
  }
}

.navbar-default {

  @include px_and_rem_directive(20px, 'margin-top');
  @media (max-width: $grid-float-breakpoint-max) {
    margin-top: 0;
    margin-bottom: 0;
  }

  .navbar-nav {
    >li {
      >a {
        font-weight: 500;
        &:hover {
          background-color: $navbar-default-link-active-bg;
          text-decoration: none;
        }
      }
     .btn-nav {
        margin-top: 5px;
        padding: 9px 32px;
        margin-left: 15px;
        @include button-variant($navbar-default-link-color, transparent, $navbar-default-link-color);
        &:hover {
          color: $green;
          background-color: $navbar-default-link-color;
          border-color: $navbar-default-link-color;
        }
      }
    }

    @media (min-width: $grid-float-breakpoint) {
      text-transform: uppercase;
      >li {
        >a:hover:not(.btn) {
          background-color: transparent;
          text-decoration: underline;
        }
        &.active, &.active:hover {
          a {
            text-decoration: underline;
            background-color: transparent;
          }
        }
      }
    }
  }

  .navbar-toggle {
    &:focus{ background-color: transparent; }
    &:hover{
      color: $navbar-default-bg;
      background-color: $navbar-default-toggle-hover-bg; /* must be set explicitly here because a bug with :focus selector */
      .icon-bar {
        background-color: $green;
      }
    }
  }
}

.shortcut-logo {
  width: 154px;
  height: 32px;
}