.PageStripe
  width: 100%

  &.lila
    background-color: $lila

  &.white
    background-color: $white

.PageContainer
  max-width: $max-page-width
  margin-left: auto
  margin-right: auto
  padding-left: 1em
  padding-right: 1em