.PageStripe
  width: 100%

  &.lila
    background-color: $lila
    color: $white

  &.white
    background-color: $white

.PageContainer
  max-width: $max-page-width
  margin-left: auto
  margin-right: auto
  padding: 80px 1em

  &.unpadded
    padding-top: 0
    padding-bottom: 0

  &.centered-content
    text-align: center