@charset "utf-8";

// Import bootstrap.
@import "bootstrap-variables";
@import "bootstrap-sprockets";
@import "bootstrap-custom"; /* Import only selected elements; not entire bootstrap */
@import "bootstrap-extensions";
@import "compass/css3/border-radius";
@import "compass/css3/background-clip";
@import "compass/css3/background-size";

$pattern-image: 'benefit-pattern.svg';
$white-background-color: #fff;
$grey-background-color: #f5f5f5;
$blue-background-color: #7EADC6;
$green-background-color: #6DCC8D;
$container-lg-increase-gutter-by: 30px;

@import "helper";
@import "block-grid";
@import "chevron";
@import "navbar";
@import "benefits-overview";
@import "benefits_nav";
@import "footer";
@import "documentation";


// generating sprite images
@import "customers/*.png";
@include all-customers-sprites;

@import "customers";
@import "syntax-highlighting";

// Reset browser margin, padding. Don't know why normalize doesn't handle that?
* {
  margin: 0;
  padding: 0;
}

// remove the scrollbar empty space to the right of the page body
html, body {
  overflow-x: hidden;
}

// Make the website narrower on large screens
@media (min-width: $screen-lg-min) {
  .container {
    padding-left: ceil($container-lg-increase-gutter-by * 0.5);
    padding-right: ceil($container-lg-increase-gutter-by * 0.5);
  }
}

.terminal {
  width: 100%;
  height: 240px;
  background-color: #272822;
  margin: 0 auto;

  .nav {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    background-color: #000;
  }
  .nav > li > a {
    padding: 0px 15px;
  }
  .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #ddd;
    background-color: #333;
  }
  .tab-content {
    overflow: scroll;
  }
}

.editor {
  margin: 20px;
  padding: 20px;
  width: 680px;
  height: 150px;
  line-height: 1.2rem;
  font-size: 0.8rem;
}

.one_field_input {
  .shortcut_generator_uri_item_uri {
    float: none;
  }
}


html {
  /* html's font-size is the root font-size, which means it will be used as
   * a base for rem calculation, but that's it, nothing else.
   * body's font-size is the text's default font-size: all your text should
   * have this size, unless overriding definition */
  font-size: $font-size-base; /* base font size for rem */
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  @media (min-width: $screen-sm-min) {
     /* FIXME: test this in different browsers. */
     /*Alternative use compass background with gradient*/
    /*background: image-url($pattern-image) left top repeat;*/
    background-image: image-url($pattern-image);
    /*background-color: $site-background-color;*/
    /*@include background(image-url($pattern-image),*/
                            /*linear-gradient(to bottom, $site-background-color, $site-background-color));*/
  }

  >svg {
    /* Somehow IE manaages to give the sprite SVGs a hight which pushes the content down. */
    /* Hiding them sovles the problem.                                                    */
    display: none;
  }
}

h1, .h1 {
  @include font-size(36px);
  font-weight: 700;
}

h3, h4 {
  font-weight: 300;
  letter-spacing: 1px;
}

p {
  font-weight: 300;
  @include font-size(18px);
  color: $text-color;

  a {
    color: $text-color;
    text-decoration: underline;
  }

  a.btn {
    text-decoration: none;
  }
}

.btn {
  font-weight: 500;
}

.margin-b {
  margin-bottom: 50px;
}

@media (min-width: $grid-float-breakpoint) {
  h3 {
    font-size: 32px;
  }
}


body, footer {
  > section {
    background-color: transparent;

    &:last-of-type{ height: 100%; }

    &.white{
      background-color: $white-background-color;
    }

    &.grey{
      background-color: $grey-background-color;
    }

    &.blue {
      background-color: $blue-background-color;
    }

    &.green {
      background-color: $green-background-color;
    }

    &.blue, &.green, &.transparent {
      h1, h2, h3, h4, p, a, ul { color: #fff; }
    }

    @include px_and_rem_directive(20px, 'padding-top');
    @include px_and_rem_directive(20px, 'padding-bottom');
    &.no-bottom { padding-bottom: 0; }
    @media (min-width: $grid-float-breakpoint) {
      @include px_and_rem_directive(40px, 'padding-top');
      @include px_and_rem_directive(40px, 'padding-bottom');
      &.no-bottom-sm { padding-bottom: 0; }
    }
  }
}

body>section.header {
  @include px_and_rem_directive(80px, 'padding-top');
}


@media (max-width: ($grid-float-breakpoint - 1px)) {
  h1, h2, h3, h4 {
    text-align: center;
  }
}

figure {
    background-size: cover;
    -moz-background-size: cover; /* Firefox 3.6 */
    background-position: center; /* Internet Explorer 7/8 */
}


.small-short-link-form {
  position: relative;
  height: 0;
  top: -140px;

  .short-link-form .error {
    display: block;
    margin: -0.5em 0 1em 0;
  }
}


.btn-shortcut {
  @include button-variant($navbar-default-link-color, #E9565A, #E9565A);
}

.btn-shortcut:focus, .btn-shortcut.focus {
    color: #fff;
    background-color: #E9565A;
    border-color: #E9565A;
}
.btn-shortcut:hover {
    color: #fff;
    background-color: #CE3C46;
    border-color: #CE3C46;
}

.short-link-form {

  margin: 1em 0;

  input, button, .error {
    padding-left: 3%;
    padding-right: 3%;

    @include font-size(18px);
  }

  input[type="url"] {
    color: $gray-base;
    font-weight: 300;
    min-height: 50px;
  }

  button {
    margin-bottom: 2px;
    min-height: 49px;
  }

  .error {
    color: #C42B2B;
  }

  .form-control {
    @include px_and_rem_directive(8px, 'padding-top');
    @include px_and_rem_directive(8px, 'padding-bottom');
    @include px_and_rem_directive(8px, 'margin-bottom');
    /*@media (min-width: $grid-float-breakpoint) {*/
    @media (min-width: $screen-md-min) {
      width: 60%;
      display: inline;
    }
  }

  @media (max-width: $grid-float-breakpoint-max) {
    input {
      &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, :-ms-input-placeholder {
        text-align: center;
      }
    }
    button {
      width: 100%;
    }
  }
}

.apply-btn {
  @media (max-width: $screen-xs-max) {
    width: 100%;
  }
}


// Draw a divider if two white sections follow each others
section.white:not(.header) + section.white {
  position: relative;

  &:after {
    @extend .container;
    content:"";
    background: #ebebeb;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 1170px;
    width: 94%;
    height: 1px;

    @media (min-width: $screen-sm-min) { width: ($container-sm - $grid-gutter-width) }
    @media (min-width: $screen-md-min) { width: ($container-md - $grid-gutter-width) }
    @media (min-width: $screen-lg-min) { width: ($container-lg - $container-lg-increase-gutter-by) }
  }
}


// -------------------------------------------------------------------------
// Site specific styles
// -------------------------------------------------------------------------
.index, .sem-more-app-downloads {
  >section {
    &:first-of-type {
      padding: 0 0;
    }

    &.analytics {
      @media (min-width: $screen-xs-min) { max-height: 436px; }
      @media (min-width: $screen-sm-min) { max-height: 436px; }
      @media (min-width: $screen-md-min) { max-height: 524px; }
      @media (min-width: $screen-lg-min) { max-height: 604px; }

      overflow-y: hidden;
      figure {
        margin-bottom: -1px;
      }
    }
  }
}

.benefits {
  .benefits-svg-container {
    padding: 0 10%;
    @media (min-width: $grid-float-breakpoint) {
      padding: 0 5%;
    }
  }

  section.header {
    padding-bottom: 0;
  }

  h2 {
    @include px_and_rem_directive(10px, 'margin-top');
    @include px_and_rem_directive(20px, 'margin-bottom');
  }
  p { @include px_and_rem_directive(20px, 'margin-top'); }

  @media (min-width: $grid-float-breakpoint) {
    .benefit .row {
      display: flex;
      >div {
        align-self: center;
      }
    }
    .container-short_urls, .container-app_marketing_banner {
      padding: 0 15%;
    }
  }
}

.row.vertical-center {
  display: flex;
  >div {
    align-self: center;
  }
}

.documentation {
  .side-bar {

    nav {
      max-width: 200px;

      &.affix {
        top: 20px;
      }

      a {
        color: $text-color;
        border-left: 1px solid transparent;

        &:hover, &:focus {
          text-decoration: none;
          background-color: transparent;
          border-left: 1px solid $text-color;
        }
      }

      .active > a {
          border-left: 1px solid $text-color;
      }

      >.nav {
        >li >.nav > li > a { display: none; }

        a {
          padding-bottom: 0;
        }

        .nav {
           a {
            padding-top: 0;
            padding-bottom: 0;
            font-weight: 300;
          }

          .nav {
            .nav {
              a {
                font-size: 12px;
              }
            }
          }
        }
      }

      .nav {
        padding-left: 5px;

        .nav {
          .nav {
            display: none;
          }
       }
      }

      .active {
        >.nav >li >.nav { display: block; }
        >.nav {
          ul {
            display: block;
          }
        }
      }
    }
  }

  pre.highlight {
    overflow: auto;
  }

  ul, ol {
    padding-left: 40px;
  }
}

.vignette.circle {
  max-width: 165px;
  margin: 0 auto;

  figure {
    position: relative;
    padding-top: 100% /* image ratio */
  }

  img, i {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    @include border-radius(100px);
    @include background-clip(padding-box);
  }

}

.team {
  ul{
    @include make-block-grid(2,3,4,4);
    li {
      text-align: center;
    }
  }

  .vignette {
    margin-bottom: 20px;

    &.circle {
      img, i {
        border: 1px solid $gray-light;
      }
    }
  }

  .placeholder {
    a {
      color: $text-color;
      &:hover {
        color: $green;
        i { border-color: $green; }
        text-decoration: none;
      }
    }

    figure {
      i {
        display: block;
        overflow: hidden;

        b {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          font-weight: 500;
          font-style: normal;
          padding-top: 50%;
          margin-top: (14px / (-2));
          color: $green;
        }
      }
    }
  }
}

#jobs {
  h2 {
    @include px_and_rem_directive(40px, 'margin-bottom');
  }
  h4 {
    @include font-size(20px);
    font-weight: 700;
    @include px_and_rem_directive(20px, 'margin-bottom');
  }

  ul {
    padding-left: 20px;

    font-weight: 300;
    @include font-size(18px);
  }
}

.x404 {
  .vignette {
    img {
      background-color: white;
    }
  }
}


.google-maps {
  position: relative;
  margin: 5% 5% 1%;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
  @include px_and_rem_directive(30px, 'margin-bottom');

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }

  @media (min-width: $grid-float-breakpoint) {
    margin-left: 0;
    margin-right: 0;
  }
}


blockquote {
  position: relative;
  color: $green;
  @include font-size(18px);
  line-height: 1.3;
  @include px_and_rem_directive(40px, 'margin-top');
  p {
    @include font-size(30px);
    font-weight: 500;
  }
  &:before {
    content:"“";
    position: absolute;
    top: -70px;
    @include font-size(100px);
    color: $text-color;
  }

  footer {
    @include font-size(16px);
    font-weight: 300;
    color: $text-color;
  }
}



figure.fluid {
  position: relative;
  height: 0;
  width: 100%;
  /*border: 1px dashed red;*/

  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /*border: 1px dashed blue;*/
  }

  &.svg-short_urls { padding-top: 402.6 / 318 * 100%; }
  &.svg-mobile_deep_linking { padding-top: 502 / 640 * 100%; }
  &.svg-offline_advertising { padding-top: 357.2 / 480.9 * 100%; }
  &.svg-instore_reach { padding-top: 400.8 / 538.2 * 100%; }
  &.svg-app_marketing_banner { padding-top: 466 / 364 * 100%; }
  &.svg-analytics { padding-top: 469 / 646 * 100%; }
  &.svg-ab_testing { padding-top: 392.4 / 371.4 * 100%; }
  &.svg-social_media_integration { padding-top: 315.7 / 386.6 * 100%; }
  &.svg-apply-now { padding-top: 154.0 / 267 * 100%; }
}



#teaser {
  position: relative;
  min-height: 370px;


  .linkman-wrapper {
    background-image: url("/images/linkman.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: auto 100%;
    padding-top: 250px;
    margin-top: -20px;
    padding-bottom: 60px;

    form {
      margin-bottom: 0;
    }

    @media (min-width: $grid-float-breakpoint) {
      display: none;
    }
  }

  .linkman-container {
    display: none;
    position: absolute;
    z-index: -1;
    top: -40px;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("/images/linkman.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: auto 100%;
    background-clip: border-box;

    @media (min-width: $grid-float-breakpoint) {
      display: block;
      margin-right: 0;
    }
    @media (min-width: $screen-lg-min) { margin-right: auto; }
  }

  .cta-box {
    @media (max-width: $screen-sm) {
      text-align: center;
    }
  }

  & > .container {
    @media (max-width: $screen-md) {
      text-align: center;
    }
  }

  .has-wheel-image {
    @media (min-width: $screen-md-min) {
      background-image: url("/images/measure_analyze_improve_white.png");
      background-repeat: no-repeat;
      background-position: right center;
      background-size: auto 100%;
      background-clip: border-box;
    }
    @media (min-width: $screen-lg-min) {
      background-position: right 10% center;
      // fills the space a bit better but we should consider expanding the text column to the left
    }
  }
}

.linkman-container {
  background-image: url("/images/linkman.png");
  background-repeat: no-repeat;
  background-position: 100% top;
  background-size: auto 170%;
  background-clip: border-box;
}

#call-to-action {
  position: relative;
  padding-top: 60px;
  padding-bottom: 40px;

  h2, h4 { @include font-size(28px); }

  form { margin: 0; }

  @media (min-width: $grid-float-breakpoint) {

    input {
      width: 60%;
      display: inline;
    }

    .linkman-container {
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin-right: 0;

      background-image: url("/images/linkman.png");
      background-repeat: no-repeat;
      background-position: 100% top;
      background-size: auto 170%;
      background-clip: border-box;
    }
  }
}

#measure_retention {
  @media (max-width: $screen-md) {
    text-align: center;
  }
}

#pricing_plans {

  h2 {
    margin-bottom: 1em;
  }

  .plan-card {
    background-color: white;
    border-radius: 8px;
    text-align: center;
    padding: 1.2em 0;
    margin-bottom: 4em;

    &--title {
      font-size: 20px;
    }

    &--summary {
      font-size: 14px;
      padding: 0 3em;
      min-height: 3em;
    }

    &--price, &--contact-us {
      color: $green;
      font-size: 44px;
      font-weight: 700;
      margin: 0.25em 0;

      sup, sub {
        font-size: 60%;
      }

      sub {
        bottom: 0;
      }
    }

    &--contact-us {
      font-size: 28px;
      margin: 0.8em 0;
    }

    &--features {
      background-color: #E2E2E3;
      padding: 1em;
      margin-top: 1.5em;

      & > div:first-child {
        margin-bottom: 1em;
      }
    }
  }
}

#customer_perks {

  h2 {
    margin-bottom: 2em;
  }

  .perk-card {
    text-align: center;
    margin-bottom: 4em;

    h4 {
      margin: 1em 0;
    }
  }

}

/*@import 'panda-overwrite'*/
