@charset "utf-8";

/*@import "compass/css3/images";*/

/*@import "bootstrap/variables"; [> FIXME: only temporary... delete me again <]*/
/*@import "bootstrap/mixins/vendor-prefixes"; [> FIXME: only temporary... delete me again <]*/
/*@import "bootstrap/mixins/opacity"; [> FIXME: only temporary... delete me again <]*/
/*@import "bootstrap/mixins/tab-focus"; [> FIXME: only temporary... delete me again <]*/
/*@import "bootstrap/mixins/buttons"; [> FIXME: only temporary... delete me again <]*/
/*@import "bootstrap/mixins/clearfix"; [> FIXME: only temporary... delete me again <]*/
/*@import "bootstrap/mixins/grid"; [> FIXME: only temporary... delete me again <]*/
/*@import "bootstrap/mixins/text-emphasis"; [> FIXME: only temporary... delete me again <]*/
/*@import "bootstrap/buttons"; [> FIXME: only temporary... delete me again <]*/
/*@import "bootstrap/type"; [> FIXME: only temporary... delete me again <]*/

// Import bootstrap.
@import "bootstrap-variables";
@import "bootstrap-sprockets";
@import "bootstrap-custom"; /* Import only selected elements; not entire bootstrap */
@import "compass/css3/border-radius";
@import "compass/css3/background-clip";
@import "compass/css3/background-size";

$pattern-image: 'benefit-pattern.svg';
$white-background-color: #fff;
$blue-background-color: #7EADC6;

$container-lg-increase-gutter-by: 30px;


@import "helper";
@import "block-grid";
@import "chevron";
@import "navbar";
@import "benefits-overview";
@import "benefits_nav";
@import "footer";


// generating sprite images
@import "customers/*.png";
@include all-customers-sprites;

@import "customers";

// Reset browser margin, padding. Don't know why normalize doesn't handle that?
* {
  margin: 0;
  padding: 0;
}


// Make the website narrower on large screens
@media (min-width: $screen-lg-min) {
  .container {
    padding-left: ceil($container-lg-increase-gutter-by * 0.5);
    padding-right: ceil($container-lg-increase-gutter-by * 0.5);
  }
}


.one_field_input {
  .shortcut_generator_uri_item_uri {
    float: none;
  }
}



html {
  font-size: 16px; /* base font size for rem */
}

body {

  @media (min-width: $screen-sm-min) {
     /* FIXME: test this in different browsers. */
     /*Alternative use compass background with gradient*/
    /*background: image-url($pattern-image) left top repeat;*/
    background-image: image-url($pattern-image);
    /*background-color: $site-background-color;*/
    /*@include background(image-url($pattern-image),*/
                            /*linear-gradient(to bottom, $site-background-color, $site-background-color));*/
  }

  >svg {
    /* Somehow IE manaages to give the sprite SVGs a hight which pushes the content down. */
    /* Hiding them sovles the problem.                                                    */
    display: none;
  }
}

h3, h4 {
  font-weight: lighter;
  letter-spacing: 1px;
}

p {
  font-weight: lighter;
  font-size: 1rem;
}

.margin-b {
  margin-bottom: 50px;  
}

@media (min-width: $grid-float-breakpoint) {
  h3 {
    font-size: 32px;
  }
}

.btn {
  font-weight: 300;
}


body, footer {
  > section {
    background-color: transparent;

    &:last-of-type{ height: 100%; }

    &.white{
      background-color: $white-background-color;
    }

    &.blue {
      background-color: $blue-background-color;
    }

    &.blue, &.transparent {
      h1, h2, h3, h4, p { color: #fff; }
    }

    &.blue a {
      color: $gray-light;
    }

    @include px_and_rem_directive(20px, 'padding-top');
    @include px_and_rem_directive(20px, 'padding-bottom');
    &.no-bottom { padding-bottom: 0; }
    @media (min-width: $grid-float-breakpoint) {
      @include px_and_rem_directive(40px, 'padding-top');
      @include px_and_rem_directive(40px, 'padding-bottom');
      &.no-bottom-sm { padding-bottom: 0; }
    }

    h1 {
      /*@include px_and_rem_directive(40px, 'padding-bottom');*/
    }
  }
}


@media (max-width: ($grid-float-breakpoint - 1px)) {
  h1, h2, h3, h4 {
    text-align: center;
  }
}

figure {
    background-size: cover;
    -moz-background-size: cover; /* Firefox 3.6 */
    background-position: center; /* Internet Explorer 7/8 */
}

.navbar-default {
  .navbar-nav {
    >li {
      &:hover {
        /*transform: scale(1.1);*/

      }
    }
  }
}

/*.short-url-bold-img {*/
  /*width: 50px;*/
  /*height: 50px;*/
  /*figure {*/
    /*background-size: contain;*/
    /*-moz-background-size: contain; [> Firefox 3.6 <]*/
  /*}*/

  /*[>@include figure('short-url-bold.png', 110px, 133px);<]*/
  /*@include figure('short-url-bold.png', 110px, 133px);*/
/*}*/


/*svg.analytics {*/
  /*background-color: #fff;*/
  /*width:100%;*/
  /*height: 400px;*/
/*}*/

.small-short-link-form {
  position: relative;
  height: 0;
  top: -140px;

  .short-link-form .error {
    display: block;
    margin: -0.5em 0 1em 0;
  }
}

/*.debug-grid {*/
  /*position: absolute;*/
  /*z-index: -100;*/
  /*left:0;*/
  /*right:0;*/

  /*.row {*/
    /*background-color: rgba(255, 0, 0, 0.1);*/

    /*>div {*/
      /*background-color: rgba(0,0,0,0.2);*/
      /*background-clip: content-box;*/
      /*height: 2000px;*/
    /*}*/
  /*}*/
/*}*/


.btn-shortcut {
  @include button-variant($navbar-default-link-color, #C42B2B, #C42B2B);
}

.short-link-form {

  margin: 1em 0;

  input, button, .error {
    padding-left: 3%;
    padding-right: 3%;
  }

  input[type="url"] {
    color: $gray-base;
  }

  button {
    margin-bottom: 1px;
  }

  .error {
    color: #C42B2B;
  }

  .form-control {
    @include px_and_rem_directive(8px, 'padding-top');
    @include px_and_rem_directive(8px, 'padding-bottom');
    @include px_and_rem_directive(8px, 'margin-bottom');
    @media (min-width: $grid-float-breakpoint) {
      width: 60%;
      display: inline;
    }
  }

  @media (max-width: $grid-float-breakpoint-max) {
    input {
      &::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, :-ms-input-placeholder {
        text-align: center;
      }
    }
    button {
      width: 100%;
    }
  }
}


// Draw a divider if two white sections follow each others
section.white:not(.header) + section.white {
  position: relative;

  &:after {
    @extend .container;
    content:"";
    background: $gray-light;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 1170px;
    width: 94%;
    height: 1px;

    @media (min-width: $screen-sm-min) { width: ($container-sm - $grid-gutter-width) }
    @media (min-width: $screen-md-min) { width: ($container-md - $grid-gutter-width) }
    @media (min-width: $screen-lg-min) { width: ($container-lg - $container-lg-increase-gutter-by) }
  }
}

section {
  /*border: 1px dashed grey;*/

  .row {
    /*border: 1px dashed yellow;*/
  }
}

// -------------------------------------------------------------------------
// Site specific styles
// -------------------------------------------------------------------------
.index {
  >section {
    &:first-of-type {
      padding: 0 0;
    }

    &.analytics {
      max-height: 500px;
      overflow-y: hidden;
      figure {
        margin-bottom: -1px;
      }
    }
  }
}

.benefits {
  .benefits-svg-container {
    padding: 0 10%;
    @media (min-width: $grid-float-breakpoint) {
      padding: 0 5%;
    }
  }

  h2 {
    @include px_and_rem_directive(10px, 'margin-top');
    @include px_and_rem_directive(20px, 'margin-bottom');
  }
  p { @include px_and_rem_directive(20px, 'margin-top'); }

  @media (min-width: $grid-float-breakpoint) {
    .benefit .row {
      display: flex;
      >div {
        align-self: center;
      }
    }
    .container-short_urls, .container-app_marketing_banner {
      padding: 0 15%;
    }
  }
}

.row.vertical-center {
  display: flex;
  >div {
    align-self: center;
  }
}

.documentation {
  .side-bar {

    nav {
      /*background-color: $gray-light;*/
      /*padding-left: 5px;*/
      /*padding-right: 5px;*/

      a {
        color: $text-color;
        border-left: 1px solid transparent;

        &:hover, &:focus {
          text-decoration: none;
          background-color: transparent;
          border-left: 1px solid $text-color;
        }
      }
    }
  }

}


.team {
  ul{
    @include make-block-grid(2,3,4,4);
    li {
      text-align: center;
    }
  }

  $vigniette-dim: 165px;

  .vignette {
    max-width: 165px;
    margin: 0 auto;

    figure {
      position: relative;
      padding-top: 100% /* image ratio */
    }



    img, i {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border: 1px solid $gray-light;
      @include border-radius(100px);
      @include background-clip(padding-box);
    }
  }

  .placeholder {
    a {
      color: $text-color;
      &:hover {
        color: $green;
        i { border-color: $green; }
        text-decoration: none;
      }
    }

    figure {
      i {
        display: block;
        overflow: hidden;

        b {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          font-weight: normal;
          font-style: normal;
          padding-top: 50%;
          margin-top: (14px / (-2));
        }
      }
    }
  }
}


.google-maps {
  position: relative;
  margin: 5% 5% 1%;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }

  @media (min-width: $grid-float-breakpoint) {
    margin-left: 0;
    margin-right: 0;
  }
}


blockquote {
  position: relative;
  color: $green;
  @include font-size(18px);
  line-height: 1.3;
  @include px_and_rem_directive(40px, 'margin-top');
  &:before {
    content:"“";
    position: absolute;
    top: -40px;
    @include font-size(66px);
    color: $text-color;
  }

  footer {
    @include font-size(12px);
  }
}
















.svg-test {
  .svgstyletest {
    fill: skyblue;
  }



  svg {
    width: 100px;
    height: 125px;
    border: 1px solid #ddd;
  }
  use.ic-1 {
    fill: skyblue;
  }
  use.ic-2 {
    fill: #FDC646;
  }
  use.ic-3 {
    fill: #FF2D49;
  }
  use.ic-4 {
    fill: #FF2D49;
  }
  use.ic-5 {
    fill: #FF2D49;
  }


  svg:hover use.ic-4 {
    fill: blue;
  }

  svg path, svg rect {
   fill: inherit !important;
  }
}

.test_fluid {
  width: 100%;

}


svg.egg-test{

  width: 100%;
  height: 100%;
}

/*svg use.use_benefits-short-url {*/
  /*fill:yellow !important;*/

/*}*/


/*.svgstyle {*/
  /*fill: yellow;*/
/*}*/



.li-alignment-test {

  ul {
    background: green;
    border: 1px solid black;
    display: table;
    table-layout: fixed;
    width:100%;


    li {
      display: table-cell;
      /*width: 20%;*/

    }


  }

}



/*svg{*/
  /*&.offline_advertising,*/
  /*&.instore_reach,*/
  /*&.app_marketing_banner,*/
  /*&.analytics,*/
  /*&.ab_testing,*/
  /*&.social_media_integration*/
  /*{*/
    /*width:100%;*/
    /*height: 400px;*/
    /*use { width:100%; }*/
    /*padding-left: 10%;*/
    /*padding-right: 10%;*/
  /*}*/
/*}*/




.svg-ultimate-container {
  position: relative;
  height: 0;
  width: 80%;
  padding-top: 24 / 20 * 80%;


  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}


.svg-test-wrapper2 {
  padding: 20%;

}

figure.fluid {
  position: relative;
  height: 0;
  width: 100%;
  /*border: 1px dashed red;*/

  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /*border: 1px dashed blue;*/
  }

  &.svg-short_urls { padding-top: 402.6 / 318 * 100%; }
  &.svg-mobile_deep_linking { padding-top: 502 / 640 * 100%; }
  &.svg-offline_advertising { padding-top: 357.2 / 480.9 * 100%; }
  &.svg-instore_reach { padding-top: 400.8 / 538.2 * 100%; }
  &.svg-app_marketing_banner { padding-top: 466 / 364 * 100%; }
  &.svg-analytics { padding-top: 469 / 646 * 100%; }
  &.svg-ab_testing { padding-top: 392.4 / 371.4 * 100%; }
  &.svg-social_media_integration { padding-top: 315.7 / 386.6 * 100%; }
  &.svg-apply-now { padding-top: 154.0 / 267 * 100%; }
}



#teaser {
  position: relative;
  min-height: 370px;


  .linkman-wrapper {
    background-image: url("/images/linkman.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: auto 100%;
    padding-top: 250px;
    margin-top: -20px;
    padding-bottom: 60px;

    form {
      margin-bottom: 0;
    }

    @media (min-width: $grid-float-breakpoint) {
      display: none;
    }
  }

  .linkman-container {
    display: none;
    position: absolute;
    z-index: -1;
    top: -40px;
    bottom: 0;
    left: 0;
    right: -20px;
    background-image: url("/images/linkman.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: auto 100%;
    background-clip: border-box;

    @media (min-width: $grid-float-breakpoint) { display: block; }
    @media (min-width: $screen-sm-min) { right: -10px; }
    @media (min-width: $screen-md-min) { right: -30px; }
    @media (min-width: $screen-lg-min) { right: -40px; }
  }
}

.linkman-container {
  background-image: url("/images/linkman.png");
  background-repeat: no-repeat;
  background-position: 100% top;
  background-size: auto 170%;
  background-clip: border-box;

}

#call-to-action {
  position: relative;
  @media (min-width: $grid-float-breakpoint) {
    .linkman-container {
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: -30px;

      background-image: url("/images/linkman.png");
      background-repeat: no-repeat;
      background-position: 100% top;
      background-size: auto 170%;
      background-clip: border-box;
    }
  }
}
