@charset "utf-8";

// Do not import normalize with bootstrap as bootstrap already comes with normalize
// @import "normalize";

// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass.
// `@import "bootstrap"` imports all of bootstrap. That is ok for debugging but
// do not do that in production. Instead import only what is neede in bootstrap-custom.
// @import "bootstrap";
@import "bootstrap-custom";

$navbar-font-size: 1.46rem;
$title-green: #78d298;
$gray: #999999;

body {
  background: #fff;
  text-align: center;
  font-family: "ars-maquette-web", sans-serif;
  font-size: 1em;
}

h1, h2, p {
  font-family: "ars-maquette-web", sans-serif;
  margin: 0;
}

//** NAVBAR **//
.navbar {
  background-color: transparent;
  background: transparent;
  border-color: transparent;
  padding-top: 11px;
  font-size: $navbar-font-size;
  font-weight: 300;
  letter-spacing: 1px;
  padding-top: 22px;
}

.navbar-inverse {

  .navbar-nav {

    li {

      a {
        color: #fff;   
      }
    }
  }
}

.nav {

  li {

    a {
      padding-left: 35px;
      padding-right: 35px;
    }
  }
}

.navbar-nav {

  li {

    a {
      padding-top: 9px;
      padding-bottom: 9px;
    }
  }
}

.navbar-brand {
  padding: 4px 15px;
}

.navbar-collapse {
  padding: 0;
}

.btn-default {
  background-color: transparent;
  border-color: #fff;
}

.btn {
  font-size: $navbar-font-size;
  font-weight: 300;
  letter-spacing: 1px;
}
//** END NAVBAR **//


//** TEASER **//
#teaser {
  background: url(image_path('/images/shortcut-teaser.png')) left top repeat;
  background-color: $title-green;
  
  .claim {
    margin-top: 100px;  
  }

  h1 {
    color: #fff;
    font-size: 4rem;
    text-align: left;
    font-weight: bold;
    height: 52px;
    letter-spacing: 1px;
  }  

  h2 {
    color: #fff;
    font-size: 3.9375rem;
    text-align: left;
    font-weight: lighter;
    line-height: 48px;
    letter-spacing: 1px;
  }  
  
  p {
    color: #fff;
    font-size: 18px;
    text-align: left;
    font-weight: lighter;
    margin-top: 12px;
  }
}
//** END TEASER **//


//** FEATURES **//
#features {
  background-color: #fff;
  height: 848px;
  padding-top: 93px; 
  
  h1 {
    color: #666666;
    font-size: 3.9375rem;
    text-align: center;
    font-weight: normal;

    .green {
      color: $title-green;
    }
  }  
}
//** END FEATURES **//

//** DASHBOARD PREVIEW **//
#dashboard-preview {
  background-color: #89b6cd;
  padding-top: 93px; 
  
  h1 {
    color: #fff;
    font-size: 3.9375rem;
    text-align: center;
    font-weight: normal;
  }  
  
  img {
    margin-top: 60px;
  }
}
//** END DASHBOARD PREVIEW **//

//** CUSTOMERS **//
#customers {
  background-color: #fff;
  padding-top: 93px; 
  
  h1 {
    color: #666666;
    font-size: 3.9375rem;
    text-align: center;
    font-weight: normal;

    .green {
      color: $title-green;
    }
  }  
  
  .logos {
    margin-top: 40px;
    margin-bottom: 83px; 
  }
  
  img {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
//** END CUSTOMERS **//

//** CALL TO ACTION **//
#call-to-action {
  background: url(image_path('/images/shortcut-teaser.png')) left top repeat;
  background-color: $title-green;
  height: 250px;
  padding-top: 48px; 
  
  h1 {
    color: #fff;
    font-size: 2.7rem;
    text-align: left;
    font-weight: normal;
  }  

  h2 {
    color: #fff;
    font-size: 2.7rem;
    text-align: left;
    font-weight: lighter;
  }  
}
//** END CALL TO ACTION **//

//** FOOTER **//
#footer {
  background-color: #fff  ;
  padding-top: 36px; 
  padding-bottom: 21px; 
  
  ul {
    list-style-type: none;
    text-align: left;
    padding-left: 0;
  
    li {
      margin-bottom: 15px;
    }
  }
  
  a {
    font-size: 1.25rem;
    color: $gray;
  }
  
  li {
    font-size: 1.25rem;
    color: $gray;
  }
  
  .social {
    margin-right: 10px;
  }
}
//** END FOOTER **//

