<!DOCTYPE html>
<html class="no-js">

  <%# No conditional statments here!!! Otherwise X-UA-Compatible directive       %>
  <%# to prevent IE to render in compatability mode is ignored. HTML5Boilerplate %>
  <%# got that wrong in the past. See http://goo.gl/XbKtbF                       %>

    <head>
        <meta charset="utf-8">
        <%# No conditional statments before this meta tag. See http://goo.gl/XbKtb %>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <!-- Use title if it's in the page YAML frontmatter -->
        <title><%= current_page_title || 'Shortcut · Easy to use Interactive Print Solution' %></title>
        <meta name="description" content="Easy to use Interactive Print Solution">
        <meta name="viewport" content="initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
        <link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196">
        <link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
        <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
        <meta name="msapplication-TileColor" content="#2b5797">
        <meta name="msapplication-TileImage" content="/mstile-144x144.png">

        <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
        <%= stylesheet_link_tag "style" %>
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>

        <%# Polyfill IE with mediaqueries %>
        <!--[if lt IE 9]>
          <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
        <![endif]-->

    </head>

    <!--[if lt IE 8 ]>
    <body class="ie-not-supported">
    <![endif]-->
    <!--[if IE 8]>
    <body class="ie-8">
    <![endif]-->
    <!--[if IE 9]>
    <body class="ie-9">
    <![endif]-->
    <!--[if !IE]> -->
    <body class="modern-browser"><%# According to the conditional comment this is not IE 5-9 %>
    <!-- <![endif]-->


        <!--[if lt IE 8]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <%= yield %>

        <%= javascript_include_tag "main" %>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-33611350-2'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
