.SiteHeader
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  color: $white
  padding-top: 1em
  padding-bottom: 1em

  .brand
    flex: 0 0

    svg
      width: 160px
      height: 40px

  .site-menu
    flex: 1 0
    text-align: right

    li
      text-transform: uppercase
      padding: 0 1.5em

  .session-buttons
    flex: 0 0 280px
    text-align: right

    .button
      text-transform: uppercase

    .button + .button
      margin-left: 1.5em


  .hamburguer-button
    display: none
    fill: $white
    flex: 0 0
    margin-left: 1em
    cursor: pointer

    svg
      width: 40px
      height: 40px

  // too much below 840px and the header content collapses on itself
  // time to show mobile menu
  @media(max-width: 840px)
    .hamburguer-button
      display: block
    .site-menu, .session-buttons
      display: none

