@import "_signup_clip";

.page-wrap > header{
  $top-distance: 0.5em;

  #signup-clip{ display: block; }
  #signup-clip-mobile{ display: none; }

  .logo { 
    padding-top: $top-distance;
    position: absolute;
  }

  .nav-container {
    @media only screen and (min-width: 480px) and (max-width: 995px) {
      width: 100%;
      padding-left: 142px;
    }
  }

  nav {
    @include debug-border(magenta);
    padding-top: $top-distance;
    margin-right: 134px;
    overflow: hidden;
    h2 { 
      margin: 0;
      @include font-size(18);
      line-height: 1.6;
      white-space: nowrap;
    }

    a{ 
      color: $dark-font-color;
      text-decoration: none;
      &:hover{ 
        color: $dark-font-color-hovered; 
        text-decoration: underline;
      }
    }

    ul{
      text-align: justify;
      font-size: 0.1px; /* IE 9 & 10 don't like font-size: 0; */
      &:after {
        content: '';
        width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
        display: inline-block;
      }

      /* nav items are evenly distirbuted to use the whole available with, but
       * after a certain width the distance between the items becomes to large.
       * Therefore the max-width. 
       */
      max-width: 510px; max-width: (510px / 16px) + rem;
    }
    li{
      display: inline-block; 
      padding-top: 3px;
      @include debug-border(red);
    }
    .padder { 
      width: 0px; /* invisible */ 
      &:first-child{ margin-left: -30px; }
    }

    @include media-widescreen {
      h2 { @include font-size(20); }
    }

    @include media-tablet-size {
      .padder { 
        &.alpha { margin-left:-0.3rem; }
        &.omega { margin-right: -0.3rem; }
      }
    }

    @include media-mobile-size {
      ul{
        text-align: left;
        padding-left: 0; 
      }
      li{ margin-right: 0.875rem; }
      .padder{ display: none; }
    }

    @media only screen and (max-width: 606px) { /* arbitrary size only for main navigation */
      ul{ padding-left: 0.5rem; }
    }
  }

  @include media-widescreen {
    .logo { 
      /* because the font-size is increased the logo has to be re-aligned */
      margin-top: 2px;
      position: relative; 
    }
   }

  @include media-portrait-to-landscape-mobile-size {
    $divider-padding: 2%;
    background-color: white;
    $top-distance: 0;

    @include border-radius-pie(0px 0px $border-radius);
    padding: 8px; padding: 0.5rem;
    padding-bottom: 4px; padding-bottom: 0.25rem;
    margin-bottom: 16px; margin-bottom: 1rem;

    #signup-clip{ display: none; }
    #signup-clip-mobile{ 
      display: block; 
      padding: 8px;
      margin-right: 8px;
    }


    nav { 
      margin-right: 0;
      padding-top: $top-distance;
      ul { padding-left: 0; }
    }

    .nav-container { 
      padding-left: $divider-padding; 
    }
    .logo {
      position: relative;
      padding-top: $top-distance;
      padding-right: $divider-padding;

      &:after { /* divider line */
        content:'';
        position: absolute;
        top: 10%;
        bottom: 10%;
        right:0;
        border-right: 1px solid $page-background-color;
      }
    }
    .sharing-links{ display: none; }
  }
}

#logo {
  figure {
    max-width: 132px;
    line-height: 0;

    @mixin media-widescreen {
      max-width: 144px;
      line-height: 0;
    }
  }

  a{ 
    display: block;
    &:hover {
      svg path{ fill: $dark-font-color-hovered !important; }
    }
  }

  /* Make logo align with nav links even when logo starts to*/
  /* shrink. It doesn't matter that the height is smaller than*/
  /* the actual image.*/
  display: table-cell;
  height: 30px;
  vertical-align: bottom;
  /*svg{ height: 32px; }*/
}

.sharing-links {
  top: 2px;
  right: -1.75em;
  line-height: 1;
  position:absolute;;
  height: 0;

  a{ 
    display: block;
    &:hover {
      svg .background {
        * { 
          fill: $dark-font-color-hovered !important; 
        }
      }
    }
  }

  figure svg { width: 24px; }
}


@mixin ie-svg-hacks {
  /* fix containing element height bug */
  #shortcut_logo_rgb_small_shutter svg { max-width: 144px; max-height: 35px; } 
  #button_share_facebook,
  #button_share_twitter,
  #button_linkedin,
  #button_youtube {
    svg { max-width: 24px; max-height: 24px; } 
  }
}


@include apply-to-ie10_and_higher {
  /* IE10+ specific styles go here */  
  @include ie-svg-hacks;
  .page-wrap > header nav .padder.alpha { margin-left: 0px !important; }
}

@include apply-to-ie9-only {
  @include ie-svg-hacks;
  .page-wrap > header nav .padder.alpha { margin-left: 0px !important; }
}
@include apply-to-ie8-only {
  .page-wrap > header {
    nav{ 
      h2 { margin-top: 8px; }
    }
  }
}

.no-svg {
  @include def_info_graphic('shortcut_logo_rgb_small_shutter', 132px, 32px);
  @include def_info_graphic('button_share_facebook', 24px, 24px);
  @include def_info_graphic('button_share_twitter', 24px, 24px);
  @include def_info_graphic('button_linkedin', 24px, 24px);
  @include def_info_graphic('button_youtube', 24px, 24px);

  a:hover{
    @include def_info_graphic('button_share_facebook', 24px, 24px, '_hovered');
    @include def_info_graphic('button_share_twitter', 24px, 24px, '_hovered');
    @include def_info_graphic('button_linkedin', 24px, 24px, '_hovered');
    @include def_info_graphic('button_youtube', 24px, 24px, '_hovered');
  }

  figure { margin-bottom: 2px; }
}


