@import "_signup_clip";

header {
  $top-distance: 0.5em;
  #signup-clip{ display: block; }
  #signup-clip-mobile{ display: none; }

  .logo { 
    padding-top: $top-distance; 
    /*width: 100%;*/
    /*max-width: 134px;*/
  }
  nav {
    padding-top: $top-distance;
    overflow: hidden;
    /*padding-left: 0.25rem;*/
    h2 { 
      margin: 0;
      @include font-size(18);
      line-height: 1.6;
      white-space: nowrap;
    }

    a{ 
      color: $dark-font-color;
      text-decoration: none;
      &:hover{ 
        color: $dark-font-color-hovered; 
        text-decoration: underline;
      }
    }

    ul{
      text-align: justify;
      font-size: 0.1px; /* IE 9 & 10 don't like font-size: 0; */
      &:after {
        content: '';
        width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
        display: inline-block;
      }

      /* nav items are evenly distirbuted to use the whole available with, but
       * after a certain width the distance between the items becomes to large.
       * Therefore the max-width. 
       */
      max-width: 510px; max-width: (510px / 16px) + rem;
    }
    li{
      display: inline-block; 
      padding-top: 3px;
      @if $debug { box-shadow: 0 0 2px red inset };
    }
    .padder { 
      width: 0px; /* invisible */ 
      &:first-child{ margin-left: -30px; }
    }
  }

}

#logo {
  figure {
    max-width: 132px;
    line-height: 0;
  }

  a{ 
    display: block;
    &:hover {
      svg path{ fill: $dark-font-color-hovered !important; }
    }
  }

  /* Make logo align with nav links even when logo starts to*/
  /* shrink. It doesn't matter that the height is smaller than*/
  /* the actual image.*/
  display: table-cell;
  height: 30px;
  vertical-align: bottom;
  /*svg{ height: 32px; }*/
}

.sharing-links {
  top: 2px;
  right: -1.75em;
  line-height: 1;
  position:absolute;;
  height: 0;

  a{ 
    display: block;
    &:hover {
      svg .background {
        * { 
          fill: $dark-font-color-hovered !important; 
        }
      }
    }
  }

  figure svg { width: 24px; }
}


@mixin ie-svg-hacks {
  /* fix containing element height bug */
  #shortcut_logo_rgb_small_shutter svg { max-width: 144px; max-height: 35px; } 
  #button_share_facebook,
  #button_share_twitter,
  #button_linkedin,
  #button_youtube {
    svg { max-width: 24px; max-height: 24px; } 
  }
}


/*@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  */
@include apply-to-ie10_and_higher {
  /* IE10+ specific styles go here */  
  @include ie-svg-hacks;
  header nav .padder.alpha { margin-left: 0px !important; }
}

@include apply-to-ie9-only {
  @include ie-svg-hacks;
  header nav .padder.alpha { margin-left: 0px !important; }
}
@include apply-to-ie8-only {
  header {
    nav{ 
      h2 {
        margin-top: 8px;
      }
    }
  }
}


.no-svg {
  @include def_info_graphic('shortcut_logo_rgb_small_shutter', 132px, 32px);
  @include def_info_graphic('button_share_facebook', 24px, 24px);
  @include def_info_graphic('button_share_twitter', 24px, 24px);
  @include def_info_graphic('button_linkedin', 24px, 24px);
  @include def_info_graphic('button_youtube', 24px, 24px);

  a:hover{
    @include def_info_graphic('button_share_facebook', 24px, 24px, '_hovered');
    @include def_info_graphic('button_share_twitter', 24px, 24px, '_hovered');
    @include def_info_graphic('button_linkedin', 24px, 24px, '_hovered');
    @include def_info_graphic('button_youtube', 24px, 24px, '_hovered');
  }

  figure { margin-bottom: 2px; }

}

/* Wide screen monitors wider than 996px */
@media only screen and (min-width: 996px) {
  header {
    nav{
      h2 { 
        @include font-size(20);
      }
    }
  }
  #logo {
    figure {
      max-width: 144px;
      line-height: 0;
    }
  }
}

/* Tablet Portrait size to Base 996px */
@media only screen and (min-width: 768px) and (max-width: 995px) {
  header {
    nav{
      .padder { 
        &.alpha { margin-left:-0.3rem; }
        &.omega { margin-right: -0.3rem; }
      }
    }
  }
}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {
  header {
    nav{
      ul{
        text-align: left;
        padding-left: 0; 
      }
      li{ margin-right: 0.875rem; }
      .padder{ display: none; }
    }
  }
}

/* arbitrary size only for main navigation */
@media only screen and (max-width: 606px) {
  header {
    nav{ 
      ul{ padding-left: 0.5rem; }
    }
  }
}

/* Mobile Landscape Size to Tablet Portrait */
@media only screen and (min-width: 480px) and (max-width: 767px) {

}

/* Mobile Portrait Size to Mobile Landscape Size */
@media only screen and (max-width: 479px) {

  header {
    $divider-padding: 2%;
    $top-distance: 0;
    background-color: white;
    @include border-bottom-left-radius($border-radius);
    @include border-bottom-right-radius($border-radius);
    padding: 8px; padding: 0.5rem;
    padding-bottom: 4px; padding-bottom: 0.25rem;

    #signup-clip{ display: none; }
    #signup-clip-mobile{ 
      display: block; 
      padding: 0.5em 0; 
    }

    nav { 
      padding-left: $divider-padding; padding-top: $top-distance;
      ul { padding-left: 0; }
    }

    .logo {
      position: relative;
      padding-top: $top-distance;
      padding-right: $divider-padding;

      &:after { /* divider line */
        content:'';
        position: absolute;
        top: 10%;
        bottom: 10%;
        right:0;
        border-right: 1px solid $page-background-color;
      }
    }

    .sharing-links{ display: none; }
  }
}


