@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}

@function px-to-rem($size, $base:16) {
  @return (strip-units($size) / $base) + rem;
}

@function rem-to-px($size, $base:16) {
  @return (strip-units($size) * $base) + px;
}

@mixin px_and_rem_directive($size, $css-directive) {
  $size_unit: to-lower-case(unit($size));
  @if $size_unit == 'px' {
    #{$css-directive}: $size;
    #{$css-directive}: px-to-rem($size);
  }
  @if $size_unit == 'rem' {
    #{$css-directive}: rem-to-px($size);
    #{$css-directive}: $size;
  } 

  @if unitless($size) {
    #{$css-directive}: $size + px;
    #{$css-directive}: px-to-rem($size);
  }

}
@mixin font-size($size) {
  @include px_and_rem_directive($size, 'font-size');
}

@mixin margin-top($size) {
  @include px_and_rem_directive($size, 'margin-top');
}

@mixin margin-bottom($size) {
  @include px_and_rem_directive($size, 'margin-bottom');
}

@mixin display-flex {
  display: -webkit-box; /* old syntax, only used by older webkit browsers */
  display: -ms-flexbox; /* 2012 syntax, only used by IE 10 */
  display: -webkit-flex;
  display: flex; /* latest syntax */ 
}

@mixin flex-order($num) {
  -webkit-box-ordinal-group: $num; /* old syntax, only used by older webkit browsers */
  -ms-flex-order: $num; /* 2012 syntax, only used by IE 10 */
  -webkit-order: $num;
  order: $num; /* latest syntax */
}

@mixin flex-align-self($value) {
  -ms-flex-item-align: $value; /* 2012 syntax, only used by IE 10 */
  -webkit-align-self: $value;
  align-self: $value; /* latest syntax */
}

@mixin border-radius-pie($border-radius) {
  @include border-radius($border-radius);
  behavior: url(js/vendor/PIE.htc); /* IE6-9 rounded corners */
}

@mixin apply-to-ie8-only {
  .ie-8 {
    @content;
  }
}


@mixin apply-to-ie9-only {
  .ie-9 {
    @content;
  }
}

@mixin apply-to-ie10_and_higher {
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
    /* IE10+ specific styles go here */  
    @content;
  }
}


@mixin debug-border($color: 'red') {
  @if $debug { box-shadow: 0 0 2px $color inset };
}


/* Replace svg images with png background images for IE8
 * Let's assume IE8 runs on non-retina displays therefore
 * we use low resolution images as fallback.
 */
@mixin def_info_graphic($id, $width, $height, $suffix: '') {
  ##{$id} {
    background-image: url('../img/#{$id}#{$suffix}.png');
    width: $width;
    height: $height;
    /* IE 9 and before */
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/#{$id}#{$suffix}.png', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/#{$id}#{$suffix}.png', sizingMethod='scale')";
  }
} 


