@mixin def-color-scheme($id, $aside-color, $article-color, $gradient-stop-color) {
   &.color-scheme-#{$id} {
    background-color: $aside-color; 
    article{
      background-color: $article-color;
      a.button{ color: $article-color; }
    }
    aside{
      a{ color: $aside-color; }
    }
    svg{
      stop { 
        stop-color: $aside-color !important;
        &:first-child {
          stop-color: $gradient-stop-color !important;
        }
      }
    }
  }
}

.info-box-3 {
  @include border-radius-pie($border-radius);
  article { 
    @include border-radius-pie($border-radius); 
  }

  article, aside {
    float: left;
    width: 100%;
    @include box-sizing(border-box);
    @include debug-border(blue);
  }

  /* Styling */
  h1, h2, p, ul, a, small {
    color: white;
    font-weight: $light-font;
  }
  h1 { font-weight: $normal-font; }


  h2:first-child, p:first-child { margin-top: 0; }

  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  figure { 
    margin: 0 auto; /* center image */
    max-width: 176px;
    svg{ 
      display: block;
    }
  }

  /* All non-Mobile Sizes */
  @media only screen and (min-width: 768px) {
    &.half {
      article, aside{ width: 50%;}
    }

    &.third {
      $article-width: 62.5%;
      article{ width: $article-width; }
      aside{ width: 100% - $article-width; }
    }

    &.info-left {
      aside { float: right; }
    }
  }

  @include def-color-scheme(1, $color-eggshell, $color-deep-carrot-orange, #19161A);
  @include def-color-scheme(2, $color-pale-gold, $color-carrot-orange, #19161A);
  @include def-color-scheme(3, $color-peachpuff, $color-lightsalmon, #19161A);
  aside { 
    a{ color: $dark-font-color-hovered !important; }
    h1, h2, h3, p, ul, li{ color: $dark-font-color; }
  }
}


/* use flexbox if browser supports it */
.flexbox {
  .info-box-3 {

    /* All non-Mobile Sizes */
    @media only screen and (min-width: 768px) {
   
      &.third, &.half {
        .inner-wrapper {
          @include display-flex;
        }
        article {
          @include flex-order(2);
          &.centered {
            /* works only with newer browsers */
            display: flex;
            align-items: center; 
          }
        }
        aside {
          @include flex-order(1);
          @include flex-align-self(center);
        }

        &.info-left {
          aside { @include flex-order(2); }
          article { @include flex-order(1); }
        }
      }
    }
  }
}

.modern-browser {
  .info-box-3.chevron {
    article {
      position: relative;
      &:before {
        $chevron-width: 40px;
        content:'';
        border-top: $chevron-width solid transparent;
        border-bottom: $chevron-width solid transparent;
        border-left: $chevron-width solid $color-deep-carrot-orange;
        position: absolute;
        top: 50%;
        right: -40px;
        margin-top: -$chevron-width;
        width: 0;
        height: 0;
      }
    }

    @include media-mobile-size {
      $chevron-width: 40px;
       article {
        position: relative;

        &:before{ 
          border-right: $chevron-width solid transparent;
          border-left: $chevron-width solid transparent;
          border-top: $chevron-width solid $color-deep-carrot-orange;
          border-bottom: 0;
          top: auto;
          left: 50%;
          bottom: -$chevron-width;
          margin-left: -$chevron-width;
        }
      }
      aside {
        margin-top: $chevron-width;
      }

      &:before {
        display: none;
      }
    }
  }
}

