@mixin def-color-scheme($id, $aside-color, $article-color, $gradient-stop-color) {
   &.color-scheme-#{$id} {
    background-color: $aside-color; 
    article{
      background-color: $article-color;
      a{ color: $article-color; }
    }
    aside{
      a{ color: $aside-color; }
    }
    svg{
      stop { 
        stop-color: $aside-color !important;
        &:first-child {
          stop-color: $gradient-stop-color !important;
        }
      }
    }
  }
}

.info-box-3 {
  $box-padding: 3%;
  @include border-radius-pie($border-radius);
  article { 
    @include border-radius-pie($border-radius); 
  }

  article, aside {
    float: left;
    width: 100%;

    @if $debug { box-shadow: 0 0 2px blue inset };
  }

  &.box-padded {
    article, aside { 
      padding: ($box-padding - 1%) $box-padding;
      width: 100% - (2 * $box-padding); 
    }
  }

  h2, p, ul {
    /*margin-left: 16px;*/
    /*margin-left: 1rem;*/
    /*margin-right: 16px;*/
    /*margin-right: 1rem;*/
  }

  /* Styling */
  h1, h2, p, ul {
    color: white;
    font-weight: $light-font;
  }
  h1 { font-weight: $normal-font; }


  h2:first-child, p:first-child { margin-top: 0; }

  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  figure { 
    /*padding: 10% 15% 5% 15%;*/
    margin: 0 auto; /* center image */
    max-width: 176px;
    svg{ 
      display: block;
    }
  }

  /* All non-Mobile Sizes */
  @media only screen and (min-width: 768px) {

    &.half, &.third {
      article, aside { padding: $box-padding; }
    }

    &.half {
      article, aside{ width: 50%;}
      &.box-padded{
        article, aside{ width: 50% - (2 * $box-padding); }
      }
    }

    &.third {
      $article-width: 62.5%;
      article{ width: $article-width; }
      aside{ width: 100% - $article-width; }

      &.box-padded {
        article{ width: $article-width - (2 * $box-padding); }
        aside { width: 100% - $article-width - (2 * $box-padding); }
      }
    }

    &.info-left {
      aside { float: right; }
    }

    &.flexbox.third, &.flexbox.half {
      .inner-wrapper {
        @include display-flex;
      }
      article {
        @include flex-order(2);
        &.centered {
          /* works only with newer browsers */
          display: flex;
          align-items: center; 
        }
      }
      aside {
        @include flex-order(1);
        @include flex-align-self(center);
      }

      &.info-left {
        aside { @include flex-order(2); }
        article { @include flex-order(1); }
      }
    }
  }

  @include def-color-scheme(1, $color-eggshell, $color-deep-carrot-orange, #19161A);
  @include def-color-scheme(2, $color-pale-gold, $color-carrot-orange, #19161A);
  @include def-color-scheme(3, $color-peachpuff, $color-lightsalmon, #19161A);
  aside { 
    a{ color: $dark-font-color-hovered !important; }
    h1, h2, h3, p, ul, li{ color: $dark-font-color; }
  }
}

.modern-browser {
  .info-box-3.chevron {
    position: relative;

    &:before {
      $chevron-width: 40px;
      content:'';
      border-top: $chevron-width solid transparent;
      border-bottom: $chevron-width solid transparent;
      border-left: $chevron-width solid $color-deep-carrot-orange;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-top: -$chevron-width;
      margin-left: -4px;
    }
  }

  @media only screen and (max-width: 767px) {
    .info-box-3.chevron:before{ display: none; }
  }
}























.info-box-2 {
  @include border-radius($border-radius);
  color: white;
  position: relative;

  h2 {
    margin-top: 0;
    font-weight: $light-font;
  }

  &.image-bottom {
    h2{
      margin: 0;
      a{
        font-size: 1rem;
        float:right;
      }
    }
  }

  aside { 
    width: 37.5%; 
    figure { 
      padding: 10% 15% 5% 15%;
      margin: 0 auto; /* center image */
      max-width: 176px;
      svg{ 
        display: block;
      }
    }

    &.image-grid {
      $image-margin: 1%;
      img{
        float:left;
        margin: $image-margin;
        width: (100% / 3) - ( 2 * $image-margin);
      }
    }
  }

  article {
    @include border-radius($border-radius);
    width: 62.5%;
    padding: 3%;

    &.visible {
      width: 56.5%;
      position: absolute;
      top: 0;
      bottom: 0;
      right:0;
    }
  }

  &.image-right {
    aside{ float: right; }
    article.visible{
      left: 0;
    }
  }

  &.image-bottom{
    article, aside {
      width: 100%;
    }
  }

  .picture-box {
    $box-content-padding: ((100% - 37.5%) / 100) * 5;
    /*padding: 0.5em;*/
    float: right;
    padding: ($box-content-padding - $customers-image-margin);

    img{
      float:left;
      margin: $customers-image-margin;
      width: (100% / 3) - ( 2 * $customers-image-margin);
    }
  }


  &.info-box-color1 {
    background-color: $color-eggshell; 
    article{
      background-color: $color-deep-carrot-orange;
      a{ color: $color-deep-carrot-orange; }
    }
    svg{
      stop { 
        stop-color: $color-eggshell !important;
        &:first-child {
          stop-color: #19161A !important;
        }
      }
    }
  }

  &.info-box-color2 {
    background-color: $color-pale-gold;
    article {
      background-color: $color-carrot-orange; 
      a{ color: $color-carrot-orange; }
    }
  }

  &.info-box-color3 {
    background-color: $color-peachpuff; 
    article{
      background-color: $color-lightsalmon;
      a{ color: $color-lightsalmon; }
    }
    svg{
      stop { 
        stop-color: $color-peachpuff !important;
        &:first-child {
          stop-color: #19161A !important;
        }
      }
    }
  }
}

.info-box-wrapper {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {
  .info-box-2 {
    aside { 
      padding-left: 20%;
      padding-right: 20%;
      width: 100%; 
    }

    article { 
      width: 100%; 
      &.visible{ display:none; }
    }
  }
}


