@mixin media-widescreen {
  /* Wide screen monitors wider than 996px */
  @media only screen and (min-width: 996px) {
    @content;
  }
}

@mixin media-normal-screen {
  /* All non-mobile Sizes */
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin media-tablet-size {
  /* Tablet Portrait size to Base 996px */
  @media only screen and (min-width: 768px) and (max-width: 995px) {
    @content;
  }
}

@mixin media-mobile-size {
  /* All Mobile Sizes */
  @media only screen and (max-width: 767px) {
    @content;
  }
}

@mixin media-portrait-to-landscape-mobile-size {
  /* Mobile Portrait Size to Mobile Landscape Size */
  @media only screen and (max-width: 479px) {
    @content;
  }
}


