.modal--show .modal-inner {
  -webkit-transition: none !important;
  transition: none !important;

  @media only screen and (max-width: $modal-small-breakpoint) {
    margin-left: 0 !important;
    margin-right: 0 !important;
    left: 0 !important;
  }
}
.modal--centered {

  .modal-close { color: $dark-font-color; }
  .dismiss-button { 
    display: none; 
    color: black;
  }
  @media only screen and (min-width: ($modal-small-breakpoint + 1px) ) {
    .modal-inner {
      top: 50% !important;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);

      overflow: visible !important;

      .dismiss-button {
        display: block;
        position: absolute;
        z-index: 1000;
        top: -26px;
        right: 0;
        background: white;
        padding: 2px 8px;
        font-size: 1.2em;
        text-decoration: none;
        text-indent: 0;
        @include border-radius(2px);
      }
    }

    .modal-close:after {
      display: none !important;
    }
  }
}

