.signup-clip{
  background-color: white;
  max-width: 131px;
  padding: 6px 12px;
  @include border-radius-pie(0px 0px $border-radius);

  p {
    @include font-size(18);
    color: grey;
    margin: 0;
    text-align: center;
  }

  a { 
    text-decoration: none; 
    &:hover { text-decoration: underline; }
  }
  b {
    a{
      color: $shortcut-font-color;
      &:hover{ color: $shortcut-font-color-hovered; }
    }
  }
  em { 
    a{ 
      color: $dark-font-color; 
      &:hover{ color: $dark-font-color-hovered; }
    }
  }

  float:right; 
  @include media-portrait-to-landscape-mobile-size {
    float: none;
  }
}

