$teaser-phone-width: 186px;
$teaser-phone-height: 280px;
$button-width: 28px;
$button-height: 28px;

#teaser-phone {
  $phone-scale: 1.1;
  position: relative;
  margin-top: -50%;
  margin-top: -(($teaser-phone-height * $phone-scale) / 2);
  width: ($teaser-phone-width * $phone-scale);
  height: ($teaser-phone-height * $phone-scale);
  background-color: $page-background-color;
  border-style: solid;
  border-color: rgb(69,5,5);
  border-width: (40px * $phone-scale) (18px * $phone-scale) (66px * $phone-scale) (18px * $phone-scale);
  @include border-radius(19px);
  margin-left: auto;

  a{
    display:block;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    svg{
      margin-top: 38%;
      width: 50%;
      height: 50%;
      path{ fill: white !important; }
    }

    &:hover {
      svg{
        path{ fill: whitesmoke !important; }
      }
    }
  }

  .button{
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 14px;
    width: $button-width * $phone-scale;
    height: $button-height * $phone-scale;
    background-color: $color-carrot-orange;
    @include border-radius(50%);
  }
}

/* Fallback for svg play button */
.no-svg #teaser-phone {
/*.svg #teaser-phone {*/
  a{ 
    background-image: url('../img/play-button.png'); 
    background-repeat: no-repeat;
    background-position: center;
  }
}

/* Tablet Portrait size to Base 996px */
@media only screen and (min-width: 768px) and (max-width: 995px) {
  #teaser-phone {
    $phone-scale: 1.0;
    width: ($teaser-phone-width * $phone-scale);
    height: ($teaser-phone-height * $phone-scale);
    border-width: (40px * $phone-scale) (18px * $phone-scale) (66px * $phone-scale) (18px * $phone-scale);
    .button{
      width: $button-width * $phone-scale;
      height: $button-height * $phone-scale;
      /*margin: -40% 0 0 -16%;*/
    }
   }
}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {
  #teaser-phone {
    $phone-scale: 0.7;
    position: static;
    margin-top: 0;
    width: ($teaser-phone-height * $phone-scale);
    height: ($teaser-phone-width * $phone-scale);
    border-width: (18px * $phone-scale) (40px * $phone-scale) (18px * $phone-scale) (66px * $phone-scale);
    margin-left: auto;
    margin-right: auto;

    a{
      svg{
        margin-top: 18%;
      }
    }

    .button{
      width: $button-width * $phone-scale;
      height: $button-height * $phone-scale;
      margin: -40% 0 0 -16%;
    }
  }
}

/* Mobile Landscape Size to Tablet Portrait */
@media only screen and (min-width: 480px) and (max-width: 767px) { }

/* Mobile Portrait Size to Mobile Landscape Size */
@media only screen and (max-width: 479px) {
  #teaser-phone {
    $phone-scale: 0.5;
    width: ($teaser-phone-height * $phone-scale);
    height: ($teaser-phone-width * $phone-scale);
    border-width: (18px * $phone-scale) (40px * $phone-scale) (18px * $phone-scale) (66px * $phone-scale);
    margin-left: auto;
    margin-right: auto;

    .button{
      width: $button-width * $phone-scale;
      height: $button-height * $phone-scale;
    }
  }
}
