@import "normalize";
@import "base"; // HTML5 boilerplate
@import "grid";
@import "helper";
@import "media_helper";

@import "compass/css3/border-radius";
@import "compass/css3/transition";

$debug: false;

$color-eggshell: rgb(231,190,139); /* #E7BE8B */
$color-pale-gold: rgb(233,199,133); /* #E9C785 */

$color-peachpuff: rgb(230,196,153); /* #E6C499 */  /*from fw */
$color-lightsalmon: rgb(226,129,102); /* #E28166 */

$color-carrot-orange: rgb(239,146,37);
$color-deep-carrot-orange: rgb(232,111,44);


$page-background-color: rgb(232,218,175);
$dark-font-color: rgb(95,35,26);
$dark-font-color-hovered: rgb(136,50,37);
$shortcut-color: rgb(243,109,42);
$shortcut-color-light: rgb(241,147,0);
$shortcut-font-color: rgb(234,108,29);
$shortcut-font-color-hovered: rgb(196,86,18);
$focus-color: $dark-font-color;
/*$border-radius: 16px 16px;*/
$border-radius: 8px 8px;

$font-family: 'Roboto', sans-serif;
$normal-font: 400;
$light-font: 300;


$customers-image-margin: 1%;

$main-info-graphics-with-shadow: true;

@import "teaser_phone";
@import "header";
@import "info_box";

body {
  background-color: $page-background-color;
  font-family: $font-family;
  /*font-weight: $normal-font;*/
  font-weight: $light-font;
}

.page-wrap { max-width: 996px; margin: 0 auto; padding: 0 5%; }

.inset{
  background-color: $shortcut-color-light; 
  padding-bottom: 16px;
  padding-bottom: 1rem;

  &:before {
    content: '';
    position: absolute;
    position: relative;

    box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.2);
    width: 60%;
    left: 20%;
    top: 1px;
    border-top:1px solid #666;
  }

  /*&:after {*/
    /*content: '';*/
    /*position: absolute;*/
    /*position: relative;*/
    /*box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.2);*/
    /*width: 60%;*/
    /*left: 20%;*/
  /*}*/
}
.onset {
  &:after {

    content: '';
    position: absolute;
    position: relative;

    box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.2);
    /*box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.2);*/
    width: 60%;
    left: 20%;
    /*bottom: -1px;*/
    /*border-bottom: 1px solid #666;*/
  }
}

/*h1,h2,h3,h4 { font-weight: $light-font; }*/

nav { /* header and footer */
  ul {
    margin: 0;
    padding: 0;
  } 
  li{ 
    display: inline-block; 
    /*margin: 0 0.625rem 0 0;*/
  }
}


figure {
  svg{
    width: 100%;
    height: 100%;
    /*.shadow{ display: none; }*/
  }
}


.svg{
  figure {
    &.fluid {

      display: inline-block;
      width: 100%;
      vertical-align: middle;
      @include debug-border(#26967C);
      position: relative;
      padding-bottom: 100%; /* yes !! ; ) */ 

      svg {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }

      &#shortcut_logo_rgb_small_shutter{ padding-bottom: (100% / 143.99 * 34.55); }
      &#shortcut_engage_graphic{ padding-bottom: (100% / 436.94 * 396.14); }
      &#main_grapic_newspapers{ padding-bottom: (100% / 367 * 425); }
      &#main_grapic_magazines{ padding-bottom: (100% / 546 * 377); }
      &#main_grapic_brands{ padding-bottom: (100% / 486 * 458); }
      &#info_graphic_how_shortcut_works{ padding-bottom: (100% / 238 * 235); }
    }

  }

}


.image-bullet {
  /*&ul {*/
    list-style-type: none;
    padding: 0px;
    margin: 0px;

  /*}*/
 
  &ul, li {
    /*background-image: url(sqpurple.gif);*/
    background-size: 53px;
    background-repeat: no-repeat;
    /*background-position: 0px 5px; */
    background-position: 0px 0px; 
    /*padding-left: 14px; */
    padding-left: 68px; 

  }
  li{
    margin-bottom: 8px;
    margin-bottom: 0.5em;
    min-height: 53px;
  }
  .bullet-fav { background-image: url(../img/bullet-fav.svg); }
  .bullet-social { background-image: url(../img/bullet-social.svg); }
  .bullet-play { background-image: url(../img/bullet-play.svg); }
  .bullet-shopping { background-image: url(../img/bullet-shopping.svg); }

}

/*svg{*/
  /*display:none !important;*/
/*}*/


.no-svg {

  /* Replace svg images with png background images for IE8
   * Let's assume IE8 runs on non-retina displays therefore
   * we use low resolution images as fallback.
   */
  #logo {
    figure {
      background-image: url('../img/shortcut_logo_rgb_small_shutter.png');
      width: 132px;
      height: 32px;
    }
  }

  @include def_info_graphic('info_graphic_how_shortcut_works', 176px, 175px);
  @include def_info_graphic('info_graphic_engagement', 176px, 188px);
  @include def_info_graphic('info_graphic_one_solution', 176px, 171px);
  @include def_info_graphic('info_graphic_purchaising_decisions', 176px, 176px);
  @include def_info_graphic('info_graphic_measure', 176px, 178px);
  @include def_info_graphic('shortcut_engage_graphic', 364px, 330px);
  @include def_info_graphic('main_graphic_newspapers', 300px, 347px);

  figure {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0;
    margin: 5% auto;
  }
}

#teaser{
  margin-top: 10%;
  h1 {
    /*font-weight: $light-font;*/
    /*color: $dark-font-color;*/
    text-align: right;
  }
  /*b {*/
    /*font-weight: $light-font;*/
    /*color: $shortcut-font-color;*/
  /*}*/
}


.top-section {
  color: $dark-font-color;
  $header-font-size: 19px;
  $h1-margin-top: 5px;

  @if $main-info-graphics-with-shadow {
    /*
     * Shadow of info graphics make already for a visual right padding and 
     * therefore let's remove the corresponding padding.
     */
    padding-right: 0; 
  }

  header {
    h3{ 
      margin: -10px 0 0 0 ;
      @include font-size($header-font-size);
    }

  }

  h1 {
    font-weight: $light-font;
    margin-top: $h1-margin-top;
    b {
      font-weight: $light-font;
      color: $shortcut-font-color;
    }
  }
  figure { margin-top: $header-font-size + $h1-margin-top; }

  &>div {
    padding-left: 10px;
    &:first-child {
      padding-left: 0;
      padding-right: 10px;
      
    }
  }
}


b, em { font-style: normal; font-weight: normal; }

ul{ padding-left: 20px; }


.welcome-section {
  margin-bottom: 40px;

}

.signup-clip-container {
  position: relative;
}


a.button{
  display: inline-block;
  background-color: white;
  text-decoration: none;
  @include border-radius-pie($border-radius);
  padding: 6px 12px;
  font-weight: $normal-font;
  @include transition(all .2s);
  &:hover {
    background-color: whitesmoke;
  }
}

a.img-button {
  background-repeat: no-repeat;
  display: inline-block;
  width: 150px;
  height: 57px;

  /* hide the text by pushing it out */
  /* see http://ran.ge/2012/04/03/css-trick-turning-a-background-image-into-a-clickable-link-take-2/ */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

#demo-button {
  height: 0;
  .rounded-batch {
    $diameter: 172px;
    background-color: white;
    @include border-radius-pie(50%);
    text-align: center;
    /*display: block;*/
    /* FIXME: vertical align won't work in IE 7/8 */
    display: table-cell;
    vertical-align: middle;
    width: $diameter;
    height: $diameter;
    font-size: 1.4rem;
    text-decoration: none;
    position: relative;
    top: -($diameter / 2);
    color: $shortcut-font-color;
    &:hover{
      background-color: whitesmoke;
      color: $shortcut-font-color-hovered;
    }

  }
}


.phone-image-portrait{
    background-image: url('../img/video_screen1.png');
    /*background-size: contain;*/
    background-size: cover;
    background-repeat: no-repeat;
    /*width: 160%;*/
    /*width: 200%;*/
    width: 100%;
    height: 0;
    padding-top: 76.94117647%;
}

.engage-image {
  max-width: 380px;

}

.download-instruction {
  padding-top: 15%;
  img {
    width: 100%;
    max-width: 544px;

  }
  a {
    background-size: 100px auto;
    text-decoration: none;
    /*background-position: 3.75% center;*/
    &:hover {
      svg {
        .background { fill: #C33617; }
      }
    }
  }

  .stores {
    /*padding: 0 5%;*/
    div {
      margin-bottom: 2%;

    }

    figure{
      line-height: 1;
      /*margin: 0 auto;*/
      display: inline-block;
      /*margin: 0 0.25rem;*/
      margin: 0 0.8%;
      /*max-width: 116px;*/
      max-height: 43px;
    }
  }

  /*.app-store{ */
    /*background-image: url('../img/button_app_store.png');*/
    /*background-image: url('../img/button_app_store.svg');*/
    /*&:hover{ */
      /*background-image: url('../img/button_app_store-hovered.png');*/
      /*background-image: url('../img/button_app_store-hovered.svg');*/
    /*}*/
  /*}*/

  /*.play-store{ */
    /*background-image: url('../img/button_play_store.png');*/
    /*background-image: url('../img/button_play_store.svg');*/
    /*&:hover{ */
      /*background-image: url('../img/button_play_store-hovered.png'); */
      /*background-image: url('../img/button_play_store-hovered.svg'); */
    /*}*/
  /*}*/

  /*.windows-store{ */
    /*background-image: url('../img/button_windows_store.png');*/
    /*background-image: url('../img/button_windows_store.svg');*/
    /*&:hover{ */
      /*background-image: url('../img/button_windows_store-hovered.png'); */
      /*background-image: url('../img/button_windows_store-hovered.svg'); */
    /*}*/
  /*}*/
}

img {
  max-width: 100%;
}

section {
  @include debug-border(brown);

  h1 {
    font-weight: $light-font;
    /*color: white;*/
  }
}

footer {

  padding: 1% 0;

  li{
    width: 23.0%;
    text-align: center;
    line-height: 1.6;
    a{
      color: white; 
      &:hover {
        color: whitesmoke;
      }
    }
  }

  small {
    display: block;
    width: 100%;
    margin-top: 1.5%;
    text-align: center;
    font-size: 70%;
    color: $dark-font-color;
  }
}


.title-only-info-box{
  margin: 0;
  a{
    float: right;
    @include font-size(16);
  }
  
}


input[type="text"], input[type="email"], textarea {
  width: 97%;
  @include border-radius-pie($border-radius);
  border: none;
  padding: 6px 8px;

  &:focus{
    outline: none;
    box-shadow: 0 0 3px $focus-color;
  }

  @media only screen and (max-width: 767px) { /* All Mobile Sizes */
    width: 95%;
  }

}

input[type="submit"] {
  background-color: white;
  border: none;
  font-family: $font-family;
  @include border-radius-pie($border-radius);
  padding: 4px 16px ;
}

input, textarea {
  &:focus{
    outline: none;
    box-shadow: 0 0 3px $focus-color;
  }
}

textarea {
  height: 100px;
}

/* Site specific adjustments */
.magazine-page {
  .cooking-magazine {
    aside {
      img{ 
        max-width: 80%; 
        /* All Mobile Sizes */
        @media only screen and (max-width: 767px) {
          display: none;
        }
      }
    }
    article{
      img{ max-width: 50%; }
    }
  }
}


/* Contact Us */
.google-maps {
  position: relative;
  padding-bottom: 85%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
  
  @media only screen and (max-width: 767px) { /* All Mobile Sizes */

    padding-bottom: 65%; // This is the aspect ratio
  }
   

}

.newsletter-form {
  input[type="email"] {
    width: 80%;
    /*display: inline-block;*/
  }

}


/*
Responsive 996px grid system ~ Style CSS.
Copyright 2013, Josh Cope
*/

/* =============================================================================
   Site Styles
   ========================================================================== */

/* =============================================================================
   Page Styles
   ========================================================================== */

/* =============================================================================
   Media Queries
   ========================================================================== */

/* Wide screen monitors wider than 996px */
@media only screen and (min-width: 996px) {
  .info-box-2 {
    .picture-box {
      img{
        width: (100% / 4) - ( 2 * $customers-image-margin);
      }
    }
  }

  .info-box-background-image {
    background-size: 34.5% - 7.5%;
    &.top {
      .picture-box {
        img{
          width: (100% / 4) - ( 2 * $customers-image-margin);
        }
      }
    }
  }

}

.info-boxes {
  section {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

.picture-box {
  $box-content-padding: ((100% - 37.5%) / 100) * 5;

  img {
    float:left;
    margin: $customers-image-margin;
    width: (100% / 3) - ( 2 * $customers-image-margin);

    /* Wide screen monitors wider than 996px */
    @media only screen and (min-width: 996px) {
      width: (100% / 4) - ( 2 * $customers-image-margin);
    }

    /* Mobile Portrait Size to Mobile Landscape Size */
    @media only screen and (max-width: 479px) {
      width: (100% / 2) - ( 2 * $customers-image-margin);
    }
  }
}



/* Tablet Portrait size to Base 996px */
@media only screen and (min-width: 768px) and (max-width: 995px) {}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {
  #teaser{
    margin-top: 0%;
  }

  #demo-button {
    .rounded-batch{ 
      width: 142px; height: 142px; 
      @include font-size(20);
    }
  }
 

  .info-box-background-image {
    background-position: center 3.75% !important;

    .info-box-desc {
      margin: 37.5% 0 0 0; 
      width: 100%;
    }

    &.top {
      $box-content-padding: 3%;
      .info-box-desc{
        .box-content{ padding: $box-content-padding; }
      }
      .picture-box {
        $image-margin: 1%;
        padding: ($box-content-padding - $image-margin);
      }
    }
  }

  .footer {
    li{
      width: 49.4%;
    }
  }
}

/* Mobile Landscape Size to Tablet Portrait */
@media only screen and (min-width: 480px) and (max-width: 767px) {

}

/* Mobile Portrait Size to Mobile Landscape Size */
@media only screen and (max-width: 479px) {
  #teaser {
    h1 {
      margin-top: -20px;
      text-align: center;
    }

  }

  .download-instruction {
    .stores figure{
      &:first-child { margin-left: 0; }
      &:last-child { margin-right: 0; }
    }
  }

  .info-box-2 {
    .picture-box {
      img{
        width: (100% / 2) - ( 2 * $customers-image-margin);
      }
    }
  }

  .info-box-background-image {
    &.top {
     .picture-box {
        img{
          width: (100% / 2) - ( 2 * $customers-image-margin);
        }
      }
    }
  }


  .footer {
    li{
      width: 100%;
    }
  }

}

/* tiny iPhone screen */
@media only screen and (max-width: 320px) {
  .page-wrap{ padding: 0; }
}
 
/* =============================================================================
   Font-Face
   ========================================================================== */
/* This is the proper syntax for an @font-face file

/* @font-face {
font-family: 'FontName';
src: url('../fonts/FontName.eot');
src: url('../fonts/FontName.eot?iefix') format('embedded-opentype'),
url('../fonts/FontName.woff') format('woff'),
url('../fonts/FontName.ttf') format('truetype'),
url('../fonts/FontName.svg#FontName') format('svg');
font-weight: normal;
font-style: normal; }
*/
