body.index

  .pricing-segment
    h3
      margin-bottom: 0.5em
    p
      line-height: 1.9

    .button
      margin-top: 10px


  .customers-segment
    h6
      margin-top: 60px

    .CustomerShowcase
      margin-bottom: 50px


  .sdk-integration-segment
    .Tabs
      max-width: $max-readable-width
      margin: 0 auto

      .content
        color: $text-color-light

  .counter-segment
    .Counter
      margin-bottom: 100px