/* tricks */
/* general */
body {
  background-image: url(../img/pattern.png);
  color: #444;
  font-size: 14px;
  padding-bottom: 20px;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4 {
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  text-shadow: 0px 1px 0px #ffffff;
}
h2 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 500;
}
h2 small {
  color: #444;
}
h3 {
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
}
h4 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  margin-bottom: 10px;
}
h4 span {
  color: #999;
}
p {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 15px;
}
a {
  color: #ff6600;
}
a:hover {
  color: #ff6600;
}
hr {
  margin: 17px 0 20px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
}
.light {
  color: #999;
}
.margin0 {
  margin: 0px !important;
}
.mtop10 {
  margin-top: 10px;
}
.mtop20 {
  margin-top: 20px;
}
.mtop40 {
  margin-top: 40px;
}
.mtop60 {
  margin-top: 60px;
}
.mleft20 {
  margin-left: 20px;
}
.mleft40 {
  margin-left: 40px;
}
.mright20 {
  margin-right: 20px;
}
.mbottom10 {
  margin-bottom: 10px;
}
.mbottom20 {
  margin-bottom: 20px;
}
.mbottom40 {
  margin-bottom: 40px;
}
.paddingl10 {
  padding-left: 10px;
}
.line30 {
  line-height: 30px;
}
img.circle {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
img.shadow {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
img.border {
  border: 2px solid white;
}
/* interaction elements */
.btn {
  background: #ff6600;
  color: #fff;
  border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-weight: bold;
  text-shadow: none;
  font-size: 16px;
  padding: 10px 20px;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -ms-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear;
}
.btn:hover {
  background: #e65c00;
  color: #fff;
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -ms-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear;
}
.btn-large {
  padding: 13px 40px 16px;
  font-size: 20px;
}
/* navigation */
.navbar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding-top: 20px;
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -ms-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear;
}
.navbar-wrapper.scrolled {
  background: #323232;
  margin-top: 0;
  padding-top: 20px;
  z-index: 1030;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -ms-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear;
}

.navbar-static-wrapper {
  background: #323232;
  margin-top: 0;
  padding-top: 20px;
  z-index: 1030;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -ms-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear;
}
.navbar {
  margin-bottom: 0px;
}
.navbar .navbar-inner {
  background: none;
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
  border: none;
  padding-right: 0;
}
.navbar .nav {
  float: right;
  margin: 0;
}
.navbar .nav > li a {
  color: #eee;
  text-shadow: none;
  font-size: 18px;
  padding: 15px 0px 10px 25px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}
.navbar .nav > li a:hover {
  color: #ff6600;
}
.navbar .nav > li.active a,
.navbar .nav > li.active a:hover,
.navbar .nav > li.home.active a:hover {
  background: none;
  color: #ff6600;
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
}
.navbar .nav > li.home.active a {
  color: #fff;
}
.navbar a.brand {
  background-repeat: no-repeat;
  background-image: url('../img/shortcut.png');
  height: 50px;
  width: 150px;
  text-indent: -999em;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .navbar a.brand {
    background-image: url('../img/shortcut@2x.png');
    background-size: 150px 50px;
  }
}
.navbar .btn-navbar {
  background: none;
  border: 2px solid #666;
  padding: 5px 10px;
  margin-top: 14px;
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.navbar .btn-navbar:hover {
  background: #222;
}
.navbar .btn-navbar .icon-bar {
  background-color: #eee;
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
}
.navbar .btn-navbar .icon-bar + .icon-bar {
  margin-top: 2px;
}
/* teaser */
.teaser {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 200px 0 50px;
  margin: 0 0 50px;
  max-height: 930px;
  min-height: 580px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}
.teaser h1 {
  font-size: 2.8em;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 1.1em;
  word-wrap: break-word;
}
.teaser h1 span {
  font-weight: 500;
}
.teaser h1 span:after {
  content: "\A";
  white-space: pre;
}
.teaser p {
  color: #444;
  font-size: 1.3em;
  line-height: 1.4em;
  padding-bottom: 20px;
}
.teaser#item1 {
  background-image: url("../img/shortcut-keyvisual.jpg");
  background-position: center bottom;
}
.teaser#item1 p {
  color: #383838;
}
.sales-channel{
  margin-top: 90px;
}
.sales-channel-meta iframe {
  border: 0 !important;
}

/* carousel */
.carousel {
  position: relative;
}
.carousel .carousel-control {
  z-index: 40;
}
.carousel .carousel-indicators {
  z-index: 50;
  text-align: center;
  width: 300px;
  bottom: 35px;
  top: inherit;
  right: inherit;
  left: 62px;
}
.carousel .carousel-indicators li {
  background: #a9a9a9;
  display: inline-block;
  float: none;
  margin-left: 0px;
}
.carousel .carousel-indicators li.active {
  background: #ff6600;
}
.carousel .carousel-indicators li:hover {
  cursor: pointer;
}
.carousel .mask {
  background: url("../img/mask_slider.png") no-repeat top left;
  background-size: contain;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  z-index: 20;
}
#app {
  margin-bottom: 40px;
}
/* download buttons */
a.dl {
  display: inline-block;
  margin-right: 5px;
  width: 100px;
  height: 31px;
  text-indent: -999em;
}
a.dl.appstore {
  background-repeat: no-repeat;
  background-image: url('../img/download_appstore.jpg');
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  a.dl.appstore {
    background-image: url('../img/download_appstore@2x.jpg');
    background-size: 100px 31px;
  }
}
a.dl.google {
  background-repeat: no-repeat;
  background-image: url('../img/download_google.jpg');
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  a.dl.google {
    background-image: url('../img/download_google@2x.jpg');
    background-size: 100px 31px;
  }
}
a.dl.windows {
  background-repeat: no-repeat;
  background-image: url('../img/download_win.jpg');
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  a.dl.windows {
    background-image: url('../img/download_win@2x.jpg');
    background-size: 100px 31px;
  }
}
/* features */
#features {
  background: #e5e5e3;
  padding: 50px 0 60px;
  margin: 0 0 50px 0;
}
#features .span4,
#features .span12 {
  text-align: center;
}
#features .feat {
  height: 90px;
  width: 90px;
  margin: 0 auto 20px;
}
#features .feat.feat01 {
  background-repeat: no-repeat;
  background-image: url('../img/feat01.jpg');
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  #features .feat.feat01 {
    background-image: url('../img/feat01@2x.jpg');
    background-size: 90px 90px;
  }
}
#features .feat.feat02 {
  background-repeat: no-repeat;
  background-image: url('../img/feat02.jpg');
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  #features .feat.feat02 {
    background-image: url('../img/feat02@2x.jpg');
    background-size: 90px 90px;
  }
}
#features .feat.feat03 {
  background-repeat: no-repeat;
  background-image: url('../img/feat03.jpg');
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  #features .feat.feat03 {
    background-image: url('../img/feat03@2x.jpg');
    background-size: 90px 90px;
  }
}
#features p {
  margin: 0 20px;
}
/* cases */
#filter {
  font-size: 16px;
  margin: 0 0 20px 0px;
  height: 30px;
}
#filter li {
  float: left;
  list-style: none;
  margin: 0 20px 0 0;
}
#filter li a {
  color: #444;
}
#filter li a:hover {
  color: #ff6600;
  text-decoration: none;
}
#filter li.current a {
  color: #ff6600;
}
#overview .row {
  margin-bottom: 20px;
}
#overview .span4 img {
  width: auto !important;
  /*override the width below*/

  width: 100%;
  max-width: 678px;
  float: left;
  clear: both;
}
#overview .span3 a {
  height: 158px;
  position: relative;
  display: block;
}
#overview .span3 a .hover {
  background: url('../img/cases-hover.png') no-repeat center center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
}
#overview .span3 a:hover .hover {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
}
blockquote {
  color: #999;
  font-size: 30px;
  line-height: 36px;
  font-style: italic;
  margin: 0;
  padding: 0;
}
.seenon {
  background: #fff;
  padding: 30px 0;
  margin: 50px 0;
}
.seenon .logo {
  float: left;
  margin-left: 50px;
  background-position: center center;
  display: block;
  text-indent: -999em;
  height: 30px;
}
.seenon .logo.logo01 {
  width: 188px;
  background-repeat: no-repeat;
  background-image: url('../img/logo01.jpg');
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .seenon .logo.logo01 {
    background-image: url('../img/logo01@2x.jpg');
    background-size: 188px 22px;
  }
}
.seenon .logo.logo02 {
  width: 74px;
  background-repeat: no-repeat;
  background-image: url('../img/logo02.jpg');
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .seenon .logo.logo02 {
    background-image: url('../img/logo02@2x.jpg');
    background-size: 74px 30px;
  }
}
.seenon .logo.logo03 {
  width: 105px;
  background-repeat: no-repeat;
  background-image: url('../img/logo03.jpg');
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .seenon .logo.logo03 {
    background-image: url('../img/logo03@2x.jpg');
    background-size: 105px 22px;
  }
}
.seenon .logo.logo04 {
  width: 166px;
  background-repeat: no-repeat;
  background-image: url('../img/logo04.jpg');
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .seenon .logo.logo04 {
    background-image: url('../img/logo04@2x.jpg');
    background-size: 166px 26px;
  }
}
.seenon .logo.logo05 {
  width: 74px;
  background-repeat: no-repeat;
  background-image: url('../img/logo05.jpg');
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .seenon .logo.logo05 {
    background-image: url('../img/logo05@2x.jpg');
    background-size: 74px 24px;
  }
}
/* pricing */
.pricing-table {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  min-height: 100px;
  margin-bottom: 100px;
  margin-top: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.pricing-table .span7 {
  padding-bottom: 15px;
  background-repeat: no-repeat;
  background-image: url('../img/pricing_bg.png');
  background-color: #fff;
  background-repeat: repeat-y;
  -webkit-box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.1);
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .pricing-table .span7 {
    background-image: url('../img/pricing_bg@2x.png');
    background-size: 44px 31px;
  }
}
.pricing-table .table {
  margin-bottom: 2px;
}
.pricing-table .table td {
  font-size: 16px;
  border-color: #e6ebed;
}
.pricing-table .table td.empty {
  width: 40px;
}
.pricing-table .table td.max {
  width: 294px;
}
.pricing-table .table th {
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  padding-bottom: 0px;
}
.pricing-table .table tr:first-child td {
  border-top: none;
}
/* big list */
ul.big {
  list-style: none;
  margin: 30px 0 20px 10px;
}
ul.big li {
  background-repeat: no-repeat;
  background-image: url('../img/check.png');
  background-position: left 12px;
  padding: 10px 20px 10px 40px;
  font-size: 20px;
  font-weight: 500;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  ul.big li {
    background-image: url('../img/check@2x.png');
    background-size: 25px 20px;
  }
}
/* about */
.bignr {
  font-size: 80px;
  line-height: 80px;
}
.fullimg {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 20px 0px;
  min-height: 470px;
}
.fullimg.about-1 {
  background-image: url('../img/fullimg/about-1.jpg');
}
@media (max-width: 979px) {
  
}
@media (max-width: 480px) {
  .fullimg.about-1 {
    background-image: url('../img/fullimg/about-1_480.jpg');
  }
}
/*forms*/
form {
  /* firefox 19+ */

  /* ie */

}
form input[type="text"],
form input[type="email"],
form textarea {
  font-size: 16px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0px 20px 0px;
  margin: 0 0 20px 0;
  height: 38px;
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
}
form textarea {
  height: 220px;
  padding-top: 20px;
}
form ::-webkit-input-placeholder {
  color: #999;
  font-weight: 300;
}
form ::-moz-placeholder {
  color: #999;
  font-weight: 300;
}
form :-ms-input-placeholder {
  color: #999;
  font-weight: 300;
}
form input:-moz-placeholder {
  color: #999;
  font-weight: 300;
}
.validation,
.success {
  display: none;
  position: relative;
  top: -13px;
  font-style: italic;
}
.validation {
  color: #f00;
}
/* contact */
.nav-tabs {
  border: none;
}
.nav > li > a {
  color: #444;
  font-size: 16px;
}
.nav-tabs > li > a {
  padding-left: 0px;
  padding: 8px 20px 8px 0px;
  border: none;
  margin-right: 0;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > li > a:hover {
  color: #ff6600;
  background: none;
  border: none;
  padding: 8px 20px 8px 0px;
}
span.phone {
  background-repeat: no-repeat;
  background-image: url('../img/icon-phone.png');
  background-position: center left;
  padding: 0 0 0 25px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  span.phone {
    background-image: url('../img/icon-phone@2x.png');
    background-size: 18px 14px;
  }
}
span.fax {
  background-repeat: no-repeat;
  background-image: url('../img/icon-fax.png');
  background-position: center left;
  padding: 0 0 0 25px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  span.fax {
    background-image: url('../img/icon-fax@2x.png');
    background-size: 18px 14px;
  }
}
span.maps {
  background-repeat: no-repeat;
  background-image: url('../img/icon-maps.png');
  background-position: 3px center;
  padding: 0 0 0 25px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  span.maps {
    background-image: url('../img/icon-maps@2x.png');
    background-size: 10px 14px;
  }
}
footer {
  margin-top: 50px;
}
footer .kooaba {
  background-repeat: no-repeat;
  background-image: url('../img/kooaba.png');
  display: inline-block;
  text-indent: -999em;
  height: 13px;
  width: 70px;
  margin-left: 5px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  footer .kooaba {
    background-image: url('../img/kooaba@2x.png');
    background-size: 70px 13px;
  }
}
footer .social {
  display: inline-block;
  margin-left: 10px;
  text-indent: -9999em;
  height: 16px;
}
footer .social.fb {
  background-repeat: no-repeat;
  background-image: url('../img/icon-fb.png');
  width: 16px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  footer .social.fb {
    background-image: url('../img/icon-fb@2x.png');
    background-size: 16px 16px;
  }
}
footer .social.google {
  background-repeat: no-repeat;
  background-image: url('../img/icon-google.png');
  width: 16px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  footer .social.google {
    background-image: url('../img/icon-google@2x.png');
    background-size: 16px 16px;
  }
}
footer .social.blog {
  background-repeat: no-repeat;
  background-image: url('../img/icon-blog.png');
  width: 16px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  footer .social.blog {
    background-image: url('../img/icon-blog@2x.png');
    background-size: 16px 16px;
  }
}
footer .social.twitter {
  background-repeat: no-repeat;
  background-image: url('../img/icon-twitter.png');
  width: 17px;
  background-position: 0px 2px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  footer .social.twitter {
    background-image: url('../img/icon-twitter@2x.png');
    background-size: 17px 13px;
  }
}
/* modals */
.modal {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-image: url(../img/pattern.png);
  font-size: 16px;
}
.modal .modal-body {
  max-height: 600px;
  margin-left: 12px;
}
/**** MEDIA QUERIES ****/
@media (max-width: 767px) {
  body {
    padding-right: 0px;
    padding-left: 0px;
  }
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
  #overview {
    margin-top: 20px;
  }
  #overview .row {
    margin-bottom: 0px;
  }
  #overview .span3 a {
    height: inherit !important;
    margin-bottom: 10px;
  }
  #overview .span3 a:hover .hover {
    opacity: 0;
  }
  .carousel {
    margin-top: 20px;
  }
  #features .span4,
  .carousel {
    margin-bottom: 20px;
  }
  .seenon {
    padding-bottom: 10px;
  }
  .seenon .logo {
    margin-left: 0px;
    margin-right: 50px;
    margin-bottom: 20px;
  }
  #cases .span3,
  #customers .span3 {
    float: left;
    width: 40%;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  #cases .contact-btn {
    margin-top: 20px;
  }
  .pricing-table .table td.max {
    width: auto;
  }
  .pricing-table .table.mtop10 {
    margin-top: 0;
  }
  .pricing-table .contact-btn {
    margin-bottom: 30px;
  }
  .team .span5,
  .team h4,
  .team p,
  .team .span6 {
    text-align: center;
  }
  .tab-content .span4.mleft40 {
    margin-left: 0;
  }
  .span2.margin0 {
    width: 50%;
    float: left;
    margin-right: 5px !important;
  }
  .fullimg {
    min-height: 180px;
  }
  .input-large,
  .input-xlarge,
  .input-xxlarge,
  input[class*="span"],
  select[class*="span"],
  textarea[class*="span"],
  .uneditable-input {
    min-height: 40px;
  }
}
@media (max-width: 979px) {
  .navbar .nav {
    float: none;
  }
  .navbar .nav > li {
    border-top: 1px solid #3c3c3c;
  }
  .navbar .nav > li a {
    padding-left: 0px;
  }
  .nav-collapse .nav > li > a:hover,
  .nav-collapse .nav > li > a:focus,
  .nav-collapse .dropdown-menu a:hover,
  .nav-collapse .dropdown-menu a:focus {
    background: none;
    color: #ff6600;
  }
  .navbar-wrapper {
    background: #323232;
    margin-top: 0;
    padding-top: 20px;
    z-index: 1030;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -ms-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;
  }
  #overview .span3 a {
    height: 119px;
  }
}
