/* tricks */
/* general */
body {
  background-image: url(../img/pattern.png);
  color: #444;
  font-size: 14px;
  padding-bottom: 20px;
  -webkit-font-smoothing: antialiased;
}

.about_team {
  padding:50px 0;
  background-color:#e5e5e3;
}

.create_shortcut {
  background-color: #636363;
  padding: 35px 0 50px;
  text-align: center;
}
.create_shortcut h1 {
  color: #F2F2F2;
  font-weight: bold;
  font-size: 3.5rem;
}

.create_shortcut p {
  color: #bbb;
  font-size: 2rem;
}

.customers {
  width: 90%;
  height: 90%;
  display: block;
  margin: 10px;
}

#how-it-works {
  background: #FFFFFF;
  padding: 5rem 0;
}

#customers {
  background: #FFFFFF;
  padding: 5rem 0;
}

#customers p {
  padding-bottom: 3rem;
}

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
   height:70px;
}
.navbar-header {
  height:70px;
}

/* opaque class which will be attached on scroll */

.navbar.opaque {
  background-color: #303030;
  background: #303030;
  transition: background-color 0.5s ease 0s; /* Transition effect to make it fade in (optional) */
}

.navbar li { color: #000 }
.navbar li a {
  padding-top: 22px;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 18px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #fc0 /* change this to any color you want! */;
}

.navbar-header a img {
  width:150px;
  height:50px;
  margin-top: -6px;
}

.navbar-inverse .navbar-nav > li > a {
  font-size: 2rem;
}

.navbar-inverse .navbar-nav a.btn.btn-lg.btn-primary {
  background: transparent;
  color: #FF6600;
  border: 1px solid #FF6600;
  text-align: center;
  min-width: 120px;
  height: 3.0rem;
  font-weight: normal;
  white-space: nowrap;
  margin-top: 18px;
  font-size: 2rem;
  padding-top: 3px;

}

.navbar-inverse .navbar-nav a.btn.btn-lg.btn-primary:hover {
  color: #FF6600;
  background-color: rgba(255, 102, 0, 0.2);
  border: 1px solid #FF6600;
}

.navbar-inverse .navbar-nav .btn-primary {
	color: #F2F2F2;
  border-color: #fff;
}


.create_shortcut a.btn.btn-lg.btn-primary {
  background: transparent;
  color: #FF6600;
  border: 2px solid #FF6600;
  text-align: center;
  min-width: 250px;
  font-weight: bold;
  white-space: nowrap;
  margin-top: 3rem;
  font-size: 2.5rem;
}

.create_shortcut a.btn.btn-lg.btn-primary:hover {
  color: #FF6600;
  background-color: rgba(255, 102, 0, 0.2);
  border: 2px solid #FF6600;
}

.create_shortcut .btn-primary {
	color: #F2F2F2;
  border-color: #fff;

}


.container-fluid {
  max-width: 970px;
  .center-block();
}

.tab-pane {
  background-color:#ffffff;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #FF6600;
}

.subscribe {
  padding: 10px 0;
}
#mc_embed_signup{
  padding: 20px 0 10px;
}

.home_list {
    font-size: 11px;
}
.home_list li { 
  color: #444;
}
  
h1,
h2,
h3,
h4 {
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  /*text-shadow: 0px 1px 0px #ffffff;*/
}
h2 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 500;
}
h2 small {
  color: #444;
}
h3 {
  font-size: 22px;
  line-height: 26px;
  font-weight: 500;
}
h4 {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  margin-bottom: 10px;
}
h4 span {
  color: #999;
}
p, li {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 15px;
}
a {
  color: #ff6600;
}
a:hover {
  color: #ff6600;
}
hr {
  margin: 17px 0 20px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
}
.light {
  color: #999;
}
.margin0 {
  margin: 0px !important;
}
.mtop10 {
  margin-top: 10px;
}
.mtop20 {
  margin-top: 20px;
}
.mtop40 {
  margin-top: 40px;
}
.mtop60 {
  margin-top: 60px;
}
.mleft20 {
  margin-left: 20px;
}
.mleft40 {
  margin-left: 40px;
}
.mright20 {
  margin-right: 20px;
}
.mbottom10 {
  margin-bottom: 10px;
}
.mbottom20 {
  margin-bottom: 20px;
}
.mbottom40 {
  margin-bottom: 40px;
}
.mbottom60 {
  margin-bottom: 60px;
}

.paddingl10 {
  padding-left: 10px;
}
.line30 {
  line-height: 30px;
}
img.circle {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
img.shadow {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
img.border {
  border: 2px solid white;
}
/* interaction elements */
.btn {
  background: #ff6600;
  color: #fff;
  border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-weight: bold;
  text-shadow: none;
  font-size: 16px;
  padding: 10px 20px;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -ms-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear;
}
.btn:hover {
  background: #e65c00;
  color: #fff;
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -ms-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear;
}
.btn-large {
  padding: 13px 40px 16px;
  font-size: 20px;
}
/* navigation */
.navbar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding-top: 12px;
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -ms-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear;
}
.navbar-wrapper.scrolled {
  background: #323232;
  margin-top: 0;
  padding-top: 12px;
  z-index: 1030;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -ms-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear;
}

.small_list ol li {
  color: #444;
  font-size:18px;
}

.top-logo {
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
}

.top-logo div {
  position: absolute;
  margin-top: 15px;
  margin-left: 15px;
}

.top-logo a {
  background-repeat: no-repeat;
  background-image: url('../img/shortcut@2x.png');
  height: 50px;
  width: 150px;
  text-indent: -999em;
  margin-bottom: 10px;
}


/* teaser */
.teaser#item1 {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 160px 0 50px;
  /* margin: 0 0 50px; */
  max-height: 970px;
  min-height: 620px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}
.teaser#item1 h1 {
  font-size: 3.8em;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 1.5em;
  word-wrap: break-word;
}
.teaser#item1 h1 span {
  font-weight: 500;
}
.teaser#item1 h1 span:after {
  content: "\A";
  white-space: pre;
}
.teaser#item1 p, li{
  color: #bbb;
  font-size: 1.6em;
  line-height: 1.4em;
}

.teaser#item1 p {
  padding:50px 0 50px;
}

.teaser#item1 .fa-check {
  font-size: 1.1em;
  color: #ff6600;
  /* color:#5cb85c;  */
}

.teaser#item1 h3 {
  color: #ddd;
  font-size: 1.6em;
  line-height: 1.4em;
}

.teaser#item1 {
  background-image: url("../img/shortcut-keyvisual.jpg");
  background-position: center bottom;
}
.teaser#item1 li {
  color: #bbb;
}

.teaser#item1 ul {
  padding: 20px 0;
  color: #bbb;
}

.teaser#item1 p strong {
  color: #fff;
}

.teaser .call-to-action {
  text-align: center;
  margin: 2rem auto;
  padding-bottom: 4rem;
}

.teaser a.btn.btn-lg.btn-primary {
  background: transparent;
  color: #FF6600;
  border: 3px solid #FF6600;
  text-align: center;
  min-width: 340px;
  font-weight: bold;
  white-space: nowrap;
  margin-top: 3rem;
  font-size: 2.5rem;
}

.teaser a.btn.btn-lg.btn-primary:hover {
  color: #FF6600;
  background-color: rgba(255, 102, 0, 0.2);
  border: 3px solid #FF6600;
}

.teaser .btn-primary {
	color: #F2F2F2;
  border-color: #fff;

}


.teaser#sdk {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 80px 0 30px;
  /* margin: 0 0 50px; */
  max-height: 460px;
  min-height: 230px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}
.teaser#sdk h1 {
  font-size: 3.8em;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 1.5em;
  word-wrap: break-word;
}
.teaser#sdk h1 span {
  font-weight: 500;
}
.teaser#sdk h1 span:after {
  content: "\A";
  white-space: pre;
}
.teaser#sdk p, li{
  color: #bbb;
  font-size: 1.6em;
  line-height: 1.4em;
}

.teaser#sdk p {
  padding:50px 0 50px;
}

.teaser#sdk .fa-check {
  font-size: 1.1em;
  color: #ff6600;
  /* color:#5cb85c;  */
}

.teaser#sdk h3 {
  color: #ddd;
  font-size: 1.6em;
  line-height: 1.4em;
}

.teaser#sdk {
  background-image: url("../img/shortcut-keyvisual-blur.jpg");
  background-position: center bottom;
}
.teaser#sdk li {
  color: #bbb;
}

.teaser#sdk ul {
  padding: 20px 0;
  color: #bbb;
}

.teaser#sdk p strong {
  color: #fff;
}

.teaser#about {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 80px 0 30px;
  /* margin: 0 0 50px; */
  max-height: 460px;
  min-height: 230px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}
.teaser#about h1 {
  font-size: 3.0em;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 1.5em;
  word-wrap: break-word;
  padding-top: 20px;
}
.teaser#about h1 span {
  font-weight: 500;
}
.teaser#about h1 span:after {
  content: "\A";
  white-space: pre;
}
.teaser#about p, li{
  color: #bbb;
  font-size: 1.6em;
  line-height: 1.4em;
}

.teaser#about p {
  padding:10px 0 30px 0;
  font-size: 2.8rem;
}

.teaser#about {
  background-image: url("../img/shortcut-keyvisual-blur.jpg");
  background-position: center bottom;
}


/* Documentation */
#documentation {
  background-color: #fff;
  padding-bottom: 45px;
}

.sc-docs-sidebar {
  
}

.sc-docs-sidenav {
  padding-top: 30px;
}

.sc-docs-sidenav li {
}

.sc-docs-sidenav li a {
  font-size: 22px;
  color: #333;
  padding-left: 0px;
}

.sc-docs-sidenav li p {
  font-size: 22px;
  color: #333;
  padding-left: 0px;
  margin-top: 14px;
}

.sc-sublist li a {
  font-size: 16px;
  color: #666;
  line-height: 0px;
  padding-left: 15px;
}

.sc-sublist li p {
  font-size: 16px;
  color: #666;
  line-height: 0px;
  padding-left: 15px;
  padding-top: 10px;
  margin-top: 0px;
  padding-bottom: 10px;
  background-color:#ddd;
}

.sc-docs-section {
  
}

.sc-docs-section h1 {
  font-size: 26px;
  color: #000;
}

.sc-docs-section h2 {
  font-size: 24px;
  color: #000;
}

.sc-docs-section p {
  font-size: 16px;
  color: #333;
  padding-top: 15px;
  margin-bottom: 5px;
}

.sc-docs-section ul li {
  font-size: 16px;
  color: #333;
  line-height: 23px;
  margin-bottom: 4px;
}

.sc-docs-section ol li {
  font-size: 16px;
  color: #333;
  line-height: 23px;
  margin-bottom: 4px;
}


/* End Documentation */








.scrollof{
  pointer-events: none;
}



.sales-channel{
  margin-top: 90px;
}
.sales-channel-meta iframe {
  border: 0 !important;
}

.sales-channel input[type=text] {
  padding: 0 4px;
  height: 28px;
  margin: 0;
}
.sales-channel input + .help-block {
  margin-top: 0;
}
.form-wizard-buttons {
  padding-top: 10px;
}

.sales-channel legend {
  display: none;
}

.sales-channel form.form-wizard .steps {
  margin-bottom: 20px;
}

#upload-button input[type=file]{
  line-height: inherit !important;
}

/* carousel */
.carousel {
  position: relative;
}
.carousel .carousel-control {
  z-index: 40;
}
.carousel .carousel-indicators {
  z-index: 50;
  text-align: center;
  width: 300px;
  bottom: 35px;
  top: inherit;
  right: inherit;
  left: 62px;
}
.carousel .carousel-indicators li {
  background: #a9a9a9;
  display: inline-block;
  float: none;
  margin-left: 0px;
}
.carousel .carousel-indicators li.active {
  background: #ff6600;
}
.carousel .carousel-indicators li:hover {
  cursor: pointer;
}
.carousel .mask {
  background: url("../img/mask_slider.png") no-repeat top left;
  background-size: contain;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  z-index: 20;
}
#app {
  margin-bottom: 40px;
}
/* download buttons */
a.dl {
  display: inline-block;
  margin-right: 5px;
  width: 100px;
  height: 31px;
  text-indent: -999em;
}
a.dl.appstore {
  background-repeat: no-repeat;
  background-image: url('../img/download_appstore.jpg');
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  a.dl.appstore {
    background-image: url('../img/download_appstore@2x.jpg');
    background-size: 100px 31px;
  }
}
a.dl.google {
  background-repeat: no-repeat;
  background-image: url('../img/download_google.jpg');
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  a.dl.google {
    background-image: url('../img/download_google@2x.jpg');
    background-size: 100px 31px;
  }
}
a.dl.windows {
  background-repeat: no-repeat;
  background-image: url('../img/download_win.jpg');
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  a.dl.windows {
    background-image: url('../img/download_win@2x.jpg');
    background-size: 100px 31px;
  }
}

/* quotes */
#quotes {
  background-color: #FFFFFF;
  background-image: url('../img/quote_sdk.jpg');
  background-position: left center;
  background-size: auto 250px;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 250px;
  /*margin: 0 0 50px 0;*/
}

#quotes h3 {
  font-size: 2.0em;
  line-height: 32px;
}

#quotes h3 strong#start{
  position:absolute;
  margin-top: 0px;
  margin-left: -35px;
  font-size: 2.2em;
  line-height: 32px;
  color: #ff6600;
}

#quotes h3 strong#end{
  position:absolute;
  margin-top: 22px;
  margin-left: 5px;
  font-size: 2.2em;
  line-height: 32px;
  color: #ff6600;
}

#quotes h3#name {
  font-size: 1.6em;
  font-weight:200;
}

.quote_sdk {
  padding: 15px 0 20px;
  margin-left: 30px;
}


/* features */
#features {
  background: #e5e5e3;
  padding: 50px 0 60px;
  /* margin: 0 0 50px 0; */
}
#features .fa {
  color: #ff6600;
}

#features .col-md-3,
#features .col-md-12 {
  text-align: center;
}
#features .feat {
  height: 90px;
  width: 90px;
  margin: 0 auto 20px;
}
#features .feat.feat01 {
  background-repeat: no-repeat;
  background-image: url('../img/feat01.png');
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  #features .feat.feat01 {
    background-image: url('../img/feat01@2x.png');
    background-size: 90px 90px;
  }
}
#features .feat.feat02 {
  background-repeat: no-repeat;
  background-image: url('../img/feat02.png');
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  #features .feat.feat02 {
    background-image: url('../img/feat02@2x.png');
    background-size: 90px 90px;
  }
}
#features .feat.feat03 {
  background-repeat: no-repeat;
  background-image: url('../img/feat03.png');
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  #features .feat.feat03 {
    background-image: url('../img/feat03@2x.png');
    background-size: 90px 90px;
  }
}

#features p {
}
/* cases */
#filter {
  font-size: 16px;
  margin: 0 0 20px 0px;
  height: 30px;
}
#filter li {
  float: left;
  list-style: none;
  margin: 0 20px 0 0;
}
#filter li a {
  color: #444;
}
#filter li a:hover {
  color: #ff6600;
  text-decoration: none;
}
#filter li.current a {
  color: #ff6600;
}
#overview .row {
  margin-bottom: 20px;
}
#overview .col-md-4 img {
  width: auto !important;
  /*override the width below*/

  width: 100%;
  max-width: 678px;
  float: left;
  clear: both;
}
#overview .col-md-3 a {
  height: 158px;
  position: relative;
  display: block;
}
#overview .col-md-3 a .hover {
  background: url('../img/cases-hover.png') no-repeat center center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
}
#overview .col-md-3 a:hover .hover {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
}
blockquote {
  color: #999;
  font-size: 30px;
  line-height: 36px;
  font-style: italic;
  margin: 0;
  padding: 0;
}
.seenon {
  background: #fff;
  padding: 30px 0;
  margin: 50px 0;
}
.seenon .logo {
  float: left;
  margin-left: 50px;
  background-position: center center;
  display: block;
  text-indent: -999em;
  height: 30px;
}
.seenon .logo.logo01 {
  width: 188px;
  background-repeat: no-repeat;
  background-image: url('../img/logo01.jpg');
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .seenon .logo.logo01 {
    background-image: url('../img/logo01@2x.jpg');
    background-size: 188px 22px;
  }
}
.seenon .logo.logo02 {
  width: 74px;
  background-repeat: no-repeat;
  background-image: url('../img/logo02.jpg');
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .seenon .logo.logo02 {
    background-image: url('../img/logo02@2x.jpg');
    background-size: 74px 30px;
  }
}
.seenon .logo.logo03 {
  width: 105px;
  background-repeat: no-repeat;
  background-image: url('../img/logo03.jpg');
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .seenon .logo.logo03 {
    background-image: url('../img/logo03@2x.jpg');
    background-size: 105px 22px;
  }
}
.seenon .logo.logo04 {
  width: 166px;
  background-repeat: no-repeat;
  background-image: url('../img/logo04.jpg');
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .seenon .logo.logo04 {
    background-image: url('../img/logo04@2x.jpg');
    background-size: 166px 26px;
  }
}
.seenon .logo.logo05 {
  width: 74px;
  background-repeat: no-repeat;
  background-image: url('../img/logo05.jpg');
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .seenon .logo.logo05 {
    background-image: url('../img/logo05@2x.jpg');
    background-size: 74px 24px;
  }
}
/* pricing */
.pricing-table {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  min-height: 100px;
  margin-bottom: 100px;
  margin-top: 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.pricing-table .col-md-7 {
  padding-bottom: 15px;
  background-repeat: no-repeat;
  background-image: url('../img/pricing_bg.png');
  background-color: #fff;
  background-repeat: repeat-y;
  -webkit-box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.1);
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .pricing-table .col-md-7 {
    background-image: url('../img/pricing_bg@2x.png');
    background-size: 44px 31px;
  }
}
.pricing-table .table {
  margin-bottom: 2px;
}
.pricing-table .table td {
  font-size: 16px;
  border-color: #e6ebed;
}
.pricing-table .table td.empty {
  width: 40px;
}
.pricing-table .table td.max {
  width: 294px;
}
.pricing-table .table th {
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  padding-bottom: 0px;
}
.pricing-table .table tr:first-child td {
  border-top: none;
}
/* big list */
ul.big {
  list-style: none;
  margin: 30px 0 20px 10px;
}
ul.big li {
  background-repeat: no-repeat;
  background-image: url('../img/check.png');
  background-position: left 12px;
  padding: 10px 20px 10px 40px;
  font-size: 20px;
  font-weight: 500;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  ul.big li {
    background-image: url('../img/check@2x.png');
    background-size: 25px 20px;
  }
}
/* about */
.bignr {
  font-size: 80px;
  line-height: 80px;
}
.fullimg {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 20px 0px;
  min-height: 470px;
}
.fullimg.about-1 {
  background-image: url('../img/fullimg/about-1.jpg');
}
@media (max-width: 979px) {

}
@media (max-width: 480px) {
  .fullimg.about-1 {
    background-image: url('../img/fullimg/about-1_480.jpg');
  }
}
/*forms*/
form {
  /* firefox 19+ */

  /* ie */

}
form input[type="text"],
form input[type="email"],
form textarea {
  font-size: 16px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0px 20px 0px;
  margin: 0 0 20px 0;
  height: 38px;
  -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
}
form textarea {
  height: 220px;
  padding-top: 20px;
}
form ::-webkit-input-placeholder {
  color: #999;
  font-weight: 300;
}
form ::-moz-placeholder {
  color: #999;
  font-weight: 300;
}
form :-ms-input-placeholder {
  color: #999;
  font-weight: 300;
}
form input:-moz-placeholder {
  color: #999;
  font-weight: 300;
}
.validation,
.success {
  display: none;
  position: relative;
  top: -13px;
  font-style: italic;
}
.validation {
  color: #f00;
}
/* contact */
span.phone {
  background-repeat: no-repeat;
  background-image: url('../img/icon-phone.png');
  background-position: center left;
  padding: 0 0 0 25px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  span.phone {
    background-image: url('../img/icon-phone@2x.png');
    background-size: 18px 14px;
  }
}
span.fax {
  background-repeat: no-repeat;
  background-image: url('../img/icon-fax.png');
  background-position: center left;
  padding: 0 0 0 25px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  span.fax {
    background-image: url('../img/icon-fax@2x.png');
    background-size: 18px 14px;
  }
}
span.maps {
  background-repeat: no-repeat;
  background-image: url('../img/icon-maps.png');
  background-position: 3px center;
  padding: 0 0 0 25px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  span.maps {
    background-image: url('../img/icon-maps@2x.png');
    background-size: 10px 14px;
  }
}
footer {
  margin-top: 50px;
}
footer .kooaba {
  background-repeat: no-repeat;
  background-image: url('../img/kooaba.png');
  display: inline-block;
  text-indent: -999em;
  height: 13px;
  width: 70px;
  margin-left: 5px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  footer .kooaba {
    background-image: url('../img/kooaba@2x.png');
    background-size: 70px 13px;
  }
}
footer .social {
  display: inline-block;
  margin-left: 10px;
  text-indent: -9999em;
  height: 16px;
}
footer .social.fb {
  background-repeat: no-repeat;
  background-image: url('../img/icon-fb.png');
  width: 16px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  footer .social.fb {
    background-image: url('../img/icon-fb@2x.png');
    background-size: 16px 16px;
  }
}
footer .social.google {
  background-repeat: no-repeat;
  background-image: url('../img/icon-google.png');
  width: 16px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  footer .social.google {
    background-image: url('../img/icon-google@2x.png');
    background-size: 16px 16px;
  }
}
footer .social.blog {
  background-repeat: no-repeat;
  background-image: url('../img/icon-blog.png');
  width: 16px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  footer .social.blog {
    background-image: url('../img/icon-blog@2x.png');
    background-size: 16px 16px;
  }
}
footer .social.twitter {
  background-repeat: no-repeat;
  background-image: url('../img/icon-twitter.png');
  width: 17px;
  background-position: 0px 2px;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  footer .social.twitter {
    background-image: url('../img/icon-twitter@2x.png');
    background-size: 17px 13px;
  }
}
/* modals */
.modal {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-image: url(../img/pattern.png);
  font-size: 16px;
}
.modal .modal-body {
  max-height: 600px;
  margin-left: 12px;
}
/**** MEDIA QUERIES ****/
@media (max-width: 767px) {
  body {
    padding-right: 0px;
    padding-left: 0px;
  }
  .teaser h1 {
    font-size: 2.5em !important;
  }
  .container {
    padding-right: 20px;
    padding-left: 20px;
  }
  #overview {
    margin-top: 20px;
  }
  #overview .row {
    margin-bottom: 0px;
  }
  #overview .col-xs-3 a {
    height: inherit !important;
    margin-bottom: 10px;
  }
  #overview .col-xs-3 a:hover .hover {
    opacity: 0;
  }
  .carousel {
    margin-top: 20px;
  }
  #features .col-xs-4,
  .carousel {
    margin-bottom: 20px;
  }
  .seenon {
    padding-bottom: 10px;
  }
  .seenon .logo {
    margin-left: 0px;
    margin-right: 50px;
    margin-bottom: 20px;
  }
  #cases .col-xs-3,
  #customers .col-xs-3 {
    float: left;
    width: 40%;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  #cases .contact-btn {
    margin-top: 20px;
  }
  .pricing-table .table td.max {
    width: auto;
  }
  .pricing-table .table.mtop10 {
    margin-top: 0;
  }
  .pricing-table .contact-btn {
    margin-bottom: 30px;
  }

  .team h4,
  .team p,
  .team {
    text-align: center;
  }
  .tab-content .col-md-4.mleft40 {
    margin-left: 0;
  }
  .col-xs-2.margin0 {
    width: 50%;
    float: left;
    margin-right: 5px !important;
  }
  .fullimg {
    min-height: 180px;
  }
  .input-large,
  .input-xlarge,
  .input-xxlarge,
  input[class*="span"],
  select[class*="span"],
  textarea[class*="span"],
  .uneditable-input {
    min-height: 40px;
  }
  #quotes {
    background-image: none !important;
  }
}
@media (max-width: 979px) {
  #overview .col-xs-3 a {
    height: 119px;
  }
}

#preview{
  width: 312px;
  height: 164px;
  background-position:center;
  background-clip: border-box;
  background-position: center;
  background-size: 120px;
  background-repeat: no-repeat;
  display: none;
}

#preview.textonly{
  height: 0px;
}

.with_anchor {
  position: relative;
}
.with_anchor .anchor_target {
  position: absolute;
  top: -80px;
}

.iframe-prefix {
  float: left;
  margin-right: 10px;
}

iframe.one_field_input {
  float: none;
  display: inline-block;
  width: 100%;
  max-width: 600px;
}
