@import 'variables'

.CustomerLoveReason
  display: inline-block
  max-width: 300px
  margin: 15px 30px
  vertical-align: top
  text-align: left

  svg
    width: 32px
    height: 32px
    fill: $green

  .special-crown
    display: inline-block
    width: 36px
    height: 32px
    background-image: image-url('home/icon-crown.png')
    background-size: 35px 25px
    background-repeat: no-repeat
    background-position: center

  .title
    display: block
    font-weight: bolder
    margin: 0.5em 0

  p
    line-height: 1.5


  @media(max-width: #{$bp-phone})
    text-align: center