.GetStartedInput

  input
    width: 310px
    height: 60px
    vertical-align: top
    border: none
    border-top-left-radius: $border-radius
    border-bottom-left-radius: $border-radius
    padding-left: 1em
    padding-right: 1em
    font-size: 1.25em
    color: $text-color-lighter
    outline: 0

  button
    height: 60px
    vertical-align: top
    border-top-left-radius: 0
    border-bottom-left-radius: 0
    text-transform: uppercase


  @media(max-width: #{$bp-tablet})

    input
      max-width: 100%
      margin-bottom: 0.5em
      border-radius: $border-radius

    button
      border-radius: $border-radius