@import 'variables'

.HomeHero
  text-align: center
  padding-bottom: 120px
  font-size: 1.325em

  h1
    font-size: 2.85em

  p
    line-height: 1.5

  form
    margin-top: 60px

    input
      width: 310px
      height: 60px
      vertical-align: top
      border: none
      border-top-left-radius: $border-radius
      border-bottom-left-radius: $border-radius
      padding-left: 1em
      padding-right: 1em
      color: $text-color-light
      outline: 0

    button
      height: 60px
      vertical-align: top
      border-top-left-radius: 0
      border-bottom-left-radius: 0
      font-size: 0.75em
      text-transform: uppercase
