@import 'variables'

.HomeHero
  position: relative
  text-align: center
  margin-top: 30px
  padding-bottom: 120px
  font-size: 1.325em

  background-image: image-url("home/hero_dials.png")
  background-size: 648px 252px
  background-repeat: no-repeat
  background-position: top center
  padding-top: 140px

  h1
    font-size: 2.85em
    margin-top: 41px
    margin-bottom: 40px

  p
    line-height: 1.5

  form
    margin-top: 60px

    input
      width: 310px
      height: 60px
      vertical-align: top
      border: none
      border-top-left-radius: $border-radius
      border-bottom-left-radius: $border-radius
      padding-left: 1em
      padding-right: 1em
      color: $text-color-light
      outline: 0

    button
      height: 60px
      vertical-align: top
      border-top-left-radius: 0
      border-bottom-left-radius: 0
      font-size: 0.75em
      text-transform: uppercase

  .chevron-lip
    position: absolute
    bottom: 0
    width: 100%
    text-align: center

    .chevron
      width: 36px
      height: 50px
      fill: $white
