@import 'variables'

.Keypoint
  display: inline-block
  min-width: 260px
  margin: 0.5em 0 0.5em 15px

  text-align: left
  color: $lila
  font-size: 1.25em
  font-weight: bold
  text-transform: uppercase

  .phone
    width: 52px
    height: 85px
    float: left
    margin-right: 1em

    svg
      width: 52px
      height: 85px

  .text
    padding-top: 15px

