---
title: Shortcut - Improve your app's stickiness like Vivino - Case Study
description: Improve your app's stickiness and use engagement. See how Vivino did it with Shortcut.

meta:
  og:title: Improve your app's stickiness like Vivino - Case Study
  og:url: https://shortcut.sc/case-studies/vivino-case-study.html
  og:site_name: Shortcut - Improve your app's stickiness like Vivino - Case Study
  og:description: Improve your app's stickiness and use engagement. See how Vivino did it with Shortcut.
  fb:app_id: 176995982338808
  og:type: website
  og:image: case-thumbnails/vivino-thumbnail.png
  og:image:type: image/png
  og:image:width: 1200
  og:image:height: 630

---


.PageStripe.white
  .PageContainer.centered-content

    h1 Vivino Case Study
	
    = link_to '/case-studies/vivino-case-study.pdf'
      = image_tag 'case-thumbnails/vivino-thumbnail.png', class: 'case-thumbnail'

    p Learn how Vivino automated personalized emails to improve <br>stickiness, engage with users and increase their retention rate.

    = link_to 'Download the case study', '/case-studies/vivino-case-study.pdf', class: 'lila case-download button'


= partial 'components/call_to_action'