@import 'variables'

.FeatureExposition
  text-align: left
  overflow: hidden

  img
    float: left
    margin-right: 50px

  &.reversed
    img
      float: right
      margin-left: 50px

  .description
    h2
      font-size: 2em
      margin-bottom: 20px

    p
      line-height: 1.7

    ul
      margin-top: 2.5em
      font-size: 0.875em
      font-weight: bold
      text-transform: uppercase
      color: $lila

      li + li
        margin-top: 1.25em

      svg
        width: 20px
        height: 22px
        vertical-align: middle
        margin-right: 1em

    .button
      margin-top: 2.5em
      font-weight: bolder

  &.has-no-image
    max-width: $max-readable-width
    margin: 0 auto
    text-align: center

    ul
      max-width: 215px
      margin-left: auto
      margin-right: auto
      text-align: left


  @media(min-width: #{$bp-phone}) and (max-width: 960px)
    img
      max-width: 40%
      height: auto !important

    .description
      display: inline-block
      max-width: 45%


  @media(max-width: #{$bp-phone})
    img
      float: none
      max-width: 100%
      height: auto !important
      margin: 0 0 1em 0



