%ul.benefits-overview
  -data.benefits.benefits.each do |benefit|
    %li
      = link_to benefit.url do
        = svg_image_tag benefit.icon
        %p
          %strong= benefit.title
          %br
          = benefit.short

