<section class="transparent no-bottom-sm" id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-9">
        <h2>Super Powers For Your App Marketing</h2>
        <h4>Try it now, it's easy and it's free!</h4>
        <%= partial 'short_link_form' %>
      </div>
    </div>
  </div>
  <div class="container linkman-container"></div>
</section>

