<section class="transparent no-bottom-sm">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <h2>Add more power to your campaign link.</h2>
        <h3>It's easy and it's free:</h3>
        <%= partial 'short_link_form' %>
      </div>

      <div class="col-sm-5 hidden-xs">
        <div class="clearfix">
          <div class="linkman-img linkman-short">
            <figure class="fixed-ratio"> </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

