<section class="transparent no-bottom-sm" id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-9">
        <h2>Get and keep app users</h2>
        <h4>Start growing for good. It's easy!</h4>
          <a href="mailto:support@shortcutmedia.com" class="btn btn-shortcut apply-btn" style="padding:10px 15px;margin-top:5px;font-size:24px;">Apply for early access</a>
      </div>
    </div>
  </div>
</section>

