#call-to-action
  .container
    .row
      .col-lg-7
        %h1 Add more power to your campaign links.
        %h2 It's easy and it's free:
        
        :javascript
          window.insertCreateShortcutFrame();
          
      .col-lg-5
        %img{src: image_path('/images/linkman_half@2x.png'), width: "450", height: "230"} 