<section class="transparent no-bottom-sm" id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-9">
        <h2>Your Shortcut to a high-quality user experience</h2>
        <p>Start for free, no credit card required.</p>
          <a href="http://manager.shortcutmedia.com/users/sign_up" class="btn btn-shortcut apply-btn" style="padding:10px 15px;margin-top:5px;font-size:24px;">Try Shortcut Now</a>
      </div>
    </div>
  </div>
  <div class="container linkman-container"></div>
</section>

