<section class="transparent no-bottom-sm">
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <h2>Super Powers For Your App Marketing</h2>
        <h4>Try it now, it's easy and it's free!</h4>
        <br>
        <%= partial 'short_link_form' %>
      </div>

      <div class="col-sm-5 hidden-xs">
        <div class="clearfix">
          <div class="linkman-img linkman-short">
            <figure class="fixed-ratio"> </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

