%ul.customers
  %li
    .customers-logo_apg
  %li
    .customers-logo_audi
  %li
    .customers-logo_betty_bossi
  %li
    .customers-logo_carlsberg
  %li
    .customers-logo_kurier
  %li
    .customers-logo_teliasonera

