<div class="inset">
  <div class="page-wrap clearfix">
    <footer class="grid-whole padded">
      <nav>
      <ul class="clearfix">
        <li class="grid-quarter s-grid-half"><%= link_to 'Company', '/company.html' %></li>
        <li class="grid-quarter s-grid-half"><%= link_to 'Contact Us', '/contact_us.html' %></li>
        <li class="grid-quarter s-grid-half"><a href="#">Media</a></li>
        <li class="grid-quarter s-grid-half"><a href="#">Support</a></li>
      </ul>
      </nav>
      <small>Shortcut Media AG &copy <%= Date.today.year %>. All Rights Reserved.</small>
    </footer>
  </div>
</div>

