#footer
  .container
    .row
      .col-lg-4
        %ul
          %li
            %a{href: "#"}Benefits
          %li          
            %a{href: "#"}Documentation
          %li
            %a{href: "#"}About us
          %li
            %a{href: "#"}Blog
          %li
            %a{href: "#"}Cases
          %li
            %a{href: "#"}Shortcut app
      .col-lg-3
        %ul.footer
          %li
            %a{href: "#"}Touch points
          %li          
            %a{href: "#"}Mobile deep linking
          %li
            %a{href: "#"}App marketing
          %li
            %a{href: "#"}Analytics and tracking
          %li
            %a{href: "#"}Social media integration
          %li
            %a{href: "#"}Optimization tools
      .col-lg-2
        %ul.footer
          %li
            %a{href: "#"}Contact
          %li          
            %a{href: "#"}Terms
          %li
            %a{href: "#"}Privacy
      .col-lg-3
        %ul.footer
          %li
            Shortcut Media AG &copy; 2015
          %li           
            Crafted with &hearts; 
            %strong for you!
          %li
            %br
          %li
            %a.social{href: "https://www.facebook.com/shortcutapp", target: "_blank"}
              %img{src: image_path('/images/social-facebook.svg'), width: "30", height: "30", alt: "Shortcut Mobile"}
            %a.social{href: "https://twitter.com/ShortcutMedia", target: "_blank"}
              %img{src: image_path('/images/social-twitter.svg'), width: "30", height: "30", alt: "Shortcut Mobile"}            
            %a.social{href: "https://www.linkedin.com/company/2681378", target: "_blank"}
              %img{src: image_path('/images/social-linkedin.svg'), width: "30", height: "30", alt: "Shortcut Mobile"}
