<section class="modal--show modal--centered modal-youtube-video" id="modal-<%= id %>" tabindex="-1" role="dialog" aria-labelledby="<%= id %>-label" aria-hidden="true">
  <div class="modal-inner">
    <div class="modal-content">
      <iframe id="<%= id %>" width="610" height="343" src="<%= src %>" frameborder="0" allowfullscreen></iframe>
    </div>
    <a href="#!" class="dismiss-button">×</a>
  </div>
  <a href="#!" class="modal-close" title="Close this modal" data-close="Close" data-dismiss="modal">×</a>
</section>

