<form class="short-link-form">
  <input type="url" class="form-control" placeholder="Paster your campaign link here"></input>
  <button type="submit" class="btn btn-shortcut">Create Shortcut</button>
</form>

