<div class="signup-clip <%= html_class %> ">
  <p>
    <b><a href="signup.html">Start free trial</a></b>
  </p>
  <p>
    or <em><a href="<%= manager_host %>/users/sign_in">Sign In</a></em>
  </p>
</div>

