<div id="<%= signup_clip_id %>" class="signup-clip">
  <p><b><a href="signup.html">Start free trial</a></b></p>
  <p>or <em><a href="http://manager.shortcutmedia.com/users/sign_in">Sign In</a></em></p>
</div>
