<header>
  <div class="clearfix">
    <div class="grid-10 offset-1">
      <div id="logo">
        <a href="/">
          <%= figure 'shortcut_logo_rgb_small_shutter' %>
        </a>
      </div>
    </div>
  </div>
</header>


