<section>
  <div class="clearfix">
    <div class="grid-10 offset-1 s-grid-whole">
      <% info_box(class: 'color-scheme-3 box-padded') do %>
        <article>
          <h2 class="title-only-info-box">Shortcut is used world wide <a href="#" class="button">Join Us!</a></h2>
        </article>
        <aside>
          <div class="picture-box clearfix">
            <% %w[ 
              l_apg.jpg l_bmw.jpg l_bonnier.jpg 
              l_burda.jpg l_iwc.jpg l_mitsubishi.jpg 
              l_nzz.jpg l_ringier.jpg l_sanoma.jpg 
              l_springer.jpg l_tamedia.jpg l_wired.jpg
            ].each do |customer| %>
              <%= image_tag customer %>
            <% end %>
          </div>
        </aside>
      <%- end %>
    </div>
  </div>
</section>


