---
title: Shortcut - Your shortcut to app user retention
description: The ultimate tools for app user retention and improved app performance. Try now!

meta:
  og:title: Get app users who stay.
  og:url: https://shortcut.sc
  og:site_name: Shortcut - App User Generation and Retention
  og:description: Grow your app for real. Get Users, boost Engagement, and maximize Referrals.
  fb:app_id: 176995982338808
  og:type: website
  og:image: shortcut_Facebook_Header_851x315px.png
  og:image:type: image/png
  og:image:width: 851
  og:image:height: 315

---


<section id="teaser" class="transparent">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1>April Fools!</h1>
        <h2>Sorry, we couldn't resist...</h2>
        <h3>...since you're here - why don't you take a look at our new video!</h3><br>
<p><iframe width="560" height="315" src="https://www.youtube.com/embed/-dNvequH5kg" frameborder="0" allowfullscreen></iframe></p>
        <div class="cta-box">
          <br>
          <a href="mailto:support@shortcutmedia.com" class="btn btn-shortcut apply-btn" style="padding:10px 15px;margin-top:5px;font-size:24px;">Apply for early access</a>
        </div>
      </div>
    <div>
</section>



<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


<!-- <%= partial 'call_to_action_dev' %> -->

