---
title: Shortcut - Your shortcut to app user retention
description: The ultimate tools for app user retention and improved app performance. Try now!

meta:
  og:title: Tech Crunch - Apple Time Machine can now recover files from the future. Disruptive AI technology from Swiss Startup Shortcut makes it all possible!
  og:url: https://shortcut.sc
  og:site_name: Tech Crunch
  og:description: Swiss Startup Shortcut approached us at TC yesterday wwith news. First we couldn't believe it but when we tried the demo we were stunned. "This add-on helps you to be more productive, just start a document, then open Time Machine and fetch the document when it's finished. Our algorithms can auto-completethe document for you" says CEO Jukka Kiiskinen.
  fb:app_id: 176995982338808
  og:type: website
  og:image: tech-c.png
  og:image:type: image/png
  og:image:width: 435
  og:image:height: 227

---


<section id="teaser" class="transparent">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1>April Fools!</h1>
        <h2>Sorry, we couldn't resist...</h2>
        <h3>...since you're here - why don't you take a look at our new video!</h3><br>
<p><iframe width="560" height="315" src="https://www.youtube.com/embed/-dNvequH5kg" frameborder="0" allowfullscreen></iframe></p>
        <div class="cta-box">
          <br>
          <a href="mailto:support@shortcutmedia.com" class="btn btn-shortcut apply-btn" style="padding:10px 15px;margin-top:5px;font-size:24px;">Apply for early access</a>
        </div>
      </div>
    <div>
</section>



<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


<!-- <%= partial 'call_to_action_dev' %> -->

