---
title: Company
---

<div class="page-wrap clearfix">
  <%= partial "header" %> 
</div>

<div class="page-wrap clearfix info-boxes">

  <section>
    <header><h3><%= current_page.data.title  %></h3></header>
    <div class="clearfix">
      <div class="info-box-container">
        <%#<h1>Company</h1>%>
        <% info_box(class: 'third color-scheme-2') do %>
          <aside>
            <%= figure 'info_graphic_shutter' %> 
          </aside>
          <article>
            <h2>Company Story</h2>

            <p>
              Shortcut Media was founded in July 2012 as spin-off company of kooaba, 
              the world-leading provider of image recognition.
            </p>
            <p>
              Shortcut makes Interactive Print easy. No gimmicks, but easy-to-use 
              Shortcut to all your content.  
            </p>
            <p>
              Shortcut is all about efficiency – saving time and money! We believe 
              Shortcut is the most cost efficient engagement platform for brands 
              and publishers. Our ambition is to offer the best solution for brands 
              to deliver valuable online content. 
            </p>
            <p>
              We create Shortcuts that make content consumption and purchasing 
              easy, fast, affordable and more fun!
            </p> 
            <p>
              What can we do for you? Contact us anytime.
            </p>
            <p><a href="contact_us.html" class="button">Contact Us</a></p>
          </article>
        <%- end %>
      </div>
    </div>
  </section>

</div>



<%= partial 'footer' %>
