#header
  =partial 'navbar'

#benefits-header
  .container
    .row
      .col-lg-12
        %h1 
          Shortcut 
          %span.green documentation
    .row
      .col-lg-offset-3.col-lg-6
        %p
          You get a lot of benefits and don't need much to get started.

.docs
  .container
    .row
      %hr
      .col-lg-3
        .row
          .col-lg-10.grid-gutter{style: "background-color:#f4f4f4"}
            %ul.nav-doc
              %li
                %p Basics
                %ul
                  %li
                    %a{href: "/documentation.html"} Overview
                .border-bottom
              %li
                %p Deep Linking SDK
                %ul
                  %li
                    %a{href: "/documentation-ios.html"} iOS
                  %li
                    %a{href: "/documentation-android.html"} Android
                .border-bottom
              %li
                %p Offline Interaction SDK
                %ul
                  %li
                    %p.active Implementation
                
      .col-lg-7.text-doc
        %h1 Shortcut Offline Interaction SDK
        %p 
          Use this SDK if you want to make your app interacti with offline touch channels such as QR Codes and images (using image recognition). For this SDK, additional fees may occur. Please contact our 
          %a{href: "mailto:sales@shortcutmedia.com?subject=Interested%20in%20offline%20interaction%20SDK"} sales team.
        %p 
          The Offline Interaction SDK is available for
          %a{href: "https://github.com/shortcutmedia/shortcut-sdk-android", target: "_blank"} Android
          and
          %a{href: "https://github.com/shortcutmedia/shortcut-sdk-ios", target: "_blank"} iOS
          to engage customers within your own app.
        %p 
          Check out the video below to see how fast it can be integrated. Can we do it in
          %strong less than one minute
          ?
        =partial 'wistia-iftame-docu'
        %br
        %br
        =partial 'mailchimp-sdk-key'
        
        %p
          Read the SDK documentation on Github for
          %a{href: "https://github.com/shortcutmedia/shortcut-sdk-android", target: "_blank"} Android
          and
          %a{href: "https://github.com/shortcutmedia/shortcut-sdk-ios", target: "_blank"} iOS.
                            
      .col-lg-2.text-doc
        %p
          Here comes the tool tip
    %hr

=partial 'footer'  