#header
  =partial 'navbar'

#benefits-header
  .container
    .row
      .col-lg-12
        %h1 
          Shortcut 
          %span.green documentation
    .row
      .col-lg-offset-3.col-lg-6
        %p
          You get a lot of benefits and don't need much to get started.

.docs
  .container
    .row
      %hr
      .col-lg-3
        .row
          .col-lg-10.grid-gutter{style: "background-color:#f4f4f4"}
            %ul.nav-doc
              %li
                %p Basics
                %ul
                  %li
                    %p.active Overview
                .border-bottom
              %li
                %p Deep Linking SDK
                %ul
                  %li
                    %a{href: "/documentation-ios.html"} iOS
                  %li
                    %a{href: "/documentation-android.html"} Android
                .border-bottom
              %li
                %p Offline Interaction SDK
                %ul
                  %li
                    %a{href: "/documentation-offline-interaction.html"} Implementation
                
      .col-lg-7.text-doc
        %h1 Overview
        %p This SDK provides the following features.
        %ul
          %li 
            Support for 
            %a{href: "https://en.wikipedia.org/wiki/Deferred_deep_linking", target: "_blank"} deferred deep linking.
          %li 
            Collection of additional statistics to build a user acquisition funnel and evaluate user activity.
            
        %p The SDK is available for the following platforms.</p>
        %ul
          %li
            %a{href: "/documentation-ios.html"} iOS
          %li
            %a{href: "/documentation-android.html"} Android
        %p Please refer to these repositories for more information about how to integrate the SDK into your mobile app.
                            
      .col-lg-2.text-doc
        %p
          Here comes the tool tip
    %hr

=partial 'footer'  