---
title: Documentation · Shortcut Media
alias: sdk.html

meta: 
  og:title: App Marketing With Superpowers
  og:url: https://shortcut.sc/documentation.html 
  og:site_name: Shortcut - App Marketing With Superpowers
  og:description: Power Up Your App Marketing. Get Users, boost Engagement, and maximize Referrals.
  fb:app_id: 176995982338808
  og:type: website
  og:image: shortcut_Facebook_Header_851x315px.png
  og:image:type: image/png
  og:image:width: 851
  og:image:height: 315
---


%section.white.header
  .container
    .row
      .col-sm-12.text-center
        %h1
          Shortcut
          %span.green documentation

%section.white.doc
  .container
    .row
      .col-xs-12.col-md-3.side-bar

        %nav.doc-toc.hidden-print.hidden-xs.hidden-sm{data: {spy: 'affix', offset_top: '300'}}

          -#%ul.nav
            -#%li
              -#%a{href: '#Basics'} Basics
              -#%ul.nav
                -#%li
                  -#%a{href: '#Introduction'} Introduction
                -#%li
                  -#%a{href: '#Getting_Started'} Getting Started
 
          %ul.nav
            %li
              %a{href: '#android_shortcut-deep-linking-sdk-for-android'} Android
              = table_of_contents "_android_readme.html.md", 'android'
            %li
              %a{href: '#ios_shortcut-deep-linking-sdk-for-ios'} iOS
              = table_of_contents "_ios_readme.html.md", 'ios'



      .col-xs-12.col-md-9.main
        = partial 'android_readme', locals: { toc_prefix: 'android' }

        %br

        = partial 'ios_readme', locals: { toc_prefix: 'ios' }


      -#.col-xs-12.col-md-2
        -#.hidden-print.hidden-xs.hidden-sm
          -#%h4 Quick tip


