#header
  =partial 'navbar'

#benefits-header
  .container
    .row
      .col-lg-12
        %h1 
          Shortcut 
          %span.green documentation
    .row
      .col-lg-offset-3.col-lg-6
        %p
          You get a lot of benefits and don't need much to get started.

.docs
  .container
    .row
      %hr
      .col-lg-3
        .row
          .col-lg-10.grid-gutter{style: "background-color:#f4f4f4"}
            %ul.nav-doc
              %li
                %p Basics
                %ul
                  %li
                    %a{href: "/documentation.html"} Overview
                .border-bottom
              %li
                %p Deep Linking SDK
                %ul
                  %li
                    %p.active iOS
                  %li
                    %a{href: "/documentation-android.html"} Android
                .border-bottom
              %li
                %p Offline Interaction SDK
                %ul
                  %li
                    %a{href: "/documentation-offline-interaction.html"} Implementation
                
      .col-lg-7.text-doc
        =partial 'docu-ios'
                    
      .col-lg-2.text-doc
        %p
          Here comes the tool tip: "Start with making a key for your app here..."
    %hr

=partial 'footer'  