---
title: Documentation · Shortcut Media
---


%section.white.header
  .container
    .row
      .col-sm-12.text-center
        %h1
          Shortcut
          %span.green documentation

%section.white
  .container
    .row
      .col-xs-12.col-sm-3

      .col-xs-12.col-sm-7
        %h3 Introduction
        %p 
          Lorem ipsum dolor sit amet, efficiendi instructior cu vim, falli percipit omittantur 
          %code nam eu
          , ad mea quas iusto. Possit mentitum qui ne, 
          %code duo at utroque 
          dissentiunt. Stet audire accusata id vix. Volumus corpora et quo.  Eu deserunt molestiae mel.
          %br
        %p
          Mea eu dolore utamur, vituperata dissentiunt vix an, eam ad hinc elit. Pri aliquid partiendo et. Movet fabulas mei ea, quaerendum contentiones quo no, dolor postea usu et. Ei putent nonumes per, nostro partiendo hendrerit mea et, quaeque assentior vix te. Per ne labitur molestiae temporibus, ex est quot errem luptatum, qui eu utinam conclusionemque. Nullam deleniti adipiscing qui no, everti euripidis accommodare ne his, et tale purto sapientem nam.

        %p
          A code block
          %pre
            hello = "my test"
            puts hello
        
          Quem sadipscing nec cu, cu vim modus recusabo appellantur. Mundi quodsi sea id. Stet phaedrum disputationi mea et, case inermis iracundia per id, cum ut eius consequat reformidans. Eum nemore viderer eu. His sale aperiam iuvaret ut, vel in ullamcorper vituperatoribus, falli nominavi te qui. Ne mea quot eruditi.




        %h4 Installation

      .col-xs-12.col-sm-2


