
<div id="teaser">
  <div id="nav" class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://shortcutmedia.com"><img src="<%= image_path('/images/shortcut-logo.png') %>" alt="Shortcut to Mobile" /></a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav pull-right">
          <li><a href="http://shortcutmedia.com/sdk.html">BENEFITS</a></li>
          <li style="margin-right:20px;"><a href="http://shortcutmedia.com/about.html">DOCUMENTATION</a></li>
          <li><a class="btn btn-default" href="http://manager.shortcutmedia.com/users/sign_in">LOGIN</a></li>
        </ul>
      </div>
    </div>
  </div>
    
  <div class="claim">
    <div class="container">
      <div class "row">
        <div class "col-lg-1 col-md-1 col-xs-1">
          <h1>Power up your app:</h1>
          <h2>Get downloads, engagement & re-engagement for your app</h2>
          <p>Create a Shortcut and give it super powers. It's easy and it's free. Try ti yourself!</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="features">
</div>

<div id="dashboard-preview">
</div>

<div id="customers">
</div>

<div id="call-to-action">
</div>

<div id="footer">
</div>


