---
title: Shortcut Media

meta:
  og:title: App Marketing With Superpowers
  og:url: https://shortcut.sc
  og:site_name: Shortcut - App Marketing With Superpowers
  og:description: Power Up Your App Marketing. Get Users, boost Engagement, and maximize Referrals.
  fb:app_id: 176995982338808
  og:type: website
  og:image: shortcut_Facebook_Header_851x315px.png
  og:image:type: image/png
  og:image:width: 851
  og:image:height: 315
---
<section id="teaser" class="transparent">
  <div class="container has-wheel-image">

    <div class="row">
      <div class="col-sm-12 col-md-7">
        <h1>Tools for App User Retention</h1>
        <h3>Easy-to-implement tools to <br />measure, analyze, and improve<br />
your app retention.<span class="text-nowrap"></span></h3>

        <div class="cta-box">
          <br>
          <p>Start for free, no credit card required.<span class="text-nowrap"></span></p>
          <a href="http://manager.shortcutmedia.com/users/sign_up" class="btn btn-shortcut apply-btn" style="padding:10px 15px;margin-top:5px;font-size:24px;">Try Shortcut Now</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="white no-bottom analytics">
  <div class="container">
    <div class="row">
      <!-- <div class="col-sm-12">
        <h2 class="text-center">Boost <span class="text-smart-wrap">Your Retention</span></h2>
      </div> -->

      <div class="col-sm-12 text-center">
      <h3 style="padding-bottom:60px;">Did you know an average app loses 80% of its users within the first 24 hours after download? We could not accept this number so we developed tools to <strong>help you increase your app retention</strong>.</h3>
      </div>
    </div>

  </div>
</section>

<section class="grey">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
<h2><span class="green">Your Shortcut </span>to Retention</h2>
</div>
</div>
</div>
</section>
<section class="grey" id="measure_retention">
  <div class="container">
    <div class="row">
      <div class="col-md-6">

        <h3 class="">1. <span class="green"><strong>Measure</strong> </span><span class="text-smart-wrap">Your Retention</span></h3>
        <p>Before you can judge or make any changes to your retention you need to start measuring it. Use our attribution tools for your app, the backend, and for your deeplinks to measure your retention rate and user behaviour.</p>
        <a href="http://manager.shortcutmedia.com/users/sign_up" class="btn btn-shortcut apply-btn">Read More!</a>

      </div>
      <div class="col-md-6 visible-md visible-lg">
        <div class="terminal" id="api_code">
          <ul class="nav nav-pills">
            <li class="active">
              <a href="#code_curl" data-toggle="tab">Curl</a></li>
              <li><a href="#code_php" data-toggle="tab">PHP</a></li>
              <li><a href="#code_go"data-toggle="tab">Go</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="code_curl">
                <div id="curl_editor" class="editor"># Try our API. Copy & run this in your terminal.
curl -v -d "token=nqrNyKzSsD1sKzFxWyJZ" \
  -d "short_link[website_url]=https://waypoint.li/60bfa91356d47dd7ad06b323ea06254b" \
  https://shortcut-service.shortcutmedia.com/api/v1/short_link/create</div>
                <script>
                var curl_editor = ace.edit("curl_editor");
                curl_editor.getSession().setMode("ace/mode/sh");
                curl_editor.setTheme("ace/theme/monokai");
                curl_editor.setOption("highlightActiveLine", false);
                curl_editor.setOption("showPrintMargin", false)
                curl_editor.renderer.setShowGutter(false);
                </script>
              </div>
              <div class="tab-pane" id="code_php">
                <div id="php_editor" class="editor"># Try running this locally.
# Include the Autoloader (see "Libraries" for install instructions)
require 'vendor/autoload.php';
use Mailgun\Mailgun;

# Instantiate the client.
$mgClient = new Mailgun('key-3ax6xnjp29jd6fds4gc373sgvjxteol0');
$domain = "samples.mailgun.org";

# Make the call to the client.
$result = $mgClient->sendMessage("$domain",
array('from'    => 'Excited User <excited@samples.mailgun.org>',
      'to'      => 'Mailgun Devs <devs@mailgun.net>',
      'subject' => 'Hello',
      'text'    => 'Testing some Mailgun awesomeness!'));</div>
                <script>
                var php_editor = ace.edit("php_editor");
                php_editor.getSession().setMode("ace/mode/sh");
                php_editor.setTheme("ace/theme/monokai");
                php_editor.setOption("highlightActiveLine", false);
                php_editor.setOption("showPrintMargin", false)
                php_editor.renderer.setShowGutter(false);
                </script>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="grey">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul>
          <li>User retention</li>
          <li>Cohort analyzis</li>
          <li>Acquisition and Engagement Funnel</li>
          <li>Traffic sources</li>
        </ul>
      </div>

            <div class="col-sm-6">
       <h3 class="">2. <span class="green"><strong>Analyze</strong></span> <span class="text-smart-wrap">Your App Performance</span></h3>
        <p>Deep dive into that data that you are measuring and get insights into your app performance. Use our dashboard and analysis tools to analyze your retention rate. See how users find your app and where you lose them.</p>
        <a href="http://manager.shortcutmedia.com/users/sign_up" class="btn btn-shortcut apply-btn">Read More!</a>

      </div>

    </div>
  </div>
</section>

<section class="grey">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
       <h3 class="">3. <span class="green"><strong>Improve</strong></span> <span class="text-smart-wrap">Your App Retention</span></h3>
        <p>When you have analyzed and found out where your user funnel needs to be tweaked you can start improving your retention. Make full use of our features to get downloads, improve the onboarding experience and improve your app's retention rate.</p>
        <a href="http://manager.shortcutmedia.com/users/sign_up" class="btn btn-shortcut apply-btn">Read More!</a>

      </div>
      <div class="col-sm-6">
        <ul>
          <li>First experience</li>
          <li>Customized onboarding</li>
          <li>personal newsletters</li>
          <li>organic growth</li>
          <li>web to app</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="blue analytics">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h2 style="padding-bottom:20px;">Take a sneak peek through a Live App</h2>
    </div>
    <div class="col-sm-12 text-center">
      <a href="http://manager.shortcutmedia.com/users/sign_up" class="btn btn-shortcut apply-btn" style="padding:10px 15px;margin-top:5px;font-size:24px;">View live demo</a>
    </div>
</section>

<section class="white">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center margin-b">Why <span class="green">Shortcut?</span></h2>
      </div>
    </div>
        <div class="row">
      <div class="col-sm-12">
        <p style="text-align:center;padding-bottom:0px;">Your customers are out there and they have gotten as far as to downloading your app. Then something happens and they never return. It is such a shame to throw away all the trouble you’ve gone through to acquire the downloaders. Especially when you came so close to keep them!</p>
		<p style="text-align:center;padding-bottom:20px;">We have created a solution to this dilemma. With our tools we can help you measure and analyze your whole customer journey and find out what’s wrong. Find the issue that causes your users to not return to your app. When you have found the issue we provide you with the right tools to get more downloads and to increase your app retention.</p>
      </div>

</section>

<section class="grey">
  <div class="container">

    <div class="row">
      <div class="col-sm-12">
       <h2 class="text-center" style="padding-bottom:20px;"><span class="green">Additional Perks</span> of Being A Shortcut Customer</h2>
      </div>
    </div>

    <div class="row">

      <div class="col-sm-4">
        <h4 style="text-align:center;"><strong>Easy Implementation</strong></h4>
        <p style="text-align:center;padding-bottom:40px;">Our SDKs and APIs are easy to implement and need no additional frameworks. They are built to last for many versions so that you need to implement them only once.</p>
      </div>

      <div class="col-sm-4">
        <h4 style="text-align:center;"><strong>You Matter</strong></h4>
        <p style="text-align:center;padding-bottom:40px;">Our duty is to help you improve your app retention. And this is how we measure our success. Therefore, your success becomes our success.</p>
      </div>

      <div class="col-sm-4">
        <h4 style="text-align:center;"><strong>Built to Last</strong></h4>
        <p style="text-align:center;padding-bottom:40px;">We are committed to our customers since 2012, and we are planning to be here for the next 100 years.</p>
      </div>
      </div>
 </div>

  <div class="container">

        <div class="row">
      <div class="col-sm-2">
        <h4 style="text-align:center;"><strong></strong></h4>
        <p style="text-align:center;padding-bottom:40px;"></p>
      </div>

      <div class="col-sm-4">
        <h4 style="text-align:center;"><strong>Reliable Service</strong></h4>
        <p style="text-align:center;padding-bottom:40px;">With Shortcut you get a set of tools that will help you increase your app retention. We made them super reliable and bullet proof so that you don’t have to worry.</p>
      </div>
      <div class="col-sm-4">
        <h4 style="text-align:center;"><strong>Dedicated Support</strong></h4>
        <p style="text-align:center;padding-bottom:40px;">Our team is here for you 24/7. We help you with both implementation and know-how. Just drop us any question, you will get an answer. If you don't get support within 24 hours, you can call our CEO on his mobile.</p>
      </div>
      <div class="col-sm-2">
        <h4 style="text-align:center;"><strong></strong></h4>
        <p style="text-align:center;padding-bottom:40px;"></p>
      </div>
    </div>
  </div>
</section>


<section class="white">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center">Trusted by</h2>
      </div>
    </div>
    <%= partial 'customers' %>
  </div>
</section>


<section class="grey" id="pricing_plans">
  <div class="container">

    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center" style="padding-bottom:20px;">
          We have the right plan for your company
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="col-xxs-12 col-xs-6 col-sm-4">

        <div class="plan-card">
          <div class="plan-card--title">Garage</div>
          <div class="plan-card--price">
            <sup>$</sup>50<sub>/mo</sub>
          </div>
          <div class="plan-card--summary">
            Core service for small but growing companies
          </div>
          <div class="plan-card--features">
            <div>
              <strong>Features</strong>
            </div>
            API<br>
            SDK<br>
            Stats<br>
            ...<br>
            <br>
          </div>
        </div>

      </div>
      <div class="col-xxs-12 col-xs-6 col-sm-4">

        <div class="plan-card">
          <div class="plan-card--title">Series-A</div>
          <div class="plan-card--price">
            <sup>$</sup>500<sub>/mo</sub>
          </div>
          <div class="plan-card--summary">
            Advanced service for proven apps with high traffic
          </div>
          <div class="plan-card--features">
            <div>
              <strong>Features</strong>
            </div>
            API<br>
            SDK<br>
            Stats<br>
            ...<br>
            <br>
          </div>
        </div>

      </div>
      <div class="col-xxs-12 col-xs-6 col-sm-4">

        <div class="plan-card">
          <div class="plan-card--title">IPO</div>
          <div class="plan-card--contact-us">
            contact us
          </div>
          <div class="plan-card--summary">
            The full service for corporate companies
          </div>
          <div class="plan-card--features">
            <div>
              <strong>Features</strong>
            </div>
            API<br>
            SDK<br>
            Stats<br>
            ...<br>
            <br>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>


<section class="blue analytics">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h2 style="padding-bottom:0px;">Stop Loosing Users. Get Them Back Instead!</h2>
      <h3 style="padding-bottom:10px;">We have the right plan for your company.</h3>
    </div>
    <div class="col-sm-12 text-center">
      <a href="http://manager.shortcutmedia.com/users/sign_up" class="btn btn-shortcut apply-btn" style="padding:10px 15px;margin-top:5px;font-size:24px;">Try Shortcut for free!</a>
    </div>
</section>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


<!-- <%= partial 'call_to_action_dev' %> -->

