#teaser
  =partial 'navbar'
  
  .container
    .row
      .col-lg-7
        .claim
          %h1 Power up your links:
          %h2 
            Get downloads, engagement & 
            %br re-engagement for your app
          %p 
            Create a Shortcut and give it super powers. It's easy and it's free.
            %br
            %strong Try it yourself!

          :javascript
            window.insertCreateShortcutFrame();
            
            
      .col-lg-5
        %img{src: image_path('/images/linkman@2x.png'), width: "596", height: "653"} 
          
#features
  .container
    .row
      .col-lg-12
        %h1 
          %span.green Our benefits. 
          Your marketing power.
  #benefits-nav
    .container
      .row
        .col-lg-4
          %a{href: "/benefits.html#benefits-short-urls"}
            %img{src: image_path('/images/benefit-short-url-b.svg'), width: "50", height: "50", alt: "Short URLs"}
            %p
              %strong Short URLs
              %br
              To use in all your online advertising
        .col-lg-4
          %a{href: "/benefits.html#benefits-mobile-deep-linking"}
            %img{src: image_path('/images/benefit-mobile-deep-linking-b.svg'), width: "50", height: "50", alt: "Mobile Deep Linking"}
            %p
              %strong Mobile Deep Linking 
              %br
              For better user experience
        .col-lg-4
          %a{href: "/benefits.html#benefits-offline-channels"}
            %img{src: image_path('/images/benefit-qrcode-b.svg'), width: "50", height: "50", alt: "Offline Channels"}
            %p
              %strong Offline Channels
              %br
              Reach your customers offline
      .row
        .col-lg-4
          %a{href: "/benefits.html#benefits-in-store-reach"}
            %img{src: image_path('/images/benefit-instore-reach-b.svg'), width: "50", height: "50", alt: "In-Store Reach"}
            %p
              %strong In-Store Reach
              %br
              Interact with your customers
        .col-lg-4
          %a{href: "/benefits.html#benefits-app-marketing-banner"}
            %img{src: image_path('/images/benefit-app-marketing-b.svg'), width: "50", height: "50", alt: "App Marketing Banners"}
            %p
              %strong App Marketing Banners
              %br
              Market your app effectively 
        .col-lg-4
          %a{href: "/benefits.html#benefits-analytics"}
            %img{src: image_path('/images/benefit-analytics-b.svg'), width: "50", height: "50", alt: "Analytics"}
            %p
              %strong Analytics
              %br
              All the information you need
      .spacing-100
              
#dashboard-preview
  .container
    .row
      .col-lg-12
        %h1 
          Take control. 
          Manage your shortcuts.
    .row
      .col-lg-12
        %img{src: image_path('/images/screen.png'), width: "1106", height: "441"} 
        

#customers
  .container
    .row
      .col-lg-12
        %h1 
          %span.green Successful cases. 
          Happy customers.
    .row.logos
      .col-lg-2
        %img{src: image_path('/images/logo_apg.png'), width: "169", height: "42"} 
      .col-lg-2
        %img{src: image_path('/images/logo_audi.png'), width: "169", height: "42"} 
      .col-lg-2
        %img{src: image_path('/images/logo_betty_bossi.png'), width: "169", height: "42"} 
      .col-lg-2
        %img{src: image_path('/images/logo_carlsberg.png'), width: "169", height: "42"} 
      .col-lg-2
        %img{src: image_path('/images/logo_kurier.png'), width: "169", height: "42"} 
      .col-lg-2
        %img{src: image_path('/images/logo_teliasonera.png'), width: "169", height: "42"} 

=partial 'call-to-action'
=partial 'footer'