---
title: Shortcut - Your tools for app growth and user retention

meta:
  og:title: Get app users who stay.
  og:url: https://shortcut.sc
  og:site_name: Shortcut - App User Generation and Retention
  og:description: Grow your app for real. Get Users, boost Engagement, and maximize Referrals.
  fb:app_id: 176995982338808
  og:type: website
  og:image: shortcut_Facebook_Header_851x315px.png
  og:image:type: image/png
  og:image:width: 851
  og:image:height: 315
---
<section id="teaser" class="transparent">
  <div class="container has-wheel-image">

    <div class="row">
      <div class="col-sm-12 col-md-7">
        <h1>Tools for App User Retention</h1>
        <h3>Easy to implement tools to <br />measure, analyze, and improve<br />
your app retention.<span class="text-nowrap"></span></h3>

        <div class="cta-box">
          <br>
          <p>Start for free, no credit card required.<span class="text-nowrap"></span></p>
          <a href="mailto:support@shortcutmedia.com" class="btn btn-shortcut apply-btn" style="padding:10px 15px;margin-top:5px;font-size:24px;">Apply for early access</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="white no-bottom analytics">
  <div class="container">
    <div class="row">
      <!-- <div class="col-sm-12">
        <h2 class="text-center">Boost <span class="text-smart-wrap">Your Retention</span></h2>
      </div> -->

      <div class="col-sm-12 text-center">
      <h3 style="padding-bottom:60px;">An average app loses 80% of its users within the first 24 hours after download. We could not accept this number so we developed tools to <strong>help you increase your app retention</strong>.</h3>
      </div>
    </div>

  </div>
</section>

<section class="grey">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
<h2><span class="green">Your Shortcut </span>to User Retention</h2>
</div>
</div>
</div>
</section>
<section class="grey" id="measure_retention">
  <div class="container">
    <div class="row">
      <div class="col-md-6">

        <h3 class="">1. <span class="green"><strong>Measure</strong> </span><span class="text-smart-wrap"> Performance</span></h3>
        <p>Start with measuring your current app retention and your onboarding and engagement flow. Use our easy-to-implement SDK and API to start getting that valuable information that will be the key to improving your app performance and user retention.</p>
        <a href="mailto:support@shortcutmedia.com" class="btn btn-shortcut apply-btn">Apply for early access</a>
      </div>
      <div class="col-sm-6">
        <img src="/images/landingpage-product-measure2.png" alt="measure app retention" style="height:400px;">
      </div>
      </div>
    </div>
  </div>
</section>

<section class="grey">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img src="/images/landingpage-product-analytics2.png" alt="analyze app retention" style="height:350px;">
      </div>

            <div class="col-sm-6">
       <h3 class="">2. <span class="green"><strong>Analyze</strong></span> <span class="text-smart-wrap"> Opportunities	</span></h3>
        <p>Dive deep into that data that you are measuring and get insights into your app performance. Use our dashboard and analysis tools to find the opportunities in your app. Only when you know how users find your app and where you can improve stickiness, you can start making improvements.</p>
        <a href="mailto:support@shortcutmedia.com" class="btn btn-shortcut apply-btn">Apply for early access</a>

      </div>

    </div>
  </div>
</section>

<section class="grey">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
       <h3 class="">3. <span class="green"><strong>Improve</strong></span> <span class="text-smart-wrap"> Retention</span></h3>
        <p>Once you have analyzed and found out where your user funnel needs to be tweaked you can start improving your app performance and your user retention rate. Make full use of our tools that help you get downloads, improve the user experience and improve your app's retention.</p>
        <a href="mailto:support@shortcutmedia.com" class="btn btn-shortcut apply-btn">Apply for early access</a>

      </div>
      <div class="col-sm-6">
        <img src="/images/landingpage-product-improve3.png" alt="analyze app retention" style="height:350px;">
      </div>
    </div>
  </div>
</section>


<section class="blue analytics">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center margin-b">Why Shortcut?</h2>
      </div>
    </div>
        <div class="row">
      <div class="col-sm-12">
        <h3 style="text-align:center;padding-bottom:0px;">Getting new users is expensive and needs a lot of constant effort. It is frustrating to see them leave already after less than 24 hours. We help you to get users and make them stick to your app.</h3>
      </div>

</section>

<section class="grey" id="customer_perks">
  <div class="container">

    <div class="row">
      <div class="col-sm-12">
       <h2 class="text-center"><span class="green">Customers</span> Love Us</h2>
      </div>
    </div>

    <div class="row">

      <div class="col-sm-4">
        <div class="perk-card">
        <img src="/images/perks/icon-code2.png" alt="analyze app retention" style="width:80px;height:80px;">
          <h4><strong>Easy Implementation</strong></h4>
          <p>Our SDKs and APIs are easy to implement and don't need additional frameworks. They are built to last for many versions.</p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="perk-card">
        <img src="/images/perks/icon-you-matter.png" alt="analyze app retention" style="width:80px;height:80px;">
          <h4><strong>You Matter</strong></h4>
          <p>Your returning users are the measurement of our success and therefore your success becomes our success.</p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="perk-card">
        <img src="/images/perks/icon-built-to-last.png" alt="analyze app retention" style="width:80px;height:80px;">
          <h4><strong>Built to Last</strong></h4>
          <p>We are committed to our customers since 2012, and we are planning to be here for the next 100 years.</p>
        </div>
      </div>

    </div>
 </div>

  <div class="container">
    <div class="row">

      <div class="col-sm-2"></div>

      <div class="col-sm-4">
        <div class="perk-card">
        <img src="/images/perks/icon-reliable.png" alt="analyze app retention" style="width:80px;height:80px;">
          <h4><strong>Reliable Service</strong></h4>
          <p>With Shortcut you get a set of tools that will help you increase your app retention. We made them super reliable and bullet-proof so that you don’t have to worry.</p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="perk-card">
        <img src="/images/perks/icon-dedicated-service.png" alt="analyze app retention" style="width:80px;height:80px;">
          <h4><strong>Dedicated Support</strong></h4>
          <p>Our team is here for you 24/7. We help you with both implementation and know-how. If you don't get support within 24 hours, you can call our CEO on his mobile.</p>
        </div>
      </div>

      <div class="col-sm-2"></div>

    </div>
  </div>
</section>


<section class="white">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center">Trusted by</h2>
      </div>
    </div>
    <%= partial 'customers' %>
  </div>
</section>


<section class="grey" id="pricing_plans">
  <div class="container">

    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center margin-b"><span class="green">Transparent </span> Pricing</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-xxs-12 col-xs-12 col-sm-12">

        <div class="plan-card">
          <div class="plan-card--title">You only pay for <strong>Monthly Returning Users</strong>.</div>

          <div class="plan-card--slider">
            <div><span id="pricing_slider_user_count">0</span> Returning Users per Month</div>
            <input id="pricing_slider" style="width: 100%">
          </div>

          <div class="plan-card--price">
            <sup>$</sup><span id="pricing_slider_cost">0</span><sub>/mo</sub>
          </div>

          <div class="plan-card--summary">
            Acquire as many users you want for free, we only charge you for the ones who stay.
          </div>

          <div class="plan-card--features">
            <div>
              <h4>Features</h4>
            </div>
            <strong>Free Until 1'000 Returning Users per Month</strong><br />
            Unlimited Attributions<br />
            User Cohort Analysis<br />
            Acquisition and Engagement Funnels<br />
            Deferred App-Deep-Linking
            Mobile-Deep-Link SDK<br />
            App Banners<br />
            API access<br />
            Word of Mouth<br />
            Custom Domains<br />
            Unlimited Marketing Links<br />
            24 Priority Support<br />
          </div>
        </div>

      </div>
    </div>

  </div>
</section>


<section class="blue analytics">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 style="padding-bottom:0px;">Stop Loosing Users. Keep Them Instead!</h2><br>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center">
        <a href="mailto:support@shortcutmedia.com" class="btn btn-shortcut apply-btn" style="padding:10px 15px;margin-top:5px;font-size:24px;">Apply for early access</a>
      </div>
    </div>
  </div>
</section>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


<!-- <%= partial 'call_to_action_dev' %> -->

