---
title: Shortcut Media

meta:
  og:title: App Marketing With Superpowers
  og:url: https://shortcut.sc
  og:site_name: Shortcut - App Marketing With Superpowers
  og:description: Power Up Your App Marketing. Get Users, boost Engagement, and maximize Referrals.
  fb:app_id: 176995982338808
  og:type: website
  og:image: shortcut_Facebook_Header_851x315px.png
  og:image:type: image/png
  og:image:width: 851
  og:image:height: 315
---
<section id="teaser" class="transparent">
  <div class="container has-wheel-image">

    <div class="row">
      <div class="col-sm-12 col-md-7">
        <h1>Tools for App User Retention</h1>
        <h3>Easy to implement tools to <br />measure, analyze, and improve<br />
your app retention.<span class="text-nowrap"></span></h3>

        <div class="cta-box">
          <br>
          <p>Start for free, no credit card required.<span class="text-nowrap"></span></p>
          <a href="mailto:support@shortcutmedia.com" class="btn btn-shortcut apply-btn" style="padding:10px 15px;margin-top:5px;font-size:24px;">Apply for early access</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="white no-bottom analytics">
  <div class="container">
    <div class="row">
      <!-- <div class="col-sm-12">
        <h2 class="text-center">Boost <span class="text-smart-wrap">Your Retention</span></h2>
      </div> -->

      <div class="col-sm-12 text-center">
      <h3 style="padding-bottom:60px;">Did you know an average app loses 80% of its users within the first 24 hours after download? We could not accept this number so we developed tools to <strong>help you increase your app retention</strong>.</h3>
      </div>
    </div>

  </div>
</section>

<section class="grey">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
<h2><span class="green">Your Shortcut </span>to User Retention</h2>
</div>
</div>
</div>
</section>
<section class="grey" id="measure_retention">
  <div class="container">
    <div class="row">
      <div class="col-md-6">

        <h3 class="">1. <span class="green"><strong>Measure</strong> </span><span class="text-smart-wrap"> Performance</span></h3>
        <p>Before you can make any changes to your app performance and user retention you need to start measuring your retention rate and user behaviour. Use our easy-to-implement SDK and API to start getting that valuable information that will be the key to improving your app performance and user retention.</p>
        <a href="mailto:support@shortcutmedia.com" class="btn btn-shortcut apply-btn">Apply for early access</a>
      </div>
      <div class="col-sm-6">
        <img src="/images/landingpage-product-measure.png" alt="analyze app retention" style="height:400px;">
      </div>
      </div>
    </div>
  </div>
</section>

<section class="grey">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img src="/images/landingpage-product-analyze.png" alt="analyze app retention" style="height:400px;">
      </div>

            <div class="col-sm-6">
       <h3 class="">2. <span class="green"><strong>Analyze</strong></span> <span class="text-smart-wrap"> Painpoints</span></h3>
        <p>Deep dive into that data that you are measuring and get insights into your app performance. Use our dashboard and analysis tools to find the painpoints in your app. Only when you know how users find your app and where you lose your users you can start making improvements to these painpoints.</p>
        <a href="mailto:support@shortcutmedia.com" class="btn btn-shortcut apply-btn">Apply for early access</a>

      </div>

    </div>
  </div>
</section>

<section class="grey">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
       <h3 class="">3. <span class="green"><strong>Improve</strong></span> <span class="text-smart-wrap"> Retention</span></h3>
        <p>When you have analyzed and found out where your user funnel needs to be tweaked you can start improving your app performance and you ruser retention rate. Make full use of our tools that help you to get downloads, improve the user experience and improve your app's retention.</p>
        <a href="mailto:support@shortcutmedia.com" class="btn btn-shortcut apply-btn">Apply for early access</a>

      </div>
      <div class="col-sm-6">
        <img src="/images/landingpage-product-improve.png" alt="analyze app retention" style="height:330px;">
      </div>
    </div>
  </div>
</section>


<section class="blue analytics">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center margin-b">Why Shortcut?</h2>
      </div>
    </div>
        <div class="row">
      <div class="col-sm-12">
        <p style="text-align:center;padding-bottom:0px;">Your customers are out there and they have gotten as far as to downloading your app. Then something happens and they never return. It is such a shame to throw away all the trouble you’ve gone through to acquire the downloaders. Especially when you came so close to keep them!</p>
		<p style="text-align:center;padding-bottom:20px;">We have created a solution to this dilemma. With our tools we can help you measure and analyze your whole customer journey and find out what’s wrong. Find the issue that causes your users to not return to your app. When you have found the issue we provide you with the right tools to get more downloads and to increase your app retention.</p>
      </div>

</section>

<section class="grey" id="customer_perks">
  <div class="container">

    <div class="row">
      <div class="col-sm-12">
       <h2 class="text-center"><span class="green">Customers</span> Love Us</h2>
      </div>
    </div>

    <div class="row">

      <div class="col-sm-4">
        <div class="perk-card">
        <img src="/images/perks/icon-code2.png" alt="analyze app retention" style="width:80px;height:80px;">
          <h4><strong>Easy Implementation</strong></h4>
          <p>Our SDKs and APIs are easy to implement and don't need additional frameworks. They are built to last for many versions so that you need to implement them only once.</p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="perk-card">
        <img src="/images/perks/icon-you-matter.png" alt="analyze app retention" style="width:80px;height:80px;">
          <h4><strong>You Matter</strong></h4>
          <p>We are here to help you improve your app retention. Your returning users are the measurement of our success and therefore your success becomes our success.</p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="perk-card">
        <img src="/images/perks/icon-built-to-last.png" alt="analyze app retention" style="width:80px;height:80px;">
          <h4><strong>Built to Last</strong></h4>
          <p>We are not a startup that lures in customers and then disappears. We are committed to our customers since 2012, and we are planning to be here for the next 100 years.</p>
        </div>
      </div>

    </div>
 </div>

  <div class="container">
    <div class="row">

      <div class="col-sm-2"></div>

      <div class="col-sm-4">
        <div class="perk-card">
        <img src="/images/perks/icon-reliable.png" alt="analyze app retention" style="width:80px;height:80px;">
          <h4><strong>Reliable Service</strong></h4>
          <p>With Shortcut you get a set of tools that will help you increase your app retention. We made them super reliable and bullet proof so that you don’t have to worry.</p>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="perk-card">
        <img src="/images/perks/icon-dedicated-service.png" alt="analyze app retention" style="width:80px;height:80px;">
          <h4><strong>Dedicated Support</strong></h4>
          <p>Our team is here for you 24/7. We help you with both implementation and know-how. If you don't get support within 24 hours, you can call our CEO on his mobile.</p>
        </div>
      </div>

      <div class="col-sm-2"></div>

    </div>
  </div>
</section>


<section class="white">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center">Trusted by</h2>
      </div>
    </div>
    <%= partial 'customers' %>
  </div>
</section>


<section class="grey" id="pricing_plans">
  <div class="container">

    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center margin-b"><span class="green">We have the right plan </span>for your company</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-xxs-12 col-xs-6 col-sm-4">

        <div class="plan-card">
          <div class="plan-card--title">Garage</div>
          <div class="plan-card--price">
            <sup>$</sup>50<sub>/mo</sub>
          </div>
          <div class="plan-card--summary">
            Core service for small but growing companies
          </div>
          <div class="plan-card--features">
            <div>
              <strong>Features</strong>
            </div>
            API<br>
            SDK<br>
            Stats<br>
            ...<br>
            <br>
          </div>
        </div>

      </div>
      <div class="col-xxs-12 col-xs-6 col-sm-4">

        <div class="plan-card">
          <div class="plan-card--title">Series-A</div>
          <div class="plan-card--price">
            <sup>$</sup>500<sub>/mo</sub>
          </div>
          <div class="plan-card--summary">
            Advanced service for proven apps with high traffic
          </div>
          <div class="plan-card--features">
            <div>
              <strong>Features</strong>
            </div>
            API<br>
            SDK<br>
            Stats<br>
            ...<br>
            <br>
          </div>
        </div>

      </div>
      <div class="col-xxs-12 col-xs-6 col-sm-4">

        <div class="plan-card">
          <div class="plan-card--title">IPO</div>
          <div class="plan-card--contact-us">
            contact us
          </div>
          <div class="plan-card--summary">
            The full service for corporate companies
          </div>
          <div class="plan-card--features">
            <div>
              <strong>Features</strong>
            </div>
            API<br>
            SDK<br>
            Stats<br>
            ...<br>
            <br>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>


<section class="blue analytics">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h2 style="padding-bottom:0px;">Stop Loosing Users. Get Them Back Instead!</h2><br>
    </div>
    <div class="col-sm-12 text-center">
      <a href="http://manager.shortcutmedia.com/users/sign_up" class="btn btn-shortcut apply-btn" style="padding:10px 15px;margin-top:5px;font-size:24px;">Apply for early access</a>
    </div>
</section>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


<!-- <%= partial 'call_to_action_dev' %> -->

