---
title: Shortcut Media

meta: 
  og:title: App Marketing With Superpowers
  og:url: https://shortcut.sc 
  og:site_name: Shortcut - App Marketing With Superpowers
  og:description: Power Up Your App Marketing. Get Users, boost Engagement, and maximize Referrals.
  fb:app_id: 176995982338808
  og:type: website
  og:image: shortcut_Facebook_Header_851x315px.png
  og:image:type: image/png
  og:image:width: 851
  og:image:height: 315
---    
<section id="teaser" class="transparent">
  <div class="container">

    <div class="row">
      <div class="col-sm-7 col-md-8">
        <h1>Tools for App User Retention</h1>
        <h3>Easy-to-implement SDKs and APIs to track and boost app retention.<span class="text-nowrap"></span></h3>

        <div class="hidden-xs">
          <br>
          <p>Start for free, no credit card required.<span class="text-nowrap"></span></p>
          <a href="http://manager.shortcutmedia.com/users/sign_up" class="btn btn-shortcut apply-btn" style="padding:10px 15px;margin-top:5px;font-size:24px;">Try Shortcut Now</a>
       </div>
      </div>

      <div class="col-sm-4 linkman-wrapper">
      </div>
    </div>
  </div>

  <div class="container linkman-container"></div>
</section>

<section class="white no-bottom analytics">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center margin-b">Double <span class="text-smart-wrap">Retention</span></h2>
      </div>
      
      <div class="col-sm-6">
      <p>Is losing 80% of DAU after 1 day normal? Not for us. We offer you tools that double user retention.</p>
      </div>
      
      <div class="col-sm-6">
        <%= figure 'sprite.svg#analytics', fluid: [1106, 442], alt: 'Analytics' %>
      </div>
    </div>
    
  </div>
</section>


<section class="grey">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center"><span class="green">Shortcut Scenarios.</span> <span class="text-smart-wrap">Your Growth Potential.</span></h2>
          
      </div>
    </div>

    <%= partial 'benefits_overview' %>
  </div>
</section>

<section class="blue no-bottom analytics">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center margin-b">Why <span class="text-smart-wrap">Shortcut?</span></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <h4 style="text-align:center;"><strong>Reliable Service</strong></h4>
        <p style="text-align:center;padding-bottom:40px;">With Shortcut you get a complete app deep linking service including app SDK, API, and app banners. We made them super reliable so that they work for all cases.</p>
      </div>
      <div class="col-sm-4">
        <h4 style="text-align:center;"><strong>Easy Implementation</strong></h4>
        <p style="text-align:center;padding-bottom:40px;">Our deep linking service is easy to implement and needs no additional frameworks. It is built to last for numerous versions so that you have to implement it only once.</p>
      </div>
      <div class="col-sm-4">
        <h4 style="text-align:center;"><strong>Awesome Support</strong></h4>
        <p style="text-align:center;padding-bottom:40px;">The team is here for you 24/7. We help you with both implementation and marketing ideas. If you don't get support within 24 hours, you can call our CEO on his mobile.</p>
      </div>
    </div>    
  </div>
</section>

<section class="white">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
       <h2 class="text-center"><span class="green">Our Goal.</span> <span class="text-smart-wrap">Your Success.</span></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <h4 style="text-align:center;"><strong>You Matter</strong></h4>
        <p style="text-align:center;padding-bottom:40px;">Your success is our number one priority. If we can help you grow your app and thereby also your business we believe that we will be able to grow with you.</p>
      </div>
      <div class="col-sm-4">
        <h4 style="text-align:center;"><strong>Built to Last</strong></h4>
        <p style="text-align:center;padding-bottom:40px;">We are supported by powerful investors and we make enough revenue to be here for you for years to come. We want to be your long term partner.</p>
      </div>
      <div class="col-sm-4">
        <h4 style="text-align:center;"><strong>Transparency</strong></h4>
        <p style="text-align:center;padding-bottom:40px;">We provide you with the best of tools and we get paid for just that. Can you get the same service for free? Ask yourself how the company is making money.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center"><i>Trusted by</i></h2>
      </div>
    </div>
    <%= partial 'customers' %>
  </div>
</section>


<section class="white" style="padding-bottom:0;">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center"><span class="green">Our Goal.</span> <span class="text-smart-wrap">Your Success.</span></h2>
      </div>
      <div class="col-sm-12">
 
        <div class="terminal" id="api_code">
          <ul class="nav nav-pills">
            <li class="active">
                <a href="#code_curl" data-toggle="tab">Curl</a></li>
            <li><a href="#code_php" data-toggle="tab">PHP</a></li>
            <li><a href="#code_go"data-toggle="tab">Go</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="code_curl">
              <div id="editor"># Try our API. Copy & run this in your terminal.
curl -v -d "token=nqrNyKzSsD1sKzFxWyJZ" \
  -d "short_link[website_url]=https://waypoint.li/60bfa91356d47dd7ad06b323ea06254b" \
  https://shortcut-service.shortcutmedia.com/api/v1/short_link/create
              </div>
            </div>
            <div class="tab-pane" id="code_php">
              <div id="editor"># PHP.
curl -v -d "token=nqrNyKzSsD1sKzFxWyJZ" \
  -d "short_link[website_url]=https://waypoint.li/60bfa91356d47dd7ad06b323ea06254b" \
  https://shortcut-service.shortcutmedia.com/api/v1/short_link/create
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<!-- Java Scripts at the end for speed improvement -->
<script>
var editor = ace.edit("editor");
editor.getSession().setMode("ace/mode/sh");
editor.setTheme("ace/theme/monokai");
editor.setOption("highlightActiveLine", false);
editor.setOption("showPrintMargin", false)
editor.renderer.setShowGutter(false);
</script>

<%= partial 'call_to_action_dev' %>

