---
title: For Newspapers - Shortcut
---

<style>
.info-box-3.no-padding article, .info-box-3.no-padding aside {
  padding: 0;
}



</style>

<div class="page-wrap">
  <section>
    <div class="clearfix">

      <div class="grid-10 offset-1">
        <div class="gird-whole info-box-3 color-scheme-1 no-padding"> <!-- may not contain .clearfix -->

          <div class="clearfix">
            <aside>
              <p>Aside</p>
            </aside>

            <article>
              <p>Info box full width Aside first without padding</p>
              <br>
              <p>...</p>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr>
  <section>
    <div class="clearfix">
      <div class="grid-10 offset-1">
        <div class="gird-whole info-box-3 color-scheme-1 no-padding">
          <div class="clearfix">
            <article>
              <p>Info box full width Article first without padding</p>
              <br>
              <p>...</p>
            </article>
            <aside>
              <p>Aside</p>
            </aside>
          </div>
        </div>
      </div>
    </div>
  </section>

  <hr>
  <section>
    <div class="clearfix">

      <div class="grid-10 offset-1">
        <div class="gird-whole info-box-3 color-scheme-1"> <!-- may not contain .clearfix -->

          <div class="clearfix">
            <aside>
              <p>Aside</p>
            </aside>

            <article>
              <p>Info box full width Aside first with padding</p>
              <br>
              <p>...</p>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>

  <hr>
  <section>
    <div class="clearfix">
      <div class="grid-10 offset-1">
        <div class="gird-whole info-box-3 color-scheme-1">
          <div class="clearfix">
            <article>
              <p>Info box full width Article first with padding</p>
              <br>
              <p>...</p>
            </article>
            <aside>
              <p>Aside</p>
            </aside>
          </div>
        </div>
      </div>
    </div>
  </section>

  <hr>
  <section>
    <div class="clearfix">
      <div class="grid-10 offset-1">
        <div class="gird-whole info-box-3 half color-scheme-1 no-padding"> <!-- may not contain .clearfix -->
          <div class="clearfix">
            <aside>
              <p>Aside</p>
            </aside>
            <article>
              <p>Info box half without padding</p>
              <br>
              <p>...</p>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr>
  <section>
    <div class="clearfix">
      <div class="grid-10 offset-1">
        <div class="gird-whole info-box-3 half info-left color-scheme-1 no-padding"> <!-- may not contain .clearfix -->
          <div class="clearfix">
            <aside>
              <p>Aside</p>
            </aside>
            <article>
              <p>Info box half with info-left first and without padding</p>
              <br>
              <p>...</p>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr>
  <section>
    <div class="clearfix">
      <div class="grid-10 offset-1">
        <div class="gird-whole info-box-3 half color-scheme-1"> <!-- may not contain .clearfix -->
          <div class="clearfix">
            <aside>
              <p>Aside</p>
            </aside>
            <article>
              <p>Info box half with padding</p>
              <br>
              <p>...</p>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr>

  <section>
    <div class="clearfix">
      <div class="grid-10 offset-1">
        <div class="gird-whole info-box-3 third color-scheme-1"> <!-- may not contain .clearfix -->
          <div class="clearfix">
            <aside>
              <p>Aside</p>
            </aside>
            <article>
              <p>Info box third</p>
              <br>
              <p>...</p>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr>
  <section>
    <div class="clearfix">
      <div class="grid-10 offset-1">
        <div class="gird-whole info-box-3 third info-left color-scheme-1"> <!-- may not contain .clearfix -->
          <div class="clearfix">
            <aside>
              <p>Aside</p>
            </aside>
            <article>
              <p>Info box third with info-left</p>
              <br>
              <p>...</p>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr>
  <section>
    <div class="clearfix">
      <div class="grid-10 offset-1">
        <div class="gird-whole info-box-3 third color-scheme-1"> <!-- may not contain .clearfix -->
          <div class="clearfix">
            <aside>
              <p>Aside</p>
            </aside>
            <article>
              <p>Info box third with padding</p>
              <br>
              <p>...</p>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr>
  <section>
    <div class="clearfix">
      <div class="grid-10 offset-1">
        <div class="gird-whole info-box-3 flexbox third info-left color-scheme-2">
          
          <div class="clearfix">
            <div class="inner-wrapper">
              <aside>
                <figure id="info_graphic_how_shortcut_works"> 
                  <%= partial 'img/info_graphic_how_shortcut_works.svg' %>
                </figure>
              </aside>
              <article>
                <p>Flex Info box third with info-left</p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <p>...</p>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr>
  <section>
    <div class="clearfix">
      <div class="grid-10 offset-1">
        <div class="gird-whole info-box-3 flexbox third info-left color-scheme-2">
          <div class="clearfix">
            <div class="inner-wrapper">
              <aside>
                <figure id="info_graphic_how_shortcut_works"> 
                  <%= partial 'img/info_graphic_how_shortcut_works.svg' %>
                </figure>
              </aside>
              <article class="centered">
                <div>
                  <p>Flex Info box third with info-left</p>
                  <p>...</p>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr>

  <section>
    <div class="clearfix">
      <div class="grid-10 offset-1">
        <% info_box_flex(class: 'third info-left color-scheme-2') do %>
          <aside>
            <figure id="info_graphic_how_shortcut_works"> 
              <%= partial 'img/info_graphic_how_shortcut_works.svg' %>
            </figure>
          </aside>
          <article class="centered">
            <div>
              <p>Flex Info box third with info-left and info_box helper</p>
              <p>...</p>
            </div>
          </article>
        <%- end %>
      </div>
    </div>
  </section>
  <hr> 



  <!-- real world examples -->
  <section>
    <div class="clearfix">
      <div class="grid-10 offset-1">
        <div class="gird-whole info-box-3 third info-left color-scheme-1 box-padded"> <!-- may not contain .clearfix -->
          <div class="clearfix">
            <aside>
              <figure> 
                <%= partial 'img/info_graphic_how_shortcut_works.svg' %>
              </figure>
            </aside>
            <article>
              <h2>Designed for Newspapers</h2>
              <p>
                Shortcut is designed to fit in to your existing daily 
                editorial process. It is easy and fast to use and doesn’t 
                require changes in existing work flows.
              </p>
              <ul>
                <li>Automatic upload and activation of all pages</li>
                <li>Automatic PDF upload via FTP</li>
                <li>Digital content can be linked already previous day</li>
              </ul>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>

