---
title: Privacy Policy
---

<div class="page-wrap clearfix">
  <div class="grid-whole">
    <div class="grid-10 offset-1">
      <h1>Privacy Policy</h1>

      <p>At Shortcut Media, we are concerned about the privacy of your data. As part of the usage of our service by you as an end-user or business customer, we receive some personal data such as email addresses, images, and location information. The information provided in this privacy policy ("Privacy Policy") is designed to help you understand what data we collect, and how we process these.</p>

      <h2>User</h2>
      <p>We define "User" as the end-user using our services via the mobile Shortcut Reader app to "read" Shortcuts in the real world for the purpose of connection to related online content.</p>

      <h2>Customer</h2>
      <p>We define "Customer" as the person or group of people using our web-based manager platform (via desktop or mobile devices) in order to create Shortcuts and online experiences.</p>

      <h2>Use of personal data</h2>
      <p>Both Users and Customers provide some personal information to Shortcut Media by using our services.</p>

      <h3>Users</h3>
      <p>If you are a User and use the Shortcut Reader, we will not get any information about you. All we get is an anonymous ID of your device, which cannot be used to track back to any personal data. Also, this ID will not be transferred to any third party. The Shortcut Reader connects to third-party services such as user accounts or payment services. All information you provide to a third party service via the Shortcut Reader cannot and will not be tracked or collected from us. Please refer to the Privacy Policy of the third party services in order to proceed.</p>

      <p>If you scan or take a picture of a physical Shortcut, we will receive and store this image data together with some location information (if this functionality is enabled). However, this data is anonymous and not related to any personal data of you such as email address, phone number, Facebook profile, etc.</p>

      <p>As a User you can use third party services such as Evernote and Facebook in order to enrich the Shortcut Experience. We do not receive or collect and login information to those services. In order to communicate with third party services, the Shortcut Reader app gets anonymous IDs from the third party services that they can identify you on their end. This IDs are stored on your personal device and are not transferred or stored on our servers.</p>

      <p>In special cases you might be asked to provide your email address in order to participate at some third-party services (e.g. sweepstakes, mobile coupon campaign). By doing so, you agree that we will transfer your email address to that third party. We will not store or further process your email address.</p>

      <h3>Customers</h3>
      <p>If you are a Customer and use our web-based manager to create Shortcuts, we will store your email address, the reference images, URLs, phone numbers, and other information in order to create the Shortcuts. Also, we will provide you with all the statistics of the usage of your Shortcuts including some rough geo information. We will not disclose this information to any third party without your written agreement. The usage information we provide you will not include user information without explicit agreement of the user.</p>

      <p>For both Users and Customers we commit to not selling or providing your personal data to third parties.</p>

      <p>We use the collected user traffic data for high-level statistics for customers.</p>

      <h2>Data security</h2>
      <p>All data is encrypted and stored according appropriate technical and organizational security measures. We apply best existing technology to prevent any unauthorized person to access your data.</p>

      <h2>Deleting Information</h2>
      <p>As a customer, you can delete your entire Shortcut account at any time by requesting an account deletion via email at <a href="mailto:support@shortcutmedia.com">support@shortcutmedia.com</a> by specifying your account information. If you delete your account, all account information and saved data is deleted from the Shortcut service. If you stored some response data such as videos, documents, etc. this data will be entirely deleted.</p>

      <p>Due to the nature of backups and logs, deleted data may persist in backups and logs until they are deleted.</p>
        If you wish to unsubscribe from our newsletter you can do so from the footer of the email you've received.</p>

      <h2>How To Contact Us</h2>
      <p>Should you have other questions or concerns about these privacy policies, please email <a href="mailto:info@shortcutmedia.com">info@shortcutmedia.com</a>.</p> 

      <h2>Changes To This Policy</h2>
      <p>Shortcut reserves the right to change this policy at any time. As a user, please check this page periodically for changes. As a customer, you will receive email notification. Your continued use of Shortcut following the posting of changes to this policy will mean you accept those changes.</p>	   
    </div>
  </div>
</div>


