---
title: Privacy Policy · Shortcut Media

meta: 
  og:title: App Marketing With Superpowers
  og:url: https://shortcut.sc/privacy.html 
  og:site_name: Shortcut - App Marketing With Superpowers
  og:description: Power Up Your App Marketing. Get Users, boost Engagement, and maximize Referrals.
  fb:app_id: 176995982338808
  og:type: website
  og:image: shortcut_Facebook_Header_851x315px.png
  og:image:type: image/png
  og:image:width: 851
  og:image:height: 315
---

%section.white.header
  .container
    .row
      .col-sm-12
        %h1
          Privacy Policy
        %p
          Last Updated: March 2016
        
        %h2
          1. Introduction and Acceptance.
        %p
          Shortcut Media AG. ("Shortcut" or "We") appreciates your visit to this web site and all associated sites linked to www.shortcutmedia.com and www.shortcut.sc (collectively, the “Site”) and your interest in our services. Your privacy is important to us and we want you to feel comfortable visiting our Site. We take care to protect your personal data collected, processed and used during visits to the Site.
        %p
          This Privacy Policy (“Privacy Policy”) governs your use of the Site and the services offered on or through the Site (collectively, the “Services”) by Shortcut Media AG, a company formed under Swiss law with domicile in Zurich Switzerland ("Shortcut" or "We"). It does not apply to information collected offline or by third parties not affiliated with Shortcut that the Site may link to (“Third Party Sites”). Please read this Privacy Policy and the 
          = link_to 'Terms of Service', 'terms.html' 
          carefully before using the Site.
        
        %h2
          2. Modifications.
        %p
          Shortcut may update its Privacy Policy from time to time. The most current version will be posted on the Site. It is your responsibility to check this Privacy Policy periodically for changes. Your continued use of the Site following the posting of changes will mean that you accept and agree to the changes. Please refer to the Terms of Service posted on the Site to see additional terms and conditions that govern your use of the Site. 
        %p
          BY USING THE SITE AND THE SERVICES, YOU AGREE TO THESE TERMS; IF YOU DO NOT AGREE, DO NOT USE THE SITE.

        %h2
          3. Collecting Information.  
        %p
          Shortcut offers a sharing and analytics platform to enable mobile application developers (the “Clients”) to promote their apps and to derive additional insights into how people that use their customers (the “Users”) download and utilize those apps. When providing these Services, Shortcut collects both personally identifiable information (“PII”), which can be used to identify an individual user, and non-personally identifiable information (“non-PII”), as set forth below. 
        %ul
          %li 
            (a)	Information Collected from Clients.

            %ul
              %li
                i. Account: When a Client signs up to use our Services, we require the Client to provide various PII, including the Client’s email address and credit card information or other payment account information.  We also require the Client to setup a unique password for account security purposes. A Client may also provide Shortcut with certain optional information at the Client’s sole discretion. This information is used to enable Shortcut to provide the Client with access to certain areas of the Site, to personalize the Services, to process payment and to communicate with the Client about the Services.
              %li
                ii.	Other Services: When a Client uses Shortcut’s App Banner services, we store, process and transmit the Client’s information, data, images, contacts, and files that the Client provides to us. We also collect information about how a Client uses the Site.  
              %li
                iii.	Traffic Data: When the Client or a User visits the Site, Shortcut collects information about that visit (known as “Traffic Data”), which is stored as anonymous, aggregate and non-PII data. Such Traffic Data includes the devices a Client uses to access the Site, device information, location information, and web navigational data, subject to the permissions the Client has granted. This information is compiled and analyzed for marketing purposes and to enhance the Client’s experience on the Site. 
              %li
                iv.	Log Files: Shortcut gathers certain information automatically and stores it in log files. This information may include internet protocol (IP) addresses, browser type, internet service provider (ISP), referring/exit pages, operating system, date/time stamp, and/or clickstream data (collectively, “Log Files”). Shortcut may combine this automatically-collected log information with other information we collect about you. We do this to improve marketing, analytics, and site functionality.
              %li
                v.	Cookies and other technologies: Shortcut uses "cookies," beacons and other tracking technologies on certain pages of the Site to help analyze our web page flow, measure promotional effectiveness, promote trust, convenience and safety, and provide information that targets a Client’s interests. "Cookies" are small files placed on the Client’s hard drive. We offer certain features that are only available through the use of cookies. We also may use cookies to allow you to enter your password less frequently. A Client may decline our cookies if their browser permits, although this may limit the ability to use certain features on the Site.
              %li
                vi.	Social media features: The Site includes social-media features, such as the Facebook “like” button and widgets, such as the “share this” button or interactive mini-programs. These features may collect a Client’s Log Files data. These features are either hosted by a third party or hosted directly on our Site. Your interactions with these features are governed by the privacy policies of the company providing them.
          %li
            (b)	User’s Information.  

        i.	User’s information: Use of the Services does not require that our Clients provide to Shortcut, and Shortcut requests that its Clients do not provide to it, any PII relating to their Users. To the extent Shortcut does receive any PII as part of the User Information, Shortcut shall make reasonable efforts, consistent with this Privacy Policy, to maintain the confidentiality of such PII. When a Client uses our Services, Shortcut collects various non-PII information about the User via the Client’s apps, including Traffic Data and Log Files.

        ii.	Deep Links: Shortcut offers “deep links”, which are hyperlinks that enables a Client to recognize mobile devices over time. When a Client chooses to install such a “deep link” and the user clicks on it, we collect information such as the user’s mobile platform, SDK version, timestamp, API key (identifier for application), application version, device identifier, iOS Identifier for Advertising, iOS Identifier for Vendors, Android Advertiser ID, Media Access Control (MAC) address, IP address, device type, International Mobile Equipment Identity (IMEI), the device model, manufacturer and device O/S, session start/stop time, device uptime, locale (specific location where a given language is spoken), mobile network code/mobile country code, time zone, network status (WiFi, etc.), memory, disk, the CPU and battery usage information. 

        iii.	Cookies: We use "cookies" and other tracking or storing technologies for Users’ information as well. This information helps us to identify a User's device(s) pursuant to providing the Services, and to optimize the Services offered by us. A User may decline our cookies if their browser permits, although this may limit your ability to use certain features on the Site.

        iv.	Post-Install: When a User installs and opens a mobile App that contains the Shortcut SDK, the Service collects the same information from the device described above (i.e., IP address, O/S and O/S version, etc.) and ascertains whether it is likely that the same device that previously clicked on a deep link is the same device that installed and downloaded that particular App. If our technology has a reasonable level of confidence that it is the same device, the Service merges the information collected prior to the App being installed with the information collected post App install. This enables our Clients to better understand which deep links are effective, enables them to better understand their advertising and marketing programs and enables them to customize their User’s experience with their Apps.

        4.	Using Information.

        (a)	How the Client Uses the Information.  

        Our Clients generally use the information collected via the Services to optimize their Users’ discovery and use of the Client’s app, and to boost their app retention. 

        (b)	How Shortcut Uses the Information.  

        Shortcut uses the Client’s PII to provide the Services and to communicate to the Client. We use Traffic Data to learn more about the Client' use of the Site and to improve the quality of the content and functionality of the Site, as well as to target our offerings to the people most interested in them based on their use of the Site. We use Traffic Data collected from the User to create charts and other analytics for the Client to better understand, and interact with, their Users with the sole purpose of understanding and improving their app conversion and retention. 

        5.	Sharing Information.  

        Except as described in this Privacy Policy, including without limitation the sections below, Shortcut does not rent, sell, or share personal information collected on the Site or through the Services with other parties or nonaffiliated companies. 

        (a)	Third Party Service Providers. 

        Shortcut may hire other companies to perform certain business-related functions, such as maintaining databases, sending email messages, offering and developing certain features of the Services, and maintenance and security. For example, we use a customer-support tool provided by a third party service to enhance our customer service and response times to customer support requests. When we employ another company to perform a function of this nature, we only provide them with the personal information that they need to perform their specific function. We may also share aggregated or anonymized information without restriction.

        (b)	Legal Requirements.

        Shortcut may disclose any collected data if required to do so by law or in the good faith belief that such action is necessary to (i) comply with a legal obligation or assist government enforcement agencies, (ii) protect and defend the rights or property of Shortcut or its Clients, (iii) protect against legal liability; or (iv) protect the security or integrity of the Services.

        (c)	Merger and Acquisitions; Bankruptcy.

        Your personal information may be provided to a party if Shortcut files for bankruptcy, or there is a transfer of the assets or ownership of Shortcut in connection with proposed or consummated corporate reorganizations, such as mergers, acquisitions or other change of control.

        6.	Updating and Opting Out. 

        You can access, review and change the information you submitted to us by logging into the Site and entering in the new information yourself, or delete the account. You must promptly update your personal information if it changes or is inaccurate. 
        You may opt out of receiving electronic communications from us or our partners by following the instructions in those emails. All such materials sent to you will contain information about how to opt out. Please note, however, that you cannot opt out of certain messages, such as non-promotional emails regarding your account, payment, and/or use of the Services. 

        7.	Security.  

        Your information is stored on servers located in the United States and Ireland, either by us or by a third party acting on behalf of Shortcut. By using the Site and our Services, you consent to have your data, including your personal information, processed in the United States. If you do not consent to processing of your data in the United States, please send us an email at info@shortcutmedia.com and we will process and store your data on servers located in Ireland. We have implemented reasonable procedural, physical and technical safeguards to protect your personal information against loss, theft or alteration as well as unauthorized access and disclosure. However, "perfect security" does not exist on the Internet or with electronic storage, and we cannot guarantee the security of any information that you or your users submit to us.

        8.	Submissions.

        The Site may allow registered Clients to post information on various forums, including message boards, blogs, social media channels, chat rooms and other "public" spaces. Clients can also provide feedback to Shortcut via the Contact webpage. Any information posted at such spaces, including without limitation, ideas, know-how, techniques, questions, reviews, comments, images and suggestions (collectively, “Submissions”), is not covered by this Privacy Policy. Submissions will be treated as non-confidential and non-proprietary, and Shortcut shall have the royalty-free, worldwide, perpetual, irrevocable and transferable right to use, copy, distribute, display, publish, perform, sell, lease, transmit, adapt, create derivative works from such Submissions by any means and in any form, and to translate, modify, or decompile such Submissions. All Submissions shall automatically become Shortcut’s sole and exclusive property and shall not be returned to you.

        9.	Children.  

        Shortcut does not intentionally collect personal information from anyone under the age of 13. If you are under the age of 13, please do not attempt to register with us at this Site or provide any personal information about yourself to us. If we learn that we have collected personal information from a child under the age of 13, we will promptly delete that information. If you believe that we might have any information from a child under the age of 18, please email us at info@shortcutmedia.com.

        10.	Other Websites.

        The Site may contain links and interactive functionality interacting with the websites of third parties that are not owned or controlled by Shortcut. The information practices of those websites linked to the Site is not covered by this Privacy Policy. If you submit personal information to any of those sites, your information is governed by their privacy policies. We recommend that you review the terms and privacy policies of each such website. 

        Shortcut requires that our Clients utilize our Services in accordance with our Terms of Service. We are not responsible for the data practices of any of our Clients. Each Client’s practices are subject to each Client’s individual privacy policies. Users should review the privacy policy of any company prior to sharing their information. 

        11.	International Data Transfers. 

        To provide you with the Services, we may store, process and transmit information in the United States, Ireland and other locations around the world – including those outside your country. Information may also be stored locally on the devices you use to access the Services. In the process of providing our Site or Services, we may transfer information across borders from your country or jurisdiction into the United States. The high level of privacy protection provided by Shortcut is very important to us. If you have a complaint about your privacy and our collection or use of your personal information, please submit any complaints to info@shortcutmedia.com, and we commit to responding to every privacy complaint we receive.

        12.	Contact Us.  

        Shortcut regularly reviews its compliance with this Privacy Policy. Please feel free to contact us with any questions or concerns regarding this Privacy Policy or our handling of personal information by contacting us through this Site or at info@shortcutmedia.com. If we receive formal written complaints at this address, it is our policy to contact the complaining party regarding his or her concerns. We will cooperate with the appropriate regulatory authorities, including local data protection authorities, to resolve any complaints regarding the transfer of personal data that cannot be resolved between Shortcut and an individual.
        
          
          
          
          
          
= partial 'call_to_action'
