---
title: Shortcut - Terms of Service
description: The ultimate tools for app user retention and improved app performance. Try now!

meta:
  og:title: Shortcut - The growth engine for apps
  og:url: https://shortcut.sc
  og:site_name: SShortcut - The growth engine for apps
  og:description: Turn your app into a smart engine of growth. Get sticky, grow virally and invest in downloads.
  fb:app_id: 176995982338808
  og:type: website
  og:image: shortcut-growth-engine-for-app-meta.png
  og:image:type: image/png
  og:image:width: 1200
  og:image:height: 630

---

.PageStripe.white
  .PageContainer.legalese-segment
    %h1
      Terms of Service
    %p
      Last Updated: March 2016

    %hr

    %h2
      1. Introduction and Acceptance.
    %p
      Welcome to www.shortcut.sc, a website owned and operated by Shortcut Media AG. ("Shortcut" or "We").
    %p
      These Terms of Service (“Terms”) govern your use of the website located at www.shortcut.sc, and all associated sites linked to www.shortcut.sc (collectively, the “Site”) and the services offered on or through the Site (collectively, the “Services”) offered by Shortcut Media AG, a company formed under Swiss law with domicile in Zurich Switzerland. Please read these Terms and the
      = link_to 'Privacy Policy', 'privacy.html'
      carefully before using the Site and the Services. The Privacy Policy is incorporated by reference into these Terms, and these Terms and the Privacy Policy together are referred to as this “Agreement.”
    %p
      BY USING THE SITE AND THE SERVICES, YOU AGREE TO THESE TERMS; IF YOU DO NOT AGREE, DO NOT USE THE SITE.

    %hr

    %h2
      2. Modifications.
    %p
      Shortcut reserves the right, in its sole discretion, to change, modify, add or remove portions of these Terms, at any time. The most current version will be posted on the Site. It is your responsibility to check these Terms periodically for changes. Your continued use of the Site following the posting of changes will mean that you accept and agree to the changes.

    %hr

    %h2
      3. Content.
    %p
      The categories set forth in this Section 3 shall be collectively referred to as “Content” in this Agreement.
    %h4
      (a) Proprietary Material.
    %p
      The Site, content, product designs, logos, trademarks, text, editorial content, data, formatting, graphs, graphics, user interfaces, visual interfaces, photographs, artwork and computer code, HTML, “look and feel,” software layout, music, sounds, images, software, videos, designs, typefaces and other content (collectively, the "Proprietary Material") is owned, controlled or licensed by or to Shortcut and protected by trade dress, copyright, patent and trademark laws, and various other intellectual property rights and unfair competition laws. You may not copy, download, use, redesign, reconfigure, or retransmit anything from the Site without Shortcut’s express prior written consent.
    %h4
      (b) Data.
    %p
      The User shall have all rights, title or interest to any data, property or information collected by Shortcut on behalf of the Client in connection with its performance under the Agreement; provided, however, that nothing contained herein shall affect Shortcut’s rights, title or interest to any data, property or information generated, compiled or analyzed by Shortcut Media in connection with its performance under the Agreement, including without limitation any analyzes or reports of aggregated data.

    %hr

    %h2
      4. License.
    %p
      Shortcut hereby grants you a non-exclusive, non-transferable, worldwide right to use the Site and Services subject to these Terms. All rights, not expressly granted to you, are reserved by Shortcut. You shall not, without Shortcut’s express written consent: (a) license, sub-license, sell, resell, transfer, assign, distribute or otherwise commercially exploit or make available to any third party the Services in any way; (b) copy, imitate, mirror, reproduce, distribute, publish, download, display, perform, post or transmit any Content or Proprietary Material in any form or by any means, including, but not limited to, electronic, mechanical, photocopying, recording or otherwise; (c) modify or make derivative works or use based upon the Services; or (d) reverse engineer or access the Services. Any use of the Site or the Content other than as specifically authorized herein, without the prior written permission of Shortcut is strictly prohibited and will terminate the license granted herein. Such unauthorized use may also violate applicable laws, including without limitation intellectual property laws. Unless explicitly stated herein, nothing in these Terms shall be construed as conferring any license to intellectual property rights, whether by estoppel, implication, or otherwise. This license is revocable at any time.

    %hr

    %h2
      5. Your Use of the Site and Services.
    %p
      Except expressly provided in these Terms, you shall not (1) violate the security of the Services or the Site or attempt to gain unauthorized access to the Services, the Site or any network connected to the Site; (2) perform any action which may impair the Services or damage the Site, including without limitation take any action that imposes an unreasonable or disproportionately large load on the infrastructure of the Site or Shortcut’s systems or networks; (3) probe, scan or test the vulnerability of the Site or any network connected to the Site, or breach the security or authentication measures on the Site or any network connected to the Site; (4) use or attempt to use any deep-link, scrape, robot, spider, data mine or other automatic device, program, algorithm or methodology, or any similar or equivalent manual process, to access, acquire, copy or monitor any portion of the Site or any Content, or in any way reproduce or circumvent the navigational structure or presentation of the Site or any Content, to obtain or attempt to obtain any materials, documents or information through any means not purposely made available through the Site; (5) download, store, reproduce, transmit, display, or distribute any part of the Site; or (6) misrepresent your affiliation with Shortcut or any other person or entity. You may not reverse look-up, trace or seek to trace any information on any other user of or visitor to the Site, or any other customer of Shortcut, including any Shortcut account not owned by you, to its source, or exploit the Site or any service or information made available or offered by or through the Site, in any way where the purpose is to reveal any information, including but not limited to personal identification or information, other than your own information, as provided for by the Site. Shortcut reserves the right to bar any such activity.

    %hr

    %h2
      6. Payment.
    %p
      Certain Services are provided at no cost and certain Services are subject to fees. The then-current pricing for these Services will be posted on the Site. The fees for the Services will be billed to your credit card. You must provide current, complete and accurate billing and credit card information. In certain instances, the issuer of your credit card may charge you a foreign transaction fee or related charges, which you will be responsible to pay. You shall be responsible for all applicable taxes that arise in any jurisdiction, including without limitation, value added, consumption, sales or other taxes, fees, duties, or charges imposed on the sale of our products. All fees are non-refundable. You agree to pay all costs of collection, including attorney's fees and costs, on any outstanding balance.

    %hr

    %h2
      7. Termination.
    %h4
      (a) Termination by Shortcut.
    %p
      You agree and acknowledge that Shortcut may, at its sole option, cancel the Services and terminate these Terms without cause at any time with two (2) days written notice to you (email is acceptable). Notwithstanding the above, Shortcut may terminate these Terms immediately for "cause," which includes, without limitation, your failure to provide to Shortcut correct and accurate account information; your failure to provide information in connection with any investigation undertaken by a local, state or federal governmental agency; your violation of any provision of this Agreement or any other terms and conditions posted by Shortcut; or your breach of any representations or warranties made in this Agreement.
    %h4
      (b) Termination by You.
    %p
      You may cancel the Services at any time by deleting your account in the account management section of the Site.  You can also delete your app account by disabling it from your mobile device.
    %h4
      (c) Effect of Termination.
    %p
      Upon account closure, the license granted in this Agreement will end. You will no longer be able to log in to your online and app account, and all data will be permanently deleted from your account. Shortcut is not liable for any lost data in case of an accidental deletion. Shortcut recommends exporting all data periodically to avoid accidental loss of data. Shortcut may, in its sole discretion and without admitting any fault or incurring any liability, attempt to recover deleted data upon your request, and you shall pay for all costs incurred in such a recovery. You shall pay Shortcut all sums then due and owing, if any, within thirty (30) days after the last day of the calendar month in which the termination was effective.

    %hr

    %h2
      8. Privacy and Data Protection.
    %p
      Shortcut collects app attribution data, mobile deep links, registration and other information about you, your apps and devices through the Services. Shortcut also collects information about Users, computers and mobile devices, and mobile application usage. Our collection and use of this information is governed by Shortcut’s Privacy Policy, which is part of this Agreement. You are responsible for adhering to applicable privacy laws and regulations, including but not limited to obtaining any necessary User consents. Except as described in our Privacy Policy, Shortcut does not rent, sell, or share personal information collected on the Site or through the Services with other parties or nonaffiliated companies

    %hr

    %h2
      9. Third Party Content.
    %p
      The Site may contain website links, functionalities as well as advertisements, promotions, products or services of third parties that are not owned or controlled by Shortcut (collectively, “Third Party Content”). Shortcut does not control or endorse such Third Party Content, and is not responsible or liable for the terms, conditions, privacy policies, actions, inactions, opinions, advice, statements, offers, warranties, representations, content or functionality of any such third party or its site. YOUR USE OF THIRD-PARTY WEBSITES AND RESOURCES IS AT YOUR OWN RISK. Shortcut is not responsible or liable for any loss or damage of any sort incurred as the result of any such dealings or as the result of the presence of such third party advertisers on the Site. You agree to indemnify and hold Shortcut harmless in the event of any claim related to Third Party Content.

    %hr

    %h2
      10. Infringers.
    %p
      Shortcut respects the intellectual property of others and expects you to do the same. Shortcut responds in its reasonable discretion to notices of alleged copyright infringement if they comply with the law, including the Digital Millennium Copyright Act, of 1998 (“DMCA”), and reserves the right to remove the challenged Content from the Site or terminate the accounts or access to the Site of any users who infringe any intellectual property rights of others, whether or not there is any repeat infringement. If you are a copyright owner (or their agent) and believe that your work has been used in a way on the Site that infringes your rights, please send us a DMCA compliant notice by email to: info@shortcutmedia.com.

    %hr

    %h2
      11. Account, Password, Security.
    %p
      You are solely and fully responsible for (a) maintaining the confidentiality of any user ID, password, account number or any other confidential information relating to your account; and (b) all activities that occur under your password or account, and Shortcut disclaims any liability derived therefrom. If you suspect any unauthorized use of your password or account, you will contact Shortcut as soon as reasonably practicable. You represent and warrant that (1) all data provided by you for registration is accurate, non-misleading and complete; (2) any changes in the registration data will be reported to us by you within 5 days upon the occurrence of the change. Access to certain areas of the Site is restricted. Shortcut reserves the right to restrict access to other areas of the Site, or indeed its whole Site, in its sole discretion.

    %hr

    %h2
      12. Indemnification.
    %p
      You agree to protect, defend, indemnify and hold harmless Shortcut, its owners, affiliates, subsidiaries, parents, shareholders, officers, directors, agents, employees, assigns and representatives ("we" or "us" for purposes of this provision), from and against any and all claims, losses, liabilities, causes of action, judgments, penalties, costs, damages and expenses (including attorneys' fees, litigation costs and expenses) incurred by us, including, without limitation, any claim for personal injury or property damage arising from or related to your violation of: (a) this Agreement, including the representations and warranties made herein; (b) any rights of a third party right through your use of the Services; (c) your collection, storage or use and/or transfer of data; or  (d) any applicable law or government regulation.

    %hr

    %h2
      13. Representations and Warranties.
    %p
      Each party represents and warrants that it has the legal power and authority to enter into this Agreement. You represent and warrant that:
    %p
      %ol
        %li
          you have not falsely identified yourself nor provided any false information to gain access to the Services;
        %li
          your billing information is correct;
        %li
          you will at all times during the term of this Agreement comply with the terms of this Agreement;
        %li
          you are and will at all times during the term of this Agreement comply with any applicable domestic or international laws, including without limitation laws, rules and regulations related to intellectual property and privacy;
        %li
          you are not accessing and have not accessed the Services to commit illegal acts or violate any provisions of this Agreement;
        %li
          you will not use the Services to: (i) post, email, or otherwise transmit any information that contains anything unlawful, harmful, threatening, abusive, harassing, tortious, defamatory, vulgar, obscene, libelous, invasive of another's privacy, hateful, or racially, ethnically or otherwise objectionable; (ii) harm Shortcut or third parties in any way; (iii) impersonate any person or entity, or otherwise misrepresent your affiliation with a person or entity; (iv) post, email, or otherwise transmit any information that you do not have a right to transmit under any law or under contractual or fiduciary relationships (such as inside information, proprietary and confidential information learned or disclosed as part of employment relationships or under nondisclosure agreements); (v) post, email or otherwise transmit any information that infringes any patent, trademark, trade secret, copyright, or other right of any party; (vi) post, email, or otherwise transmit any unsolicited or unauthorized advertising, promotional materials, "junk mail," "spam," "chain letters," "pyramid schemes," or any other forms of unauthorized solicitation; (vii) post, email, or otherwise transmit any material that contains software viruses or any other computer code, files, or programs designed to interrupt, destroy, or limit the functionality of any computer software or hardware or telecommunications equipment; (viii) interfere with or disrupt the Services or servers or networks connected to the Services, or disobey any requirements, procedures, policies or regulations of networks connected to the Services; (ix) intentionally or unintentionally violate any applicable local, state, national or international law or regulation; (x) collect or store personal data about other users in a way that violates applicable law.
        %li
          you are the authorized party and (if applicable) signatory to the payment mechanism used to open and maintain your account; and
        %li
          you are responsible for any use, activity, and charges incurred by you and any other users under your account.
    %p
      You acknowledge that your breach of these representations and warranties shall entitle Shortcut to injunctive relief (monetary damages not being sufficient remedy), as well as available monetary damages and its attorneys' fees and costs.

    %hr

    %h2
      14. Disclaimer of Warranty.
    %p
      Shortcut represents and warrants that it will provide the Services in a manner consistent with general industry standards reasonably applicable to the provision thereof. EXCEPT AS SET FORTH HEREIN, SHORTCUT MAKES NO FURTHER WARRANTY, EXPRESS OR IMPLIED, REGARDING THE SITE OR THE SERVICES, AND HEREBY DISCLAIMS ALL OTHER WARRANTIES (EXPRESS OR IMPLIED) INCLUDING, BUT NOT LIMITED TO THE IMPLIED INDEMNITIES AND WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT. SHORTCUT DOES NOT REPRESENT OR WARRANT THAT THE SERVICES WILL MEET ANY OF YOUR EXPECTATIONS OR REQUIREMENTS OR THAT THE SERVICES ARE PROVIDED SECURELY OR WITHOUT ERRORS. THE SERVICES ARE PROVIDED ON AN "AS AVAILABLE" BASIS AND WE MAKE NO WARRANTIES THAT THE SERVICES WILL BE TIMELY, ACCURATE OR AVAILABLE AT ALL TIMES, OR FOR A PARTICULAR PERIOD OF TIME WITHOUT INTERRUPTIONS. CUSTOMER USE OF THE SERVICES IS AT YOUR SOLE DISCRETION AND RISK. ANY MATERIAL THAT YOU ACCESS OR OBTAIN THROUGH OUR SERVICES IS DONE AT YOUR OWN DISCRETION AND RISK AND YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF ANY MATERIAL THROUGH OUR SERVICES. NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM SHORTCUT OR THROUGH OR FROM THE SERVICES WILL CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THIS AGREEMENT. SHORTCUT IS NOT RESPONSIBLE FOR ANY DAMAGE TO CUSTOMER'S COMPUTER SYSTEMS RESULTING FROM THE USE OF THE SITE.

    %hr

    %h2
      15. Limitation of Liability.
    %p
      SHORTCUT SHALL NOT BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES WHETHER ARISING IN AN ACTION FOR BREACH OF CONTRACT, TORT OR ANY OTHER CAUSE OR THEORY OF LIABILITY. SHORTCUT SHALL NOT BE LIABLE TO YOU OR ANYONE THIRD PARTY FOR ANY LOSS OR INJURY ARISING OUT OF OR CAUSED, IN WHOLE OR IN PART, BY NEGLIGENT ACTS OR OMISSIONS IN COMPILING, COLLECTING, PROCESSING, COMMUNICATING OR DELIVERING MAIL OR HANDLING PHYSICAL OR DIGITAL DOCUMENTS, DIRECTLY OR INDIRECTLY. YOU AGREE AND ACKNOWLEDGE THAT THE TOTAL AMOUNT OF SHORTCUT’S LIABILITY, IF ANY, FOR ANY AND ALL CLAIMS, CAUSES OF ACTION, LOSSES, DAMAGES, OR JUDGMENTS ARISING OUT OF OR RELATED TO THIS AGREEMENT OR THE SERVICES SHALL NOT EXCEED $500.00 WITHOUT REGARD TO THE NATURE OF THE CLAIM, LOSSES OR DAMAGES INCURRED. SHORTCUT SHALL NOT BE LIABLE FOR ANY OTHER LOSS, CLAIM, DAMAGE OR INJURY ARISING OUT OF, RELATED TO, OR IN ANY WAY CONNECTED WITH THIS AGREEMENT OR THE PROVISION OF ANY SERVICES PURSUANT TO THESE TERMS BECAUSE SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, THE ABOVE LIMITATION MAY NOT APPLY TO YOU.

    %hr

    %h2
      16. Force Majeure.
    %p
      In the event that either party is prevented from performing, or is unable to perform, any of its obligations under this Agreement (except payment obligations) due to any cause beyond its reasonable control, the affected party shall give written notice thereof to the other party and its performance shall be extended for the period of delay or inability to perform due to such occurrence.

    %hr

    %h2
      17. Notice.
    %p
      By using the Services, you consent to receiving electronic communications from Shortcut. You agree that any notice, agreements, disclosure or other communications that we send to you electronically will satisfy any legal requirements for written communication.

    %hr

    %h2
      18. Governing Law.
    %p
      This Agreement will be governed by and in accordance with laws of the State of California. For parties residing in North America, the exclusive jurisdiction and venue for any claims arising out of or related to this Agreement or your use of the Services will lie in the state and federal courts located in San Francisco, California, regardless of choice of law rules. You hereby consent to, and waive all defenses of lack of personal jurisdiction and forum non conveniens with respect to venue and jurisdiction in the state and federal courts of California. You agree that any dispute resolution proceedings will be conducted only on an individual basis and not in a class, consolidated or representative action. For parties residing outside of North America, the exclusive jurisdiction and venue for any claims arising out of or related to this Agreement or your use of the Services will lie in the courts in Zurich, Switzerland.

    %hr

    %h2
      19. Severability.
    %p
      Should any provision of these Terms be held invalid void, or otherwise unenforceable, that provision shall be deleted, but all other provisions, as well as the remaining portion (if any) of the invalid, void or unenforceable provision, shall continue in full force and effect.

    %hr

    %h2
      20. Non-Waiver.
    %p
      Failure or neglect by Shortcut to enforce any of the provisions of these Terms shall not be construed or deemed a waiver of its rights nor shall this affect the validity of the whole or any part of these Terms, nor prejudice Shortcut’s rights to take subsequent action.

    %hr

    %h2
      21. Assignment.
    %p
      You may not assign this Agreement without Shortcut’s prior written approval. Shortcut may assign this Agreement without your consent.

    %hr

    %h2
      22. Entire Agreement.
    %p
      This Agreement, which includes the Privacy Policy, constitutes the entire agreement, and supersedes all prior or contemporaneous oral or written understandings and agreements concerning the subject matter of this Agreement.


= partial 'components/call_to_action'

