---
title: Terms and Conditions · Shortcut Media
---

%section.white.header
  .container
    .row
      .col-sm-12
        %h1
          Terms and Conditions
        %p
          These General Terms and Conditions (hereinafter the "GTC") govern the legal relationship (hereinafter the "Agreement") between you on one part (hereinafter "you") and Shortcut Media AG. with its legal domicile in Zurich, Switzerland on the other part (hereinafter "Shortcut”, "we" or "us", together the "Parties") concerning the services rendered by Shortcut as described on the website http://shortcutmedia.com and its sub-domains (hereinafter the "Services") as well as the usage of our website itself.
        %p
          In order to use the Services, you must first agree to the Terms. You may not use the Services if you do not accept the Terms.
        %p
          You accept these terms by (1) signing a contract related to one of our business products, or (2) clicking to accept or agree on the terms, or (3) by actually using the Services in this case you understand that Shortcut will treat your use of the Services as implicit acceptance of these terms.
        %p
          If you disagree with any part of these terms, do not use our Services.
        %p
          Before you continue, you should print off or save a local copy of these Terms for your records.
        %h2
          Services, Change of Services, and Fees
        %p
          The Services consist of products, widgets, APIs, services and web sites hosted or made available by us, which you may use directly or indirectly for the purpose of image recognition and further processing of the search result such as sharing, redirecting to third party web sites or services, and storing on multiple computer and network platforms.
        %p
          Shortcut is entitled to change, amend or cancel the Services or parts thereof in its free discretion at any time.
        %p
          You acknowledge and agree that all information, data, text, images, graphics, tags and other materials, in whatever form and technical structure, whether publicly posted or privately transmitted or stored using the Services (hereinafter the "User Content"), are the sole responsibility of the person(s) originating such User Content and introducing such User Content into the Services. We reserve the right, but shall have no obligation, to pre-screen, reject, review, quarantine, delete or move any User Content available with the Services, without obligation to any person.
        %p
          Content such as reference images (hereinafter the "Reference Images"), descriptions, tags, links, metadata etc. uploaded to our reference database (hereinafter the "Reference Content") to be recognizable by others is subject of a review process for reasons of quality assurance. We might change, not accept, or charge this Reference Content (in accordance with the pricing and the payment conditions as indicated on our website).
        %p
          Due to technological restrictions, we limit the Reference Images to printed matter. You are not allowed to upload any Reference Images aiming at directly recognizing humans, faces, plants, animals, clothing, shoes, bags, cars, logos, consumer electronics such as TVs, photo cameras, etc, furniture, jewelry, etc. Shortcut is in such cases allowed to delete the Reference Content immediately without notice. You are allowed to upload reference images containing any printed matter such as product labels, print pages, billboards, etc.
        %p
          We can charge you when uploading any Reference Content related to print advertising such as newspaper ads, billboard advertising, catalogue pages, corporate publishing, etc. The pricing and the payment conditions are indicated on our website and are integral part of these GTC. Any other Services are provided to you free of charge. We reserve, however, the right to charge for such Services at any time.
        %h2
          Your Passwords and Account Security
        %p
          You agree and understand that you are responsible for maintaining the confidentiality of passwords associated with any account you use to access the Services. Accordingly, you agree that you will be solely responsible to us for all activities that occur under your account.
        %p
          If you become aware of any unauthorized use of your password or of your account, you agree to notify us immediately at support@shortcutmedia.com
        %p
          You represent and warrant that (1) all data provided by you for registration is accurate, non-misleading and complete; (2) any changes in the registration data will be reported to us by you within 5 days upon the occurrence of the change
        %p
          You acknowledge that we shall have the right to disable your access to our website immediately in our free discretion.
        %h2
          Reservation of Rights
        %p
          All rights, title and interest (including all database rights, copyrights, trademarks and other intellectual property rights) in the Services and our website belong to Shortcut. Except as expressly provided in these GTC, nothing contained herein shall be construed as conferring any license or right to you.
        %h2
          Conduct of Usage of the Services and our Website  
        %p
          Except expressly provided in these GTC, you shall not (1) violate the security of the Services or our website or attempt to gain unauthorized access to our Services or our website; (2) perform any action which may impair the Services or the operability of our website; (3) use our website in any way that causes, or may cause, damage to the website or impairment of the availability or accessibility of the website; (4) use or attempt to use any deep-link, scraper, robot, spider, data mining, computer code or any other device, tool or program to access, acquire or monitor any part of our website;  (5) download, store, reproduce, transmit, display, or distribute any part of our website; (6) upload, post or otherwise transmit any unsolicited or unauthorized advertising, promotional materials, mass mailings, junk mails, spam, chain letters, pyramid schemes or any other form of solicitation; (7) use our website for any purposes related to marketing without our express written consent; (8) sell, rent, lease or make otherwise available the Services or our website to third parties; (9) remove, obscure, or alter any proprietary rights notices (including copyright and trade mark notices) which may be affixed to or contained within the Services; (10) copy, redistribute or modify content which is provided by Shortcut's partners, such as text, images, and PDF documents; (11) upload, post or otherwise transmit any information or use the Services or our website or parts thereof in any manner that infringes or violates the rights of us or any third party, the applicable laws or regulations; (12) upload, post, or otherwise transmit material that is defamatory, obscene, indecent, hateful, discriminatory or inflammatory, infringes any person's intellectual property rights or rights of confidence, impinge upon any person's privacy, or constitute incitement to commit a crime or otherwise violates applicable laws; (13) misrepresent your affiliation with Shortcut or any other person or entity.
        %p
          You may use the Services and our website only to the extent necessary to do so in accordance with these GTC.
        %h2
          Limitations of Liability and Warranty
        %p
          OUR LIABILITY UNDER OR IN CONNECTION WITH THE SERVICES AND THESE GTC SHALL BE LIMITED TO THE EXTENT POSSIBLE BY THE GOVERNING LAW.
        %p
          THE SERVICES AND OUR WEBSITE ARE PROVIDED ON AN "AS IS", "WITH ALL FAULTS", AND "AS AVAILABLE" BASIS AND THE ENTIRE RISK AS TO SATISFACTORY QUALITY, PERFORMANCE, ACCURACY AND EFFORTS IS WITH YOU. WE DO NOT MAKE ANY REPRESENTATIONS OR WARRANTIES, EXPRESS OR IMPLIED, UNDER THESE GTC. ANY AND ALL REPRESENTATIONS AND WARRANTIES OF US UNDER OR IN CONNECTION WITH THESE GTC ARE EXCLUDED TO THE EXTENT LEGALLY POSSIBLE, INCLUDING BUT NOT LIMITED TO REPRESENTATIONS AND WARRANTIES (1) OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, WORKMANLIKE EFFORT, ERROR-FREE ACCESS TO OUR WEBSITE OR USE THEREOF; (2) OF UNINTERRUPTED OR ERROR-FREE ACCESS OR USE OF THE SERVICES OF OUR WEBSITE.
        %p
          You shall indemnify, defend and hold harmless us, to the fullest extent permitted by law, against any cause of action, all liabilities, losses, costs or expenses (including reasonable fees and expenses of legal counsel) with respect to any claim by third parties arising out of your failure to perform your obligations under the GCT.
        %h2
          Restricted Access to our Website
        %p
          Access to certain areas of our website is restricted. We reserve the right to restrict access to other areas of our website, or indeed our whole website, at our free discretion.
        %h2
          Termination
        %p
          You may discontinue your use of the Services at any time with or without notice.
        %p
          We may also terminate the Services provided to you, or your access to or use of the Services, with or without notice, in our free discretion. Reasons for us terminating your account or the Service include, without limitation a breach or violation by you of any provision of these GTC.
        %h2
          Copyright and Trademark Policies
        %p
          It is our policy to respond to notices of alleged copyright infringement that comply with applicable international intellectual property law and to terminating the accounts of infringers.
        %h2
          Variation of these GTC
        %p
          We reserve the right to modify these GTC at any time, without giving reasons. We shall give due notice of any modifications of these GTC to you. If you do not object to the applicability of the revised GTC within 20 days after receipt of said notice, the modified GTC shall be deemed to be accepted by you. If you do not agree to any change in the GTC, the Agreement shall be terminated automatically and you shall stop to use the Services our website and its contents immediately.
        %h2
          Data Protection
        %p
          Our Data Protection Policy as set out on our website shall form integrated part of the GTC. Upon clicking of the acceptance icon indicated on our website you confirm to have read our Data Protection Policy and are bound by it.
        %h2
          Advertisements
        %p
          Some of the Services are supported by advertising revenue and may display advertisements and promotions. These advertisements may be targeted to the content of information stored on the Services, queries made through the Services or other information.
        %p
          The manner, mode, and extent of advertising by us on the Services are subject to change without specific notice to you.
        %p
          In consideration for us granting you access to and use of the Services, you agree that we may place such advertising on the Services.
        %h2
          Miscellaneous
        %p
          These GTC together with our Privacy Policy and possible commercial contracts constitute the entire agreement between you and us in relation to your use of the Services and our website.
        %p
          Failure or neglect by us to enforce any of the provisions of these GTC shall not be construed or deemed to be a waiver of our rights nor shall this affect the validity of the whole or any part of these GTC, nor prejudice our rights to take subsequent action.
        %p
          Should any provision of these GTC be invalid or unenforceable, the remaining provisions shall be valid. In the place of an invalid provision, a valid provision is presumed to be agreed upon by the Parties, which comes economically closest to the one actually agreed upon.
        %h2
          Law and Jurisdiction
        %p
          All disputes arising out of or in connection with these GTC shall be governed by substantive Swiss law excluding the conflict of law rules and the Laws in treaties.
        %p
          Any disputes relating to these GTC shall be subject to the exclusive jurisdiction of the courts of Zurich, Switzerland.
          
= partial 'call_to_action'
