<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <error statusCode="404" responseMode="ExecuteURL" path="/404.html" />
    </httpErrors>
    <rewrite>
      <rules>
        <rule name="Redirect blog.shortcutmedia.com to blog.shortcut.sc" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^blog\.shortcutmedia\.com$" />
          </conditions>
          <action type="Redirect" url="http://blog.shortcut.sc/{R:0}" redirectType="Permanent" />
        </rule>
         <rule name="Redirect shortcutmedia.com to shortcut.sc" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^(www\.)?shortcutmedia\.com$" />
          </conditions>
          <action type="Redirect" url="https://shortcut.sc/{R:0}" redirectType="Permanent" />
        </rule>
        <rule name="Redirect www to host-less domain" stopProcessing="true">
            <match url=".*" />
            <conditions>
                <add input="{HTTP_HOST}" pattern="^www\.shortcut\.sc$" />
            </conditions>
            <action type="Redirect" url="https://shortcut.sc/{R:0}" redirectType="Permanent" />
        </rule> 
        <rule name="Force HTTPS" enabled="true">
          <match url="(.*)" ignoreCase="false" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
